{% load  i18n %}

{% if firstcalendar %}
    {% for key, cal in firstcalendar.items %}
        <div class="owner_calendar_month clearfix">
            <div class="owner_calendar_month_header">{{ key }}</div>
            <div class="owner_calendar_day_names">

                <div class="owner_calendar_day_name">{% trans 'Mo' %}</div>

                <div class="owner_calendar_day_name">{% trans 'Tu' %}</div>

                <div class="owner_calendar_day_name">{% trans 'We' %}</div>

                <div class="owner_calendar_day_name">{% trans 'Th' %}</div>

                <div class="owner_calendar_day_name">{% trans 'Fr' %}</div>

                <div class="owner_calendar_day_name owner_calendar_day_name_we">
                    {% trans 'Sa' %}
                </div>

                <div class="owner_calendar_day_name owner_calendar_day_name_we">
                    {% trans 'Su' %}
                </div>
            </div>

            {% if leftFirst %}
                {% for l in leftFirst %}
                    <div class="owner_calendar_period am disabled"></div>
                    <div class="owner_calendar_period pm disabled"></div>
                {% endfor %}
            {% endif %}

            {% for key2, cal2 in cal.items %}

                <div class="owner_calendar_period am {% if cal2.0.disabled %} disabled {% else %} available selectable_period  {% endif %}"
                     data-period="{&quot;date&quot;:&quot;{{ cal2.0.date }}&quot;,&quot;time&quot;:&quot;am&quot;,&quot;weekDay&quot;:{{ cal2.0.weekDay }}}"
                     data-new-status="{% if not cal2.1.disabled %}unavailable{% endif %}"
                     data-index="{{ key2 }}">
                </div>

                <div class="owner_calendar_period pm {% if cal2.1.disabled %} disabled {% else %}  available selectable_period  {% endif %}"
                     data-period="{&quot;date&quot;:&quot;{{ cal2.1.date }}&quot;,&quot;time&quot;:&quot;pm&quot;,&quot;weekDay&quot;:{{ cal2.1.weekDay }}}"
                     data-new-status="{% if not cal2.1.disabled %}unavailable{% endif %}"
                     data-index="{{ key2 }}">
                    <div class="owner_calendar_day_number">{{ key2 }}</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

{% if lists %}
    {% for key2, cal2 in lists.items %}
        {{ cal2.leftFirst }}
        {% for key, cal in cal2.secondcalendar.items %}
            <div class="owner_calendar_month clearfix">
                <div class="owner_calendar_month_header">{{ key }}</div>
                <div class="owner_calendar_day_names">

                    <div class="owner_calendar_day_name">{% trans 'Mo' %}</div>

                    <div class="owner_calendar_day_name">{% trans 'Tu' %}</div>

                    <div class="owner_calendar_day_name">{% trans 'We' %}</div>

                    <div class="owner_calendar_day_name">{% trans 'Th' %}</div>

                    <div class="owner_calendar_day_name">{% trans 'Fr' %}</div>

                    <div class="owner_calendar_day_name owner_calendar_day_name_we">{% trans 'Sa' %}</div>

                    <div class="owner_calendar_day_name owner_calendar_day_name_we">{% trans 'Su' %}</div>

                </div>
                {% if cal2.leftsecond %}
                    {% for l in cal2.leftsecond %}
                        <div class="owner_calendar_period am disabled"></div>
                        <div class="owner_calendar_period pm disabled"></div>
                    {% endfor %}
                {% endif %}

                {% for key2, cal2 in cal.items %}
                    <div class="owner_calendar_period am available selectable_period "
                         data-period="{&quot;date&quot;:&quot;{{ cal2.0.date }}&quot;,&quot;time&quot;:&quot;am&quot;,&quot;weekDay&quot;:{{ cal2.0.weekDay }}}"
                         data-new-status="unavailable"
                         data-index="{{ key2 }}">
                    </div>

                    <div class="owner_calendar_period pm  available selectable_period   "
                         data-period="{&quot;date&quot;:&quot;{{ cal2.1.date }}&quot;,&quot;time&quot;:&quot;pm&quot;,&quot;weekDay&quot;:{{ cal2.1.weekDay }}}"
                         data-new-status="unavailable"
                         data-index="{{ key2 }}">
                        <div class="owner_calendar_day_number">{{ key2 }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
