{% load i18n %}
{% load static %}


<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', "550086255200708");
    fbq('track', "PageView");
</script>


<link rel="stylesheet" media="screen"
      href="{% static 'css/chunk-first.css' %}">
<link rel="stylesheet" media="screen"
      href="{% static 'css/chunk.css' %}">

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    var gaConfig = {};
    gaConfig['cookieDomain'] = 'drivy.co.uk';
    gaConfig['userId'] = '2852584';
    ga('create', 'UA-15846816-35', gaConfig);
    ga('require', 'displayfeatures');
    ga('set', 'anonymizeIp', true);

    function gaHitTimestamp() {
        var now = new Date();
        var pad = function (num) {
            var norm = Math.abs(Math.floor(num));
            return (norm < 10 ? '0' : '') + norm;
        };

        return now.getUTCFullYear()
            + '-' + pad(now.getUTCMonth() + 1)
            + '-' + pad(now.getUTCDate())
            + ' ' + pad(now.getUTCHours())
            + ':' + pad(now.getUTCMinutes())
            + ':' + pad(now.getUTCSeconds())
    }

    // Session
    ga('set', 'dimension9', new Date().getTime() + '.' + Math.random().toString(36).substring(5))
</script>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
</script>


<div class="js_site_content site_content">

    <div>
        <div class='row'>
            <div class='col-xs-12 no-outer-gutter-xs'>
                <div class='nav_container nav_stacked'>
                    <div class='row'>
                        <div class='col-sm-12 col-xs-12'>
                            <div class='tab_panes_container formated_text'>
                                <div class='tab_pane active' id='tab_calendar'>
                                    <div class='cobalt-Card'>
                                        <div class='cobalt-Card__Section'>
                                            <h2 class='no_top_margin'>Calendar</h2>
                                            <p class='top20'>
                                                To change the availability for a period, click on the first half-day of
                                                the period, then the last half-day.
                                                <a class='js_popup_trigger' href='#help'>
                                                    Find out more
                                                </a>
                                            </p>
                                            <div class="owner_calendar_legend_container">
                                                <div class="calendar_state">
                                                    <div class="calendar_state_color available"></div>
                                                    <div class="calendar_state_title">Available</div>
                                                </div>
                                                <div class="calendar_state">
                                                    <div class="calendar_state_color unavailable"></div>
                                                    <div class="calendar_state_title">Unavailable</div>
                                                </div>
                                            </div>
                                            <div id="help" class="popin js_popin mfp-hide">
                                                <button name="button" type="button" title="Close"
                                                        class="mfp-close"></button>
                                                <div class="popin_header">Help</div>
                                                <hr class="popin_header_hr"></hr>
                                                <div class="popin_content popin_text_content"><p>To update your
                                                    calendar, click on the first and last half-day of the period to be
                                                    modified, then select &#39;Available&#39; or &#39;Unavailable&#39;.
                                                    If your vehicle is always available at the same time, use the
                                                    “Repeat” option.</p>
                                                    <p>
                                                        <strong>Tip: update your calendar as often as possible.</strong>
                                                    <ul>
                                                        <li>Your listing will move up the search results.</li>
                                                        <li>This will save time when managing your rentals.</li>
                                                        <li>You&#39;ll get more rental requests (your listing shows when
                                                            your calendar was last updated).
                                                        </li>
                                                    </ul>
                                                    </p>
                                                    <p>NB: you can receive a rental request even if your car is marked
                                                        as unavailable or booked on the half-day at the start or end of
                                                        the rental (if the timings are compatible).</p>
                                                </div>
                                                <div class="popin_footer">
                                                    <button class='cobalt-Button cobalt-Button--fullWidth js_popin_close'>
                                                        Close
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="js_car_calendar calendar_normal editable" id="js_owner_calendar"
                                                 data-availabilities="{% autoescape off %}{{ dateobj }}{% endautoescape %}"
                                                  data-size="normal" data-months="6" data-past-months="0"
                                                 data-path="{% url 'add-calendar-date' %}"></div>
                                            <div class="">
                                                <input type="hidden" value="{{ year_month_day }}" class="year_month_day"
                                                       data-last="{{ year_month_day }}">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
