{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="en-">
<head>
    <base href="/auth/">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">
    <link media="all" rel="stylesheet" href="{% static '/auth/css/index.css' %}"/>
    <title>TravelCar</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://static.travelcar.com/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.travelcar.com/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static.travelcar.com/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://static.travelcar.com/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://static.travelcar.com/favicon/safari-pinned-tab.svg" color="#3c2659">
    <link rel="shortcut icon" href="https://static.travelcar.com/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#3c2659">
    <meta name="msapplication-config" content="https://static.travelcar.com/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% include 'layouts/media/group/alertifyjs_front_javascript_css.html' %}
</head>
<body>
<div class="row no-gutters h-100 register-form">
    <div class="branding visible-xs visible-sm">
        <div class="vertical-center"><img class="img-responsive"
                                          src="https://www.travelcar.com/api/media/20181023/cC2GD8e-7NhiL5m7sXqpqevhaiifvptlRNnK0SK4dP0FbfcdMNmlmpRSb8Gsf85v36zmkZDwiKXlb0baUvUA9FwgUtJVXgH4_NoBUkG7gdb2IQC-ZnMF7IohIBqmj0EA/logo-travelcar-white.png"
                                          alt="Logo TravelCar" width="290"></div>
    </div>
    <div class="form col-md-6 col-lg-4 h-100">
        <div class="vertical-center-md row no-gutters">
            <div class="col-xs-10 col-md-9 col-lg-8" style="float: none; margin: auto;">
                <ui-view autoscroll="true" class="ng-scope" style="">

                    {% block content %}
                    {% endblock content %}
                </ui-view>
            </div>
        </div>
    </div>
    <div class="branding col-md-6 col-lg-8 visible-md visible-lg">
        <div class="vertical-center"><img class="img-responsive"
                                          src="https://www.travelcar.com/api/media/20181023/cC2GD8e-7NhiL5m7sXqpqevhaiifvptlRNnK0SK4dP0FbfcdMNmlmpRSb8Gsf85v36zmkZDwiKXlb0baUvUA9FwgUtJVXgH4_NoBUkG7gdb2IQC-ZnMF7IohIBqmj0EA/logo-travelcar-white.png"
                                          alt="Logo TravelCar" width="290"></div>
    </div>
</div>

</body>
<script>
    window.config = {
        "environment": "production",
        "name": "TravelCar",
        "googleTagManager": {"containerID": "GTM-55FMQH"},
        "language": "en",
        "currency": "USD",
        "country": "US",
        "version": "6.126.0"
    };
    window.messages = {
        "deposit.check.checkNumber.label": "Check number",
        "deposit.check.name": "Check",
        "deposit.form.card.cvc.help": "The security code (CVC / CVV / CID) is an additional 3 or 4 digits security code printed on the back of your card (or front for AMEX)",
        "deposit.form.card.cvc.label": "CVC/CVV/CID",
        "deposit.form.card.expiry.month.placeholder": "Month",
        "deposit.form.card.expiry.year.placeholder": "Year",
        "deposit.form.card.expiryDate.label": "Expiration date",
        "deposit.form.card.holder.label": "Credit card holder's name",
        "deposit.form.card.number.label": "Card number",
        "deposit.form.deposit.error": "An error occurred during the deposit. We invite you to check the details of your credit card and try again. If the problem persists, do not hesitate to contact us by phone at 888-807-0209",
        "deposit.form.deposit.name.label": "Name",
        "deposit.form.directEbanking.help": "You will be redirected to the official website of Sofort after validation of the form.",
        "deposit.form.dotpay.help": "You will be redirected to the official website of DotPay after validation of the form.",
        "deposit.form.invalid": "The form has errors, please check that you have completed all the required fields.",
        "deposit.form.legend": "Secured deposit",
        "deposit.form.params.legend": "Deposit information",
        "deposit.form.params.method.brandCode.label": "Payment method",
        "deposit.form.params.method.brandCode.recurring.details": "Payment details",
        "deposit.form.params.method.brandCode.recurring.label": "Already saved?",
        "deposit.form.paypal.help": "You will be redirected to PayPal's official website after validation of the form.",
        "deposit.form.processing": "Processing in progress, please wait and do not refresh the page ...",
        "deposit.form.qiwiwallet.help": "You will be redirected to QiwiWallet's official website after validation of the form.",
        "deposit.form.submit": "Charge the deposit",
        "deposit.pos.name": "POS",
        "deposit.pos.transaction.label": "Transaction",
        "distance.unit.km": "kilometers",
        "distance.unit.km_1": "kilometer",
        "distance.unit.km_abbr": "km",
        "distance.unit.m": "meters",
        "distance.unit.m_1": "meter",
        "distance.unit.m_abbr": "m",
        "distance.unit.mi": "miles",
        "distance.unit.mi_1": "mile",
        "distance.unit.mi_abbr": "mi",
        "duration.unit.d": "days",
        "duration.unit.d_1": "day",
        "duration.unit.d_abbr": "d",
        "duration.unit.h": "hours",
        "duration.unit.h_1": "hour",
        "duration.unit.h_abbr": "hr",
        "duration.unit.m": "months",
        "duration.unit.m_1": "month",
        "duration.unit.m_abbr": "mo",
        "duration.unit.min": "minutes",
        "duration.unit.min_1": "minute",
        "duration.unit.min_abbr": "min",
        "duration.unit.ms": "milliseconds",
        "duration.unit.ms_1": "millisecond",
        "duration.unit.ms_abbr": "ms",
        "duration.unit.s": "seconds",
        "duration.unit.s_1": "second",
        "duration.unit.s_abbr": "sec",
        "duration.unit.w": "weeks",
        "duration.unit.w_1": "week",
        "duration.unit.w_abbr": "wk",
        "duration.unit.y": "years",
        "duration.unit.y_1": "year",
        "duration.unit.y_abbr": "yr",
        "language.bg": "Българска версия",
        "language.bs": "Bosanska verzija",
        "language.cs": "Česká verze",
        "language.da": "Dansk version",
        "language.de": "Deutsch Version",
        "language.el": "Ελληνική έκδοση",
        "language.en": "English version",
        "language.es": "Versión española",
        "language.fi": "Suomenkielinen versio",
        "language.fr": "Version française",
        "language.hr": "Hrvatska inačica",
        "language.hu": "Magyar verzió",
        "language.it": "Versione italiana",
        "language.ko": "한국어 버전",
        "language.lt": "Lietuvių kalba",
        "language.lv": "Latviešu valodā",
        "language.mk": "Македонска верзија",
        "language.nb": "Norsk versjon",
        "language.nl": "Nederlandse versie",
        "language.pl": "Polska wersja",
        "language.pt": "Versão em português",
        "language.ro": "Versiunea română",
        "language.ru": "Русская версия",
        "language.sk": "Slovenská verzia",
        "language.sl": "Slovenska različica",
        "language.sq": "Versioni në shqip",
        "language.sr": "Српска верзија",
        "language.sv": "Svensk version",
        "language.tr": "Türk versiyonu",
        "language.uk": "Українська версія",
        "language.vi": "Phiên bản tiếng việt",
        "language.zh": "简体中文",
        "language.zh-TW": "繁體中文",
        "payment.cash.name": "Espèce",
        "payment.check.checkNumber.label": "Check number",
        "payment.check.name": "Check",
        "payment.form.bank.account.label": "Account number",
        "payment.form.bank.locationId.label": "Bank code",
        "payment.form.bank.owner.label": "Account owner",
        "payment.form.card.cvc.help": "This is the 3 digit code on the back of your card or the 4 digit code in the front for AMEX card.",
        "payment.form.card.cvc.label": "CVC/CVV/CID",
        "payment.form.card.expiry.month.placeholder": "Month",
        "payment.form.card.expiry.year.placeholder": "Year",
        "payment.form.card.expiryDate.label": "Expiration date",
        "payment.form.card.holder.label": "Cardholder's name",
        "payment.form.card.number.label": "Card number",
        "payment.form.directEbanking.help": "You will be redirected to the official website of Sofort after approval of the form.",
        "payment.form.dotpay.help": "You will be redirected to the official website of Sofort after approval of the form.",
        "payment.form.ideal.id.label": "Your bank",
        "payment.form.invalid": "There are errors in the booking form, please check that you have filled in all the required fields.",
        "payment.form.legend": "Secured payment",
        "payment.form.params.legend": "Payment information",
        "payment.form.params.method.brandCode.label": "Payment type",
        "payment.form.params.method.brandCode.recurring.details": "Payment method details",
        "payment.form.params.method.brandCode.recurring.label": "Already saved?",
        "payment.form.pay.error": "an error occurred while processing your payment. Please check your credit card information.",
        "payment.form.payment.name.label": "Name",
        "payment.form.paypal.help": "By selecting this option you will be redirected to Paypal's official website to complete the payment.",
        "payment.form.processing": "Submission in progress, please wait without refreshing the page...",
        "payment.form.qiwiwallet.help": "By selecting this option you will be redirected to QiwiWallet's official website to complete the payment.",
        "payment.form.submit": "Confirm booking",
        "payment.pos.name": "POS",
        "payment.pos.transaction.label": "Transaction",
        "payment.transfer.name": "Payment",
        "payment.transfer.reference.label": "Reference",
        "payout.cash.name": "Cash",
        "payout.check.checkNumber.label": "Check number",
        "payout.check.name": "Check",
        "payout.form.bank.bic.label": "SWIFT",
        "payout.form.bank.cca2.label": "Country",
        "payout.form.bank.iban.label": "IBAN",
        "payout.form.bank.name.label": "Bank's name",
        "payout.form.invalid": "The form has errors, please check that you have completed all the required fields.",
        "payout.form.legend": "Payout",
        "payout.form.params.legend": "Payout information",
        "payout.form.params.method.brandCode.label": "Payout types",
        "payout.form.pay.error": "An error occurred during the payout. We invite you to verify the banking details and try again. If the problem persists, do not hesitate to reach out at (888) 807 0209.",
        "payout.form.payout.name.label": "Name",
        "payout.form.paypal.email.label": "Email",
        "payout.form.processing": "Processing, please be patient and do not reload the page...",
        "payout.form.submit": "Submit payout",
        "payout.pos.name": "POS",
        "payout.pos.transaction.label": "Transaction",
        "payout.transfer.name": "Payout",
        "payout.transfer.reference.label": "Reference",
        "forgotPassword.error": "We have encountered an error while treating your request, please try again.",
        "forgotPassword.form.email": "Email",
        "forgotPassword.form.submit": "Reset password",
        "forgotPassword.form.title": "Forgot password?",
        "forgotPassword.success": "We have received your request to reset your password. An email will be sent to you shortly to modify it..",
        "login.form.email": "Email",
        "login.form.forgotPassword": "Forgot password?",
        "login.form.password": "Password",
        "login.form.signUp.link": "Sign up here",
        "login.form.signUp.text": "Not yet registered on TravelCar?",
        "login.form.submit": "Submit",
        "login.form.title": "Sign in",
        "resetPassword.error": "An error occured while processing your request, please try again",
        "resetPassword.form.confirmPassword": "Confirm password",
        "resetPassword.form.password": "New password",
        "resetPassword.form.submit": "Save",
        "resetPassword.form.title": "Change your password",
        "resetPassword.success": "Your password has been reset",
        "signUp.email.invalid": "Sorry this email is invalid",
        "signUp.email.required": "An email is required to register",
        "signUp.email.unique": "This email is already used by another user",
        "signUp.emailOrPassword.invalid": "An error occurred during the creation of your account, please try \n again.",
        "signUp.firstName.required": "You need to enter a first name",
        "signUp.form.email": "Email",
        "signUp.form.firstName": "First name",
        "signUp.form.lastName": "Last name",
        "signUp.form.login.link": "Log in",
        "signUp.form.login.text": "You already have an account?",
        "signUp.form.password": "Password",
        "signUp.form.submit": "Register",
        "signUp.form.terms.label": "I accept",
        "signUp.form.terms.link": "terms and conditions of use",
        "signUp.form.title": "Enter your personal information",
        "signUp.lastName.required": "You need to enter a last name",
        "signUp.password.lowerCaseLetter.required": "Password must have a lower case letter",
        "signUp.password.number.required": "Password must have a number",
        "signUp.password.required": "You need a password to register",
        "signUp.password.size.required": "Password must have at least 8 characters",
        "signUp.password.upperCaseLetter.required": "Password must have an upper case letter"
    };
</script>


<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script src="{% static 'auth/js/app.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>

{% include 'layouts/media/group/alertifyjs_front_javascript_js.html' %}


</html>