
input[type=text], input[type=tel], input[type=password], textarea {
    -webkit-appearance: none;
}

input[type=text], input[type=tel], input[type=password], select, textarea {
    padding: 8px;
    margin-bottom: 2px;
    font-size: 14px;
}

select {
    padding-right: 20px;
}

input.phone[type=text], input.phone[type=tel], input.skype, input.viber, input.whatsapp {
    background-position: 4px 9px;
    padding-left: 24px;
}

.notfound {
    font-size: 15px;
    padding: 40px 20px;
    text-align: center;
}

#crumb {
    font-size: 11px;
    color: #666;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    padding: 14px 34px 14px 8px;
    line-height: 1.4;
    height: auto;
}

#menul {
    width: auto;
    float: none;
    padding: 0;
    text-align: left;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

#menul.dlg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

#menul > #uinfo {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

#contentr {
    width: auto;
    float: none;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #eaeaea;
}

.plogin, .preg, .lostpwd {
    width: auto;
    max-width: 480px;
    margin: auto;
    padding: 10px;
}

.plogin input[type=submit], .preg input[type=submit] {
    width: 100%;
}

.plogin .fb, .preg .fb {
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.plogin .fb .t, .preg .fb .t {
    float: none;
    padding: 0;
    width: auto;
}

.preg .t {
    text-align: center;
}

.plogin a.fb_btn, .preg a.fb_btn {
    padding: 9px 0 1px 0;
}

.plogin .fb .btn, .preg .fb .btn {
    width: auto;
    float: none;
    margin: 10px 0;
}

.plogin .fb .btn a, .preg .fb .btn a {
    display: block;
    width: auto;
}

.plogin .r .btn {
    padding: 10px 10px;
}

.plogin .r .h {
    display: none;
}

.btn_panel {
    text-align: center;
    background-color: #fff;
    margin: 5px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.btn_panel input, .btn_panel button {
    margin: 10px;
}

.error {
    margin: 10px 10px;
}

.wallet {
    padding: 0;
    background-color: #f7f7f7;
}

.wallet .l {
    float: none;
    width: auto;
    border: none;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    margin: 6px 0 6px 0;
}

.wallet .l .i {
    display: none;
}

.wallet .r {
    padding: 10px 20px;
    margin: 0;
    border: none;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    width: auto;
}

.wallet .r .c {
    min-height: 200px;
    margin-top: 10px;
    width: auto;
    padding: 20px 0 20px 60px;
}

.wallet .r #telcell {
    background: url(img/telcell_terminal.png) no-repeat 0 40px;
    background-size: 45px 100px;
}

.wallet .r #easypay {
    background: url(img/easypay_terminal.png) no-repeat 0 40px;
    background-size: 45px 100px;
}

.wallet li {
    font-size: 12px;
}

.wallet .t {
    margin: 2px;
    font-size: 14px;
}

.help {
    padding: 10px 20px;
    border-radius: 0;
}

.help div img {
    max-width: 50%;
}

.help_idx {
    text-align: left;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    display: block;
}

.pageicn {
    padding: 20px;
}

.pageicn .l, .dlgicn .l {
    float: none;
    text-align: center;
    margin-bottom: 8px;
}

.pageicn .l img {
    width: 64px;
    height: 64px;
}

.dlgicn .l img {
    width: 42px;
    height: 42px;
}

.pageicn .r, .dlgicn .r {
    padding: 0;
    text-align: center;
}

.pageicn .r .bubble_info {
    padding: 10px 0 !important;
}

.pageicn .r .bubble_info:nth-child(2) {
    clear: left;
    padding: 10px;
}

.smenu {
    margin: 0;
}

.smenu .c {
    display: block;
}

.smenu .c:first-child {
    padding-top: 0;
}

.smenu .c:last-child {
    border: none;
}

.smenu .c .l {
    margin: 0;
}

.smenu .c .l .t {
    font-size: 16px;
    color: #000;
    margin-bottom: 6px;
}

.smenu .c .l .i {
    font-size: 12px;
    color: #666;
}

.smenu .c .r {
    margin-top: 20px;
}

.pcontact {
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin: 6px 0;
    padding: 20px 16px;
    box-sizing: border-box;
}

.pcontact:first-child {
    border-top: none;
    margin-top: 0;
}

.pcontact .l {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin: 6px 0;
}

.pcontact .r {
    padding-left: 0;
    width: 100%;
}

.pcontact .r .i div:first-child {
    display: inline-block;
    width: auto;
}

.pcontact .r .i div:nth-child(2) {
    display: none;
}

.pcontact .r .i div:nth-child(3) {
    margin-right: 0;
}

.pcontact .r a img {
    width: 18px;
    height: 18px;
}

.org_phone {
    text-align: center;
    margin: 0 0 20px 0;
}

.org_phone select {
    width: 115px;
}

.org_phone .c input[type=button], .org_phone .c button, .pageicn .c input[type=button], .dlgicn .c input[type=button] {
    margin: 0 auto;
    display: block;
}

.org_phone .existing {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.org_phone .i {
    margin: 20px 0;
}

.dlg_toggle {
    margin: 0 0 20px 0;
    text-align: center;
}

.org_phone input[type=text].code {
    margin: 20px auto;
    font-size: 18px;
    display: block;
}

.contact_sel .c {
    float: none;
    margin: 0 0 0 10px;
}

.info {
    width: auto;
    max-width: 480px;
    margin: 10px auto 20px;
}

#pageButtonBar.top {
    padding: 0 12px 0 20px;
    position: fixed;
    border-bottom: 1px solid #eee;
    top: 0;
    height: 51px;
    line-height: 50px;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
}

.bnr_info {
    margin: 0;
}

.bnr_info .l {
    float: none;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
    width: auto;
}

.bnr_info .r {
    float: none;
    padding: 40px 0;
    margin-left: 20px;
}

.tabbody {
    box-shadow: none;
    border-radius: 0;
    z-index: 1;
    position: relative;
    background-color: #f7f7f7;
}

.tabbody .dl, .tabbody .dlmsg {
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}

#msg_list {
    background-color: #f7f7f7;
    border: none;
}

.vpagetab {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: left;
    background-color: #fff;
    overflow: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    box-shadow: none;
    border-radius: 0;
}

.vpagetab div, .vpagetab a {
    padding: 15px 12px;
    display: inline-block;
    width: auto;
    background-color: transparent;
    box-shadow: none;
}

.vpagetab div {
    color: #1c82ec;
}

.vpagetab div span, .vpagetab a span {
    padding: 0;
    margin-left: 6px;
    float: none;
    color: #888;
    font-style: italic;
    font-weight: normal;
}

.vpagetab div:after {
    display: none;
}

.pagetab {
    margin: 0;
    padding: 0;
    overflow: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.pagetab::-webkit-scrollbar, #tabmenu::-webkit-scrollbar {
    display: none;
}

.pagetab > a, .pagetab > span {
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
    padding: 16px 12px;
    border: none;
    box-shadow: none;
}

.pagetab .ul {
    font-size: 12px;
    float: none;
    display: inline-block;
    line-height: 40px;
    margin: 0 6px 0 20px;
}

.pagetab > span {
    font-weight: bold;
    color: #1c82ec;
}

.pagetab > span:after {
    display: none;
}

#pageTabBar {
    padding: 10px;
    background-color: #fafafa;
}

#pageTabBar .i {
    padding: 8px;
}

#pageTabBar .s {
    color: #1c82ec;
}

#tabmenu {
    float: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    max-width: none;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}

#tabmenu .item {
    padding: 18px;
    display: inline-block;
    font-size: 13px;
}

#tabmenu .sel {
    font-weight: 700;
    color: #0c72ea;
}

#tabcontent {
    margin: 0;
    padding: 0;
    border: none;
}

#tabcontent > .tsmenu {
    margin: 0;
}

#tabcontent > .tsmenu .c, #tabcontent > .tsmenu .c:first-child, #tabcontent > .tsmenu .c:last-child {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    margin: 0;
}

#tabcontent > .tsmenu .c .r {
    margin-top: 20px;
}

div.dle {
    border-bottom: 1px solid #efefef;
    background-color: #fff;
}

div.dle > .l > div > span {
    width: 6px;
    height: auto;
}

div.dle .search {
    background-color: #fafafa;
    padding: 0;
}

div.dle .search > div {
    text-align: right;
    padding-right: 8px;
}

div.dle .search > div > a {
}

div.dle > .l > div {
    padding: 12px 6px;
}

div.dl > a > img, div.dle > .l > div > img {
    width: 68px;
    height: 51px;
    margin-right: 10px;
}

div.dle > .l > div > div {
    margin-left: 2px;
}

div.dle > .l > div > div > a {
    margin: 0 0 4px 0;
}

div.dle > .l > div > div > div:nth-child(3) {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

div.dle > .l > div > div > div:nth-child(3) > div:first-child {
    display: flex;
}

div.dle > .l > div > div > div:nth-child(3) > div:nth-child(2) {
    position: static;
    top: auto;
    right: auto;
}

div.dle > .l > div > div > div:nth-child(3) > div:first-child > a, div.dle > .l > div > div > div:nth-child(3) > div:nth-child(2) a, div.dle > .l > div > div > div:nth-child(3) > div:first-child > span {
    margin: 0;
    padding: 8px 10px;
}

div.dle > .l > div > div > div:nth-child(3) > div:first-child > a > div {
    display: none;
}

div.dle > .l > div > div > div:nth-child(3) > div:first-child > span > div {
    font-size: 9px;
}

div.dle > .l > div > div > div:nth-child(3) > div:first-child > span > span {
    font-size: 10px;
}

div.dle > .l > div > div > div:nth-child(3) > div:first-child > a > img, div.dle > .l > div > div > div:nth-child(3) > div:nth-child(2) img {
    width: 22px;
    height: 22px;
}

div.dle > .l > div > div > div:nth-child(2) span {
    display: block;
    margin: 6px 0;
    font-size: 10px;
    color: #444;
}

div.dle .search form {
    display: none;
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid #efefef;
}

div.dle .search form select {
    max-width: none;
    height: auto;
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 12px;
    padding: 6px;
}

div.dle .search form .txt {
    display: block;
}

div.dle .search form input {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 6px 44px 6px 8px;
    margin: 0;
}

div.dle .search form input[type=submit] {
    top: 5px;
    height: auto;
}

div.dle .search form a {
    top: 9px
}

.dlmsg span.replied {
    display: none;
}

.dlmsg > a {
    align-items: flex-start;
    padding: 10px 10px;
}

.dlmsg > a > div:nth-child(1) {
    width: 60px;
    display: flex;
    align-items: center;
}

.dlmsg > a > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
}

.dlmsg > a > div:nth-child(1) img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.dlmsg > a > div:nth-child(2) > div:nth-child(1) {
    width: auto;
    padding: 0 0 6px 0;
    font-size: 16px;
}

.dlmsg > a > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
}

.dlmsg > a > div:nth-child(2) > div:nth-child(3) {
    display: none;
}

.dlmsg .t {
    color: #333;
}

.dlmsg .desc {
    margin-top: 4px;
}

.chatTitle {
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    padding: 12px 8px 12px 20px;
    margin: 0;
}

.chat {
    border: none;
    border-radius: 0;
    margin: 0;
}

.chatBody {
    height: auto;
    max-height: none;
    min-height: 0;
    border-bottom: 1px solid #efefef;
    margin-bottom: 54px;
}

.chatBody .msg {
    margin: 0;
    padding: 12px;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
}

.chatBody .msg .l {
    float: none;
    width: 64px;
}

.chatBody .msg .r {
    margin: 0;
    padding: 0;
    flex: 1;
}

.chatBody .msg.m .r {
}

.chatBody .msg .r .msg_u {
    font-size: 14px;
    float: none;
}

.chatBody .msg .r .msg_d {
    text-align: left;
    margin: 6px 0;
    color: #888;
}

.chatBody .msg .r .msg_d div {
    margin: 0;
    float: right;
}

.chatBody .msg .r .msg_b {
    font-size: 15px;
    margin: 0;
}

.chatReply {
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 60px;
    width: 100%;
    box-sizing: border-box;
}

.chatReply textarea {
    padding: 16px 100px 6px 18px;
    font-size: 16px;
    height: 48px;
}

.chatReply input[type="button"] {
    position: absolute;
    right: 4px;
    top: 9px;
    color: #0c72ea;
    transition: color .2s;
    border: none;
    border-radius: 0;
    font-size: 14px;
    background: url(img/send.png) no-repeat;
    background-size: 32px 32px;
    text-indent: -9000px;
    width: 38px;
    height: 38px;
    padding: 0;
}

#bnr {
    height: 48px;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: transparent;
    z-index: 100;
    margin: 0;
    justify-content: center;
}

#bnr > a {
    display: none;
}

#bnr .b {
    width: 318px;
    border-radius: 4px 4px 0 0;
    background-color: transparent;
    box-shadow: none;
}

#bnr img {
    width: auto;
    height: 50px;
}

#bnr iframe {
    width: 320px;
    height: 50px;
    border-radius: 4px 4px 0 0;
}

a.hlp_icn {
    display: none;
}

.cld {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cl {
    margin: 0;
    padding: 0;
}

.cl .bt {
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    background-color: #f0f0f0;
    margin: 0;
}

.cl .bs {
    font-size: 13px;
    padding: 4px 2px 2px 0;
}

.cl .bs a {
    margin-left: 20px;
}

noindex:-o-prefocus, .cl .bt {
    border-bottom: 1px solid #dedede;
}

.cl .bt a {
    color: #000;
    display: block;
    padding: 8px 0 8px 16px;
}

.cl .br {
    display: none;
    padding: 0 4px 3px 30px;
}

.cl .br a {
    font-size: 12px;
    padding: 4px 0;
}

.glheader {
    float: none;
    border: none;
    text-align: center;
}

.dl .gl {
    padding: 0;
    border: none;
    justify-content: space-evenly;
}

.dl .gl a {
    width: 168px;
    height: auto;
    position: relative;
    margin: 8px 0;
}

.dl .gl a img {
    width: 168px;
    height: 126px;
}

.dl .gl a > .l {
    font-size: 14px;
}

.dl .gl a .ulabel {
    font-size: 12px;
    top: 100px;
    left: 3px;
}

.dl .gl a .clabel {
    font-size: 10px;
    top: 102px;
    right: 3px;
}

.dlbar {
    position: absolute;
    margin-top: 31px;
    right: 10px;
}

.dlbar .sort {
    display: none;
}

.dlf {
    padding: 20px;
    background-color: #fff;
}

.dl .abar {
    white-space: normal;
    line-height: normal;
    padding: 0 2px;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

.dl .abar > a, .dl .abar > div {
    margin: 0;
    padding: 4px;
}

.dl .abar > a:first-child, .dl .abar > div:first-child {
    padding-top: 0;
}

.dl .abar a {
    margin-left: 0;
    display: block;
}

.dl .abar img {
    padding: 10px 0;
}

.dl td {
    width: auto;
    margin: 0;
    padding: 12px;
}

.dl .searchbar {
    background-color: #fafafa;
    padding: 10px 20px;
}

.dl .searchbar .actions {
    float: none;
    text-align: right;
}

.vi {
    font-size: 12px;
    padding: 0;
}

.vih {
    overflow: hidden;
    padding: 0;
    position: static;
}

.vit {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #efefef;
}

.vih h1 {
    font-size: 22px;
    width: auto;
    padding: 16px 10px;
    margin: 0;
}

.vih #abar .price {
    padding: 0 4px 16px 0;
}

.vih #abar .loc {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 12px;
    margin: 6px 0;
    width: 100%;
    max-width: none;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}

.vih #abar .loc a, .vih #abar .loc span {
    border: none;
    font-size: 14px;
    background: url(img/psp.png) no-repeat -176px 12px;
    background-size: 200px 108px;
    max-width: none;
    overflow: auto;
    padding: 10px 10px 10px 18px;
    display: block;
}

.vih #star, #menul #sstar {
    left: auto;
    right: 0;
    top: 61px;
    position: absolute;
    padding: 0 10px 0 6px;
}

.vi .price {
    font-size: 10px;
    margin-right: 6px;
}

.vi #attr.l {
    width: 100%;
    margin: 0 10px 8px 0;
}

.vi #attr {
    width: 100%;
    margin: 0;
    padding: 0 12px;
    box-sizing: border-box;
}

.vih #abar .clabel, .vih #abar .ulabel {
    font-size: 12px;
    margin: 0 4px 16px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vi #attr .c, .vi #attr.l .c {
    font-size: 13px;
    padding: 10px 0;
    margin: 0 4px;
    float: none;
    clear: both;
    border-bottom: 1px dotted #efefef;
    display: block;
    width: auto;
}

.vi #attr .c .t, .vi #attr.l .c .t {
    float: left;
    margin-right: 20px;
    color: #666;
}

.vi #attr .c .i {
    text-align: right;
    font-weight: normal;
}

.vi #attr.l .c:nth-child(even) {
    margin-left: 4px;
}

.vi .bodyattr {
    margin: 16px 0 0 15px;
    font-weight: bold;
}

.vi .body {
    margin: 4px;
    font-size: 15px;
    padding: 12px;
}

.vi .footer {
    font-size: 9px;
    position: absolute;
    margin-top: 17px;
    margin-left: 12px;
    max-width: 220px;
    overflow: hidden;
    height: 16px;
}

.vi .footer span:first-child, .vi .footer span:nth-child(2) {
    display: none;
}

.vi .footer span:last-child {
    display: inline;
}

#pmenu .share {
    padding: 0 10px 0 10px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    margin: 0;
    height: 50px;
    float: none;
    width: auto;
}

#pmenu .share .flag {
    margin-top: 15px;
}

#uinfo {
    text-align: center;
    margin: 6px 0;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

#uinfo .top {
    margin: 0;
    padding: 8px;
}

#uinfo .top .l {
    font-size: 16px;
}

#uinfo .top .r {
    padding-top: 2px;
}

#uinfo .phone, #uinfo .email {
    font-size: 14px;
}

#uinfo .email a, #uinfo .phone a {
    padding: 7px 15px;
    margin: 0 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    white-space: nowrap;
}

#uinfo .m1, #uinfo .m2 {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#callPhoneInfo .phones a {
    color: #0c72ea;
    width: 100%;
    box-sizing: border-box;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    text-align: center;
}

.dlrel {
    margin: 6px 0 0 0;
    padding: 20px 10px;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.dlrel > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 640px;
    margin: auto;
}

.dlrel > div > a {
    flex-direction: column;
    align-items: flex-start;
    width: 160px;
    position: relative;
    padding: 8px 0 8px 2px;
}

.dlrel > div > a:nth-child(n+7) {
    display: block;
}

.dlrel > div > a > div {
}

.dlrel > div > a > div > div:first-child {
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    line-height: 17px;
    min-height: auto;
    max-height: 34px;
    -webkit-line-clamp: 2;
}

.dlrel > div > a > div .np {
    max-height: 51px !important;;
    -webkit-line-clamp: 3 !important;
}

.dlrel > div > a > div > div:nth-child(2) {
    margin: 4px 0 0 0;
}

.dlrel > div > a > div > span {
    top: 92px;
    left: 4px;
    display: block;
    position: absolute;
}

.dlrel > div > a.n > div > span {
    position: static;
    display: table;
    margin-top: 4px;
}

.dlrel > div > a > img {
    width: 160px;
    height: 120px;
    border-radius: 4px;
    margin: 0 0 6px 0;
}

.dlrel > div > a > span {
    width: 160px;
    height: 120px;
    border-radius: 3px;
    background-color: #ccc;
    display: block;
    background-image: url(img/nopic.png);
    background-position: center;
    background-size: 160px 120px;
    background-repeat: no-repeat;
}

.dlrel.nophoto > div {
    flex-direction: column;
}

.dlrel.nophoto > div > a {
    width: auto;
}

.dlrel.nophoto > div > a > div {
    min-height: auto;
    width: 100%;
}

.dlrel.nophoto > div > a > span {
    display: none;
}

.trel {
    text-align: center;
    font-size: 13px;
    margin: 0;
}

.trelh .item {
    margin: 6px;
}

div.flabel, div.flabel0 {
    text-align: left;
    padding-top: 0;
    float: none;
    width: auto;
    font-size: 14px;
    margin: 0 0 4px 12px;
}

div.felement select, div.felement input {
    font-size: 14px;
}

div.flabel.p0 {
    padding-top: 6px;
}

div.flabel.s {
    font-size: 12px;
}

.felement .mapview {
    float: none;
    display: none;
    width: auto;
    height: 100px;
    margin: 10px 1px 0 1px;
}

.felement .fe_addr {
    width: 99%;
}

div.felement, div.felement0 {
    display: block;
    margin: 0;
    padding: 0 12px 12px 12px;
}

div.felement .ph {
    display: block;
    margin: 8px 0 0 0;
}

div.fbuttons, div.fbuttons0 {
    display: block;
    margin: 0;
    padding: 10px 10px 8px 10px;
    text-align: center;
}

div.fsec, div.fsec:first-child {
    padding: 16px 0;
    background-color: #fff;
    margin: 6px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.inforadio .row {
    font-size: 14px;
}

.pv {
    margin: 0;
}

.vi .pv .p {
    height: 280px;
    width: 100%;
    border-radius: 0;
}

.pv > .p > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.pv .jumptodiv {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: block;
}

.pv .jumptodiv span {
    width: 5px;
    height: 5px;
    background-color: #333;
    border: 1px solid #444;
    opacity: 0.6;
    margin: 0 3px;
    border-radius: 50%;
    display: inline-block;
}

.jumptodiv span.selected {
    background-color: #fff;
    border: 1px solid #fafafa;
    opacity: 1;
}

#pvx .pv {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#pvx .pv .p {
    bottom: 0;
}

#pvx h2 {
    display: none;
}

#pvx .aleft, #pvx .aright, #pvx .pv .t {
    display: none;
}

#pvx > span {
    top: 6px;
    right: 8px;
    background-color: #000;
    opacity: 0.5;
}

.padded {
    margin: 10px 20px;
    text-align: center;
}

.padded .l {
    display: none;
}

.padded .r {
    padding: 0;
}

.padded .r .h {
    font-size: 14px;
}

.padded .ad {
    margin: 26px 0 16px 0;
}

.padded .ad .i {
    width: 80px;
    height: 60px;
    margin: 0 12px 16px 0;
    float: left;
}

.padded .ad .i img {
    width: 80px;
    height: 60px;
    border-radius: 2px;
}

.padded .ad .t {
    float: none;
    max-width: none;
}

.padded .srv {
    padding-top: 16px;
    margin-top: 30px;
    clear: left;
    border-top: 1px solid #e2e2e2;
    text-align: center;
}

.padded .srv .h {
    font-size: 12px;
}

.padded .srv .i {
    margin: 0;
    display: inline-block;
    float: none;
}

.padded .srv .i img {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 4px;
}

.padded .btn {
    text-align: center;
}

.padded .btn a {
    margin: 8px;
    display: inline-block;
    white-space: nowrap;
}

.pblock {
    margin: 6px 0;
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.pblock .i {
    font-size: 10px;
}

.dl .pblock .i {
    font-size: 8px;
    display: block;
    width: 55px;
    overflow: hidden;
    margin: 4px 0;
}

.dl .pblock .i img {
    width: 24px;
    height: 24px;
}

.pblock a, .pblock .g {
    width: 90px;
}

.dl .pbl a, .dl .pbl .g {
    margin-right: 12px;
}

.pbl a:last-child, .pbl .g:last-child {
    margin-right: 0;
}

div.dl > a {
    padding: 12px 10px;
}

div.dl > a > img, div.dl > a > span {
    width: 120px;
    height: 90px;
    margin-right: 10px;
}

div.dl > a > span {
    width: 0;
}

div.dl.s > a > img, div.dl.u > a > img {
    margin-right: 10px;
}

.dl .t, .dl td:first-child .t {
    float: none;
    width: 100%;
}

.dl .tf {
    float: none;
    width: 80%;
}

.dl .d {
    margin-top: 4px;
    font-size: 11px;
    color: #a2a2a2;
}

.dl .s span {
    display: block;
    margin: 8px 0;
    font-size: 10px;
    color: #444;
}

@media screen and (max-device-width: 640px), screen and (max-device-width: 720px) and (orientation: portrait) {
    .dl td.r {
        width: 120px;
        padding-right: 0;
    }

    .dl td.r img {
        width: 120px;
        height: 90px;
    }

    .dl .r > div {
        width: 120px;
        height: 90px;
    }
}

.profileform {
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    padding: 20px 10px;
    box-sizing: border-box;
}

.padrules {
    width: auto;
    border-radius: 0;
    padding: 20px;
    background-color: #fff;
    margin: 6px 0;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.cnt {
    white-space: normal;
}

.step {
    height: auto;
    margin: 0;
    padding: 10px 0;
}

.step .step_t {
    float: none;
    width: auto;
    max-width: none;
    overflow: auto;
    padding: 5px 6px 0 10px;
    white-space: normal;
}

#padc {
    float: none;
    position: relative;
    margin: 6px 0;
    padding: 0;
    height: auto;
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
}

#padc span.sep {
    display: none;
}

#padc .l .c {
    padding: 0;
}

#padc a:after {
    margin: 8px 2px 0 0;
}

#padc .l .c a {
    font-size: 17px;
    border-bottom: 1px solid #f2f2f2;
    display: block;
    padding: 16px 16px;
    font-weight: normal;
}

#padc .l {
    float: none;
    width: 100%;
    position: relative;
    padding: 0;
}

#padc .r {
    border: none;
    float: none;
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

#padc .r a {
    font-size: 15px;
    padding: 12px 20px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

#padc .r .c .sec {
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
}

#padc .r .c .sec a {
    padding-left: 30px;
}

#padc .r .c .t {
    font-size: 15px;
    padding: 10px 8px 0 12px;
}

#padc .pane a.n {
    width: auto;
}

#padc .r .c .pane {
    display: inline;
    width: auto;
}

.pay .tabs label {
    white-space: nowrap;
    float: left;
    padding: 12px 10px 10px 0;
}

.pay .option table td {
    white-space: normal;
}

.ui-dialog .ui-dialog-content {
    padding: 20px;
}

#cciframe {
    height: 350px;
}

@media screen and (max-device-width: 668px) {
    .ui-dialog {
        box-shadow: none;
        min-height: 100%;
    }

    #dlgmap, #dlgvideo {
        height: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999999;
    }

    .ui-widget-overlay {
        opacity: 1;
        filter: Alpha(Opacity=100);
        background-color: #fff;
    }

    .ui-widget-content {
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .vi #pv .p {
        max-height: 260px;
    }

    .vi #pv .p ul li img {
        max-height: 260px;
    }
}

.ui-menu .ui-menu-item {
    font-size: 14px;
    padding: 6px;
}

noindex:-o-prefocus, .vi #pv .p ul li img {
    vertical-align: top;
}

@media screen and (max-width: 240px) {
    .vi #pv .p ul li img {
        vertical-align: top;
    }
}

#main, #hmain {
    width: 100%;
    max-width: 800px;
    border: none;
    border-radius: 0;
    position: static;
    margin: auto;
}

#main .bubble, .fbubble, .helpo, .help {
    table-layout: auto;
    display: block;
    border: none;
    width: auto;
    border-radius: 0;
}

.fbubble {
    flex-direction: column;
}

#main.nocrumb {
    margin: 0;
}

#menu {
    display: none;
}

#ph .bhm {
    height: 26px;
    width: 26px;
    min-width: 26px;
    display: block;
    background: url(/img/mbar.png) no-repeat 0 0;
    background-size: 133px 26px;
}

#ph .brg {
    height: 26px;
    width: 26px;
    min-width: 26px;
    display: block;
    background: url(/img/mbar.png) no-repeat -80px 0;
    background-size: 133px 26px;
    cursor: pointer;
}

#ph .brg > div {
    display: none;
    position: fixed;
    z-index: 50;
    top: 51px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#ph .brg > div > .c {
    background-color: #fff;
    width: auto;
}

#ph .brg > div > .c > span {
    display: block;
    border-bottom: 1px solid #eee;
}

#ph .brg > div > .c > span > a {
    padding: 20px 16px 20px 16px;
    display: block;
    font-size: 16px;
    border: none;
    color: #444;
    margin: 0 10px;
}

#ph .brg > div > .c > span > a:after {
    content: '';
    display: block;
    float: right;
    width: 6px;
    height: 6px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    margin: 4px 8px 0 0;
    -webkit-transition: all 0.4s;
    transform: rotate(135deg);
}

#ph .brg > div > .c > span > div {
    padding: 0 20px 10px 20px;
    display: none;
}

#ph .brg > div > .c > span > div .pane1, #ph .brg > div > .c > span > div .pane {
    padding: 0 20px 0 30px;
}

#ph .brg > div > .c > span > div b {
    color: #888;
    font-size: 14px;
    padding: 2px 0;
    font-weight: normal;
}

#ph .brg > div > .c > span > div .s {
    padding: 4px 0 10px 30px;
}

#ph .brg > div > .c > span > div a {
    color: #444;
    padding: 10px 0;
    font-size: 14px;
    display: block;
}

#ph .brg.x, #ph .c #st.x, #ph .inx {
    background: url(/img/mbar.png) no-repeat -108px 0;
    background-size: 133px 26px;
}

#menu .c span {
    display: block;
    border-bottom: 1px solid #eee;
}

#menu .c > i {
    display: none;
}

#menu .c > span > a:first-child {
    padding: 20px 16px 20px 16px;
    display: block;
    font-size: 16px;
    border: none;
    color: #444;
    margin: 0 10px;
}

#menu .c > span:hover > a:first-child {
    padding: 20px 16px 20px 16px;
    color: #000;
    cursor: pointer;
    border: none;
    border-radius: 0;
    text-decoration: none;
}

#menu .c > span > a:after {
    -webkit-transition: all 0.4s;
    transform: rotate(135deg);
}

#ph .brg > div > .c > span > a.down:first-child:after, #ph .brg > div > .c > span:nth-child(5) > div > .paneall span > a.down:first-child:after {
    transform: rotate(-45deg);
    margin-top: 8px;
}

#ph {
    border-bottom: 1px solid #e6e6e6;
    z-index: 101;
}

#phd {
    display: none;
}

.phl {
    top: 50px;
}

#ph #l {
    width: 90px;
    height: 24px;
    background-position: 0 -90px;
    background-size: 90px 90px;
    margin: 0;
    left: calc(100% / 2 - 45px);
    top: 10px;
    position: fixed;
}

#ph > .c {
    width: 100%;
    max-width: none;
    padding: 0 14px;
    height: 50px;
    display: flex;
    box-sizing: border-box;
}

#ph .inx {
    height: 26px;
    width: 26px;
    min-width: 26px;
    display: none;
}

#search {
    margin: 0 14px;
    height: 30px;
}

.ui-menu .clear {
    padding: 12px 12px 16px 0;
}

#search input {
    outline: none;
    font-size: 16px;
    height: 30px;
    box-shadow: none;
    padding: 0 30px 0 32px;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: #efefef;
    background-image: none;
    background-position: center;
    background-size: 115px 18px;
    background-repeat: no-repeat;
}

#search input[value=""] {
    background: #efefef url(/img/msearch.png) no-repeat;
    background-position: center;
    background-size: 115px 18px;
}

#search input:focus {
    background: none;
    background-color: #efefef;
    box-shadow: none;
}

#search input::-webkit-input-placeholder {
    opacity: 0;
}

#search input:-moz-placeholder {
    opacity: 0;
}

#search input::-moz-placeholder {
    opacity: 0;
}

#search input:-ms-input-placeholder {
    opacity: 0;
}

#search input:focus::-webkit-input-placeholder {
    opacity: 1;
}

#search input:focus:-moz-placeholder {
    opacity: 1;
}

#search input:focus::-moz-placeholder {
    opacity: 1;
}

#search input:focus:-ms-input-placeholder {
    opacity: 1;
}

.ui-autocomplete-search {
    left: 0 !important;
    right: 0 !important;
    top: 39px !important;
}

#search button {
    top: 0;
    bottom: 0;
    left: 6px;
    height: auto;
    background: transparent url(/img/msearch.png) no-repeat;
    background-size: 115px 18px;
    background-position: 2px center;
    display: none;
}

#search a {
    top: 6px;
}

#ph .b {
    white-space: nowrap;
}

#ph .b #ma span, #ph .c #st span {
    display: none;
}

#ph #apl, #ph .c #st {
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    min-width: 26px;
    max-width: 26px;
}

#ph .b #ma {
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    min-width: 28px;
    max-width: 28px;
}

#ph .b #ma > div > a {
    font-size: 15px;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ph .b #ma > div > a.node {
    display: block;
    padding-bottom: 13px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
}

#ph .b #ma div:before {
    display: none;
}

#ph .b #ma > div {
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    line-height: 1.4;
    border: 1px solid #e0e0e0;
    top: 50px;
    right: 0;
    padding: 0;
    display: none;
    min-width: 300px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    bottom: 0;
    border-radius: 0;
}

#ph .b #ma > div > a > .cnt, #ph .b #ma > div > a > .wlt, #ph .b #ma > div > a > .msg {
    margin-top: 2px;
    margin-left: 10px;
}

#ph .b #ma > div > div {
    display: flex;
    padding: 12px 12px 12px 20px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 4px;
}

#ph .b #ma > div > div > img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#ph .b #ma > div > div > div {
    padding-left: 12px;
    max-width: 240px;
    overflow: hidden;
}

#ph .b #ma > div > div > div > div:first-child {
    color: #444;
    font-size: 16px;
    padding-bottom: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#ph .b #ma > div > div > div > div:last-child {
    color: #888;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#ph .b #ma:first-child, #ph .c #st:first-child {
    margin: 0;
}

#ph .b #ap {
    display: none;
}

#ph #apl {
    display: block;
    background: url(/img/mbar.png) no-repeat -54px 0;
    background-size: 133px 26px;
}

#ph .c #st {
    background: url(/img/mbar.png) no-repeat 0 0;
    background-size: 133px 26px;
    text-indent: 99px;
}

#ph .b #ma.out {
    background: url(/img/mbar.png) no-repeat -27px 0;
    background-size: 133px 26px;
    text-indent: 100px;
    width: 26px;
    height: 26px;
    min-width: 26px;
    max-width: 26px;
}

#ph .b #ma img {
    width: 28px;
    height: 28px;
    margin: 0;
}

#ph .b #ma.out img {
    width: 26px;
    height: 26px;
}

#ph .b .off {
    display: none !important;
}

#pfooter {
    width: auto;
    padding: 0 12px;
    height: 45px;
    border: none;
    color: #666;
    background-color: #f7f7f7;
}

#pfooter a {
    color: #666
}

#lbar #lmenu {
    margin: -102px 0 0 -7px;
    width: 120px;
}

#lbar #lmenu:before {
    top: 84px;
    left: 8px;
}

#lbar #lmenu a {
    padding-left: 26px;
    height: 30px;
    font-size: 20px;
}

#lbar #lmenu a div {
    top: 10px;
}

#hcontent {
    width: auto;
    padding: 0;
    background-color: #fff;
}

.featured {
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;
}

.featured > .c > .s {
    border-radius: 0;
    margin: 0;
    padding: 6px 0;
}

.featured > .c > .s > span a {
    font-size: 18px;
    padding: 0 6px;
    text-align: center;
}

.featured > .c > .s > span a:last-child {
    display: none;
}

.featured > .c > .s:first-child {
    margin-top: 8px;
}

.featured > .c > .s > span:first-child {
    font-size: 18px;
    justify-content: center;
}

.featured > .c > .s > .c {
    justify-content: space-evenly;
}

.featured > .c > .s > .c1 a:nth-child(n+5) {
    display: none;
}

.featured > .c > .s > .c2 a:nth-child(n+11) {
    display: none;
}

.featured > .c > .s > .c3 a:nth-child(n+13) {
    display: none;
}

.featured .c .s a {
    width: 170px;
    height: 174px;
    margin: 8px 0;
}

.featured .c .s a span {
    top: 102px;
}

.featured .c .s a img {
    width: 170px;
    height: 128px;
}

.featured .t {
    font-size: 12px;
    color: #888;
}

.featured > .c {
    margin: 0 0 10px 0;
}

.featured > .c a img {
    width: 160px;
    height: 120px;
}

.featured > .c > .h {
    border-radius: 0;
    border: none;
    height: auto;
    padding-top: 20px;
    margin: 10px 12px;
}

.featured > .c > .h > a {
    flex-direction: column;
    align-items: center;
}

.featured > .c > .h > a > div {
    padding: 12px 2px;
}

.featured > .c > .h > a > div > div:nth-child(3) {
    height: auto;
    margin: 12px 0;
}

.featured > .c > .h img {
    border-radius: 4px;
    float: none;
    width: 100%;
    max-width: 480px;
    min-width: auto;
    height: auto;
    object-fit: cover;
    margin-bottom: 6px;
}

.featured > .c > .h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.featured > .c > .h2 > .c {
    height: auto;
    margin: 10px 12px;
}

.featured > .c > .h2 > .c > a {
    display: flex;
    flex-wrap: nowrap;
}

.featured > .c > .h2 > .c > a > .cl {
    left: auto;
    top: 152px;
}

.featured > .c > .h2 > .c > a > div > div:first-child {
    text-align: center;
    margin: 0;
    padding: 6px 0;
}

.featured > .c > .h2 > .c > a > div > div:nth-child(2) {
    display: none;
}

.featured > .c > .h2 > .c > a > div {
    padding: 4px 10px;
}

.featured > .c > .h2 > .c img {
    width: 80%;
    height: auto;
    max-width: 400px;
    min-width: auto;
    object-fit: cover;
}

@media screen and (max-width: 360px) {
    #uinfo .m1, #uinfo .m2 {
        display: block;
    }

    #uinfo .phone {
        margin-bottom: 10px;
    }
}

#menul .filter {
    border: none;
    border-radius: 0;
    width: auto;
    display: none;
    padding: 0 0 6px 0;
    margin: 0;
    box-shadow: none;
    background-color: #f4f4f4;
    border-top: 1px solid #efefef;
}

#menul .filter .section, #menul .filter .section:last-child {
    padding: 14px 20px;
    border: 1px solid #efefef;
    margin: 6px 12px;
    background-color: #fff;
    border-radius: 4px;
}

#menul .filter div.title {
    padding-top: 0;
}

a.ftoggle {
    display: inline-block;
    text-align: left;
    padding: 16px 10px;
    color: #444;
}

a.ftoggle:after {
    content: '';
    display: block;
    float: right;
    width: 6px;
    height: 6px;
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    margin: 3px 0 0 7px;
    -webkit-transition: all 0.4s;
    transform: rotate(135deg);
}

a.down:after {
    transform: rotate(-45deg);
    margin-top: 7px;
}

a, a:visited, a:hover, .cl .bt a:hover {
    text-decoration: none;
}

#tmenu {
    display: none;
}

#menur, #pmenu {
    width: 100%;
    float: none;
    margin: 0;
    display: block;
}

#contentl, #pcontent {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0 0 0 0;
    display: block;
    border: none;
    border-radius: 0;
}

#pcontent, #pmenu {
    margin: auto;
    padding: 0;
}

#pmenu {
    padding: 0;
    background-color: #f7f7f7;
}

#hmenu, .postdlg, .dl, #pfooter .c {
    width: 100%;
}

#tp {
    border-radius: 0;
}

#tp .toppost, .glheader {
    padding: 16px 0 8px 0;
}

#tp .gl a:nth-child(n+9) {
    display: none;
}

.plogin .l, .preg .l {
    width: auto;
    border: none;
    float: none;
    padding: 10px;
}

.postdlg {
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #f7f7f7;
}

.plogin .r {
    text-align: center;
    width: auto;
    margin: 0;
    padding: 30px 0;
}

.preg .r {
    display: none;
}

.plogin .t, .preg .t {
    text-align: center;
}

.preview_box {
    width: auto;
    padding: 0;
    border-top: 6px solid #f7f7f7;
    background-color: #fff;
}

.vih #abar {
    width: auto;
    height: auto;
    overflow: visible;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
}

.vih #abar > div {
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    width: 100%;
    padding-left: 10px;
}

.preview_box > .l {
    float: none;
    width: auto;
    padding: 0;
}

.helpo {
    padding: 2px 20px;
}

.helpo .c {
    width: auto;
    padding: 0;
    margin: 0;
}

.helpo .s {
    margin: 20px 0;
    padding: 0;
}

.helpo .s .grp {
    padding: 0 0 5px 0;
}

.helpo .s .i {
    font-size: 14px;
}

.hp_info {
    margin: 20px auto 0 auto;
    width: 200px;
    text-align: center;
}

.preview_box > .r, .pagetab .u, .pagetab #idTabBanners, .dlf .pp, .toppost .r, #pmenu .share .c, .vi .pv .t, .vi .pv .arrow, .pv .zoom, .step_p, #ph .b .i:nth-child(4), #pfooter .c .r a, .fbcode, .ad2, .ad3, .wallet_pl, .pagetab .pic {
    display: none;
}

.ad3 {
    width: 60px;
    height: 60px;
    margin: 0;
}

.ad4, .nomo {
    display: none;
}

.node {
    display: block;
}

.dl tr td.headerd, .dl tr:first-child td.headerd {
    padding-left: 10px;
}

.toppost .l {
    padding-left: 10px;
    float: none;
}

div.felement .nblock span, noindex:-o-prefocus, .vi #pv .p .arrow {
    display: block;
}

.page_info {
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding: 30px;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
}

.bubble .page_info {
    border: none;
}

span.rgroup {
    display: block;
    padding: 12px 0 12px 2px;
    overflow: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.dl .p .p2, #pfooter .c .r a:nth-child(1) {
    display: inline;
}

.link_bar {
    padding: 20px 0;
}

@media screen and (max-width: 320px) and (grid), screen and (max-width: 300px) {
    #ph #l {
        display: none;
    }
}

@media screen and (max-device-height: 480px) {
    #bnr {
        display: none;
    }
}

noindex:-o-prefocus, .ui-widget-content {
    border-bottom: 8px solid #888;
}

@media screen and (max-width: 320px) {
    .dl .gl a, .featured .c .s a {
        margin: 8px 0;
        width: 144px;
        height: auto;
    }

    .featured .c .s a span {
        top: 82px;
    }

    .dl .gl a img, .featured .c .s a img {
        width: 144px;
        height: 108px;
    }

    .dl .gl a .ulabel {
        top: 82px;
        left: 2px;
        font-size: 11px;
    }

    .dl .gl a .clabel {
        top: 84px;
        right: 2px;
        font-size: 10px;
    }

    #ph .b #ma > div > a > .wlt, #ph .b #ma > div > a > .cnt, #ph .b #ma > div > a > .msg {
        display: none;
    }

    .dlrel > div > a > a > img, .dlrel > div > a > span {
        width: 120px;
        height: 90px;
    }

    .dlrel > div > a {
        width: 130px;
    }

    .dlrel > div > a > img {
        width: 130px;
        height: 98px;
    }

    .dlrel > div > a > div > span {
        top: 70px;
        font-size: 11px;
    }

    .vi .pv .p {
        height: 220px !important;
    }

    div.dle > .l > div > div > div:nth-child(3) > div:first-child > a, div.dle > .l > div > div > div:nth-child(3) > div:nth-child(2) a {
        padding: 8px 8px;
    }

    div.dle > .l > div > div > div:nth-child(3) > div:first-child > a:first-child, div.dle > .l > div > div > div:nth-child(3) > div:first-child > span:first-child {
        padding-left: 0;
    }

    div.dle > .l > div > div > div:nth-child(3) > div:first-child > span > div, div.dle > .l > div > div > div:nth-child(3) > div:first-child > span > span {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .featured > .c > .s > .c2 a:nth-child(n+9) {
        display: none;
    }
}

@media only screen and (min-width: 568px) {
    .pv {
        margin: 10px 0;
    }

    .pv .p {
        max-height: 320px;
        height: 320px !important;
    }

    .pv > .p > div img {
        width: auto;
        height: auto;
        max-height: 320px;
        object-fit: unset;
        border-radius: 4px;
    }
}

