{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load profile_header %}
{% block content %}

    {% header userData=userData user=user edit_acctount='True' %}

    <div class="container content-section content-account">
        <div class="calculation-dest">

            <form action="{% url 'car-wizards-new' %}" method="post" id="calculation-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="car_work_for_you">
                            <h2>{% trans 'Let your car work for you' %}</h2>
                        </div>
                        <div class="group-forms0">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control brand-model" name="brand">
                                        {% for brand in brands %}
                                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control model-import" name="model">
                                        <option>{% trans 'Model' %}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control" name="year">
                                        {% for year in years %}
                                            <option>{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" name="millage">
                                        {% for key, millage in millages.items %}
                                            <option value="{{ key }}">{{ millage }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="">
                                    <input type="text" class="form-control" name="country" value="London">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="calc-button" value="{% trans "Get Started" %}"/>
                            </div>
                            <div class="col-md-6 calculated-group">
                                <div class="price-calculated">

                                </div>

                                <div class="estimate-period">
                                    ESTIMATED PER MONTH
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <img src="{% static '/images/tourism-car-hire-02.jpg' %}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}