{% extends "layouts/base.html" %}
{% load static %}
{% load image %}
{% load profile_header %}
{% load i18n %}
{% block content %}

{% header userData=user user=user edit_acctount='True' profile='True' %}

<div class="container content-section favorites-lists ">
    {% if favorites %}
     <div class="col-md-12 title-favorites-lists">
        <h2 class="title-name"><span class="first_name_favorites">{{user.first_name}}</span>’S {% trans 'FAVORITES' %}</h2>
     </div>
    <div class="block-width-100">
        <div class="container">
            <div class="title text-center">
                <div class="row owl-theme text-center">
                    <!-- project 1 -->
                    {% for car in favorites %}

                    <div class="col-md-4 favorite-item">
                        <div class="item">
                            <div class="favourite" data-login="true" data-id="{{ car.user_car.id }}"><i
                                    class="fa fa-heart"></i></div>
                            <a href="{% url 'car-view'  car.user_car.id %}">
                                <div class="pic"><img src="{% image_url car.user_car.image.path 'car' 'big' %}"
                                                      alt=""></div>
                            </a>
                            <div class="block-detail-property">
                                <h1>
                                    <a href="{% url 'car-view'  car.user_car.id %}">{{ car.user_car.brand.name }}
                                        {{car.user_car.model.name}}</a>
                                </h1>
                                <div class="data">
                                    <span class="txt"><i
                                            class="fa fa-map-marker"></i> {{ car.user_car.parking_address }} </span>
                                    <span class="txt start">{% trans 'Rent' %} : <strong>{{ car.user_car.daily_price }}€  ({% trans 'every day' %})</strong></span>
                                    <i class="fa fa-angle-double-right"></i>
                                </div>
                                <ul>
                                    <li>
                                        <span class="title_li_list"><i
                                                class="fas fa-chair"></i> Seats</span>
                                        <strong>{{ car.user_car.number_of_seats }}</strong>
                                    </li>
                                    <li><span class="title_li_list"><i
                                            class="fas fa-door-open"></i> Doors </span><strong>{{car.user_car.number_of_doors}}</strong>
                                    </li>
                                    <li><span class="title_li_list">
                                        <i class="fas fa-gas-pump"></i>  Fuel</span><strong>{{car.user_car.fuel}}</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'js/main.js' %} "></script>
    {% else %}
    <h2 class="title-name"><span class="first_name_favorites">{{user.first_name}}</span>’S {% trans 'FAVORITES' %}</h2>

    <div class="favorite-empty">
        <i class="fa fa-heart-o"></i>
        <h1 class="header driversProfileEmptyState-title header--6">{% trans 'No favorites yet' %}</h1>
    </div>
    {% endif %}
</div>

{% endblock %}