{% extends "layouts/base.html" %}
{% load static %}
{% load image %}
{% load profile_header %}
{% load short_content %}
{% load i18n %}
{% block content %}

    {% header userData=userData user=user edit_acctount='True' profile='True' %}

    <div class="container content-section  content-account">
        <div class="user-cars-index">
            {% if userCars %}
                {% if userData == user %}
                    <div class="add-cart">
                        <a class="add-car-link btn btn-success"
                           href="{% url 'add-car' user.id %}">{% trans 'Add Car' %}</a>
                    </div>
                {% endif %}

                <div class="index-list2">
                    {% for car in userCars %}
                        <div class="media">
                            <div class="image-group">
                                <img class="mr-3" src="{% image_url car.image.path 'car' %}"
                                     alt="Generic placeholder image">

                            </div>
                            <div class="media-body">
                                <h5 class="mt-0 car-brand-model">{{ car.brand.name }} {{ car.model.name }}
                                    ({{ car.daily_price }}€ {% trans 'every day' %})</h5>
                                <span>{% if car.description %}{% cut_title car.description 150 %}  {% endif %}</span>
{#                                <div class="features">#}
{#                                    <div class="feature-title">{% trans 'Features' %}</div>#}
{#                                    <span class="label2">{% trans 'Seats' %}-<span#}
{#                                            class="value-features">{{ car.seat.name }}</span></span>#}
{#                                    <span class="label2">{% trans 'Doors' %}-<span#}
{#                                            class="value-features">{{ car.door.name }}</span></span>#}
{#                                    <span class="label2">{% trans 'Fuel' %}-<span#}
{#                                            class="value-features">{{ car.fuelFeature.name }}</span></span>#}
{#                                    <span class="label2">{% trans 'Transmission' %}-<span#}
{#                                            class="value-features">{{ car.transmissionFeature.name }}</span></span>#}
{#                                    <span class="label2">{% trans 'Mileage' %}-<span#}
{#                                            class="value-features">{{ car.mileageFeature.name }}</span></span>#}
{#                                </div>#}

                                {% if car.car_extras %}
                                    <div class="features">
                                        <div class="feature-title">{% trans 'Extras' %}</div>
                                        {% for extra in car.car_extras %}
                                            <div class="pretty p-icon p-round p-locked">
                                                <input type="checkbox" checked/>
                                                <div class="state p-success">
                                                    <i class="icon mdi mdi-check"></i>
                                                    <label>        {{ extra.extra.name }}</label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="pagination">
                    <ul class="mypagination">
                        {% if userCars.has_previous %}
                            <li><a href="?page=1">{% trans 'First' %}</a></li>
                            <li><a href="?page={{ userCars.previous_page_number }}">{% trans 'Previous' %}</a></li>
                        {% endif %}

                        {% for num in userCars.paginator.page_range %}
                            {% if userCars.number == num %}
                                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                            {% elif num > userCars.number|add:'-3' and num < userCars.number|add:'3' %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if userCars.has_next %}
                            <li><a href="?page={{ userCars.next_page_number }}">{% trans 'Next' %}</a></li>
                            <li><a href="?page={{ userCars.paginator.num_pages }}">{% trans 'Last' %}</a></li>
                        {% endif %}

                    </ul>
                </div>
            {% else %}
                <div class="cobalt-Callout cobalt-Callout--info js_title_preview_wrapper top15"
                     id="title-modal-brand">
                    <p>
                        {% trans "Person doesn't have any car yet" %}
                        <strong class="js_title_preview"></strong>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}