{% load i18n %}
<div class="rent-type">
    <h2>{% trans 'How do you want to rent?' %}</h2>
</div>

<div class="rent-type-content">

    <div class="owner-prefer">
        <h4>{% trans 'Lot of owners choose Open' %}</h4>
    </div>

    <form action="{% url 'car-wizards-new' %}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="car_creation_bifurcation__card_container">
                    <div class="car_creation_bifurcation__card car_creation_bifurcation__card--top-stripe-aller">
                        <div class="cobalt-Card">
                            <div class="cobalt-Card__Section">
                                <div class="car_creation_bifurcation_card__title_container">
                                    <div class="car_creation_bifurcation_card__title">
                                        <div class="cobalt-text-title cobalt-mr-extraTight">
                                            {% trans 'Drivy Open' %}
                                        </div>
                                        <span class="cobalt-Icon cobalt-Icon--colorAller"><svg
                                                viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg">
  <path d="M16.7388951,12.0226457 C16.8236909,12.0077617 16.910939,12 17,12 C17.8284271,12 18.5,12.6715729 18.5,13.5 C18.5,14.3284271 17.8284271,15 17,15 L16.9948356,14.9999913 C17,15.3498948 17,15.6859089 17,16 L17,20.9970707 C17,21.5509732 16.5566468,22 15.9906311,22 L14.0093689,22 C13.4519098,22 13,21.5621186 13,20.9970707 L13,20 L6,20 L6,20.9970707 C6,21.5509732 5.55664682,22 4.9906311,22 L3.0093689,22 C2.45190985,22 2,21.5621186 2,20.9970707 L2,16.0029293 L2.00000413,16 C2,15.6859089 2,15.3498948 2.00516435,14.9999913 L2,15 C1.17157288,15 0.5,14.3284271 0.5,13.5 C0.5,12.6715729 1.17157288,12 2,12 C2.08906099,12 2.17630912,12.0077617 2.26110486,12.0226457 C2.67444646,9.87798998 3.74212774,8 6.5,8 L12.5,8 C15.2578723,8 16.3255535,9.87798998 16.7388951,12.0226457 L16.7388951,12.0226457 Z M14.9055401,13.3066755 C14.6608385,10.9276319 14.0167969,10 12.5,10 L6.5,10 C4.98320306,10 4.33916152,10.9276319 4.09445989,13.3066755 C4.07039073,13.5406812 4.05215122,13.7640485 4.0384449,14 L14.9615551,14 C14.9478488,13.7640485 14.9296093,13.5406812 14.9055401,13.3066755 Z M5,18.25 C5.69035594,18.25 6.25,17.6903559 6.25,17 C6.25,16.3096441 5.69035594,15.75 5,15.75 C4.30964406,15.75 3.75,16.3096441 3.75,17 C3.75,17.6903559 4.30964406,18.25 5,18.25 Z M14,18.25 C14.6903559,18.25 15.25,17.6903559 15.25,17 C15.25,16.3096441 14.6903559,15.75 14,15.75 C13.3096441,15.75 12.75,16.3096441 12.75,17 C12.75,17.6903559 13.3096441,18.25 14,18.25 Z M19.3743411,8.10373883 C19.6030616,8.60643693 19.3809589,9.19936886 18.8782608,9.42808936 C18.3755627,9.65680985 17.7826308,9.43470712 17.5539103,8.93200902 C16.7480863,7.16091213 14.9798777,6 13,6 C12.4477153,6 12,5.55228475 12,5 C12,4.44771525 12.4477153,4 13,4 C15.7710874,4 18.2467173,5.62536746 19.3743411,8.10373883 Z M23.016475,6.44763318 C23.2452639,6.95030017 23.0232418,7.54326229 22.5205748,7.77205114 C22.0179078,8.00083999 21.4249456,7.77881789 21.1961568,7.27615089 C19.7455967,4.08915698 16.5630953,2 13,2 C12.4477153,2 12,1.55228475 12,1 C12,0.44771525 12.4477153,0 13,0 C17.3542072,0 21.2440599,2.55349866 23.016475,6.44763318 Z"></path>
</svg>
</span>
                                    </div>
                                    <div class="cobalt-Tag">{% trans 'Recommended' %}</div>
                                </div>
                            </div>
                            <div class="cobalt-Card__Section cobalt-Card__Section--divided">
                                <div class="car_creation_bifurcation_estimated_earnings__container">
                                    <p class="cobalt-text-titleExtraLarge cobalt-mb-extraTight">{{ model.price }}</p>
                                    <p class="cobalt-text-sectionHeader cobalt-mb-medium">
                                        <span>{% trans 'estimated monthly earnings' %}</span>
                                        <span class="cobalt-mb-unit cobalt-Icon cobalt-Icon--size16 cobalt-Icon--colorGraphiteLight"
                                              data-val="drive_open_estimation_earning"
                                              title="Estimation of your earnings">
<a class="js_popup_trigger" href="#estimate_about_with_open"><svg viewBox="0 0 24 24"
                                                                  xmlns="http://www.w3.org/2000/svg">
  <path d="M11 9h2V7h-2v2zm1 11c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-18C6.477 2 2 6.477 2 12A10 10 0 1 0 12 2zm-1 15h2v-6h-2v6z"></path>
</svg>

</a></span>
                                    </p>
                                    <button type="submit" data-set="with_open"
                                            class="cobalt-Button cobalt-Button2 cobalt-Button--primary cobalt-Button--large cobalt-Button--fullWidth">
                                        {% trans 'Continue with Open' %}
                                    </button>
                                </div>
                            </div>
                            <div class="cobalt-Card__Section cobalt-Card__Section--divided">
                                <ul>
                                    <li class="cobalt-BulletListItem cobalt-mb">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAller">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body"><span class="cobalt-text--emphasized">Your car rents itself</span>
                                                with the Drivy Open device: verified drivers book and unlock it with our
                                                app.</p>
                                        </div>
                                    </li>
                                    <li class="cobalt-BulletListItem cobalt-mb">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAller">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body"><span class="cobalt-text--emphasized">Our device is installed for free</span>,
                                                and we deduct the £26 monthly rental fee from your earnings. No
                                                commitment required.</p>
                                        </div>
                                    </li>
                                    <li class="cobalt-BulletListItem cobalt-mb">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAller">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body"><span class="cobalt-text--emphasized">Your car needs to be available at least 7 days a month</span>
                                                in a 3G-covered area.</p>
                                        </div>
                                    </li>
                                    <li class="cobalt-BulletListItem">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAller">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body">A definitive registration certificate,
                                                central lock, and secondary keys are <span
                                                        class="cobalt-text--emphasized">required</span>.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="car_creation_bifurcation__card_container">
                    <div class="car_creation_bifurcation__card">
                        <div class="cobalt-Card">
                            <div class="cobalt-Card__Section">
                                <div class="cobalt-text-title">{% trans 'Drivy' %}</div>
                            </div>
                            <div class="cobalt-Card__Section cobalt-Card__Section--divided">
                                <div class="car_creation_bifurcation_estimated_earnings__container">
                                    <p class="cobalt-text-titleExtraLarge cobalt-mb-extraTight">£{{ price }}</p>
                                    <p class="cobalt-text-sectionHeader cobalt-mb-medium">
                                        <span>{% trans 'estimated monthly earnings' %}</span>
                                        <span class="cobalt-mb-unit cobalt-Icon cobalt-Icon--size16 cobalt-Icon--colorGraphiteLight"
                                              data-val="drive_estimation_earning">
<a class="js_popup_trigger" href="#estimate_about_with_standard"><svg viewBox="0 0 24 24"
                                                                      xmlns="http://www.w3.org/2000/svg">
  <path d="M11 9h2V7h-2v2zm1 11c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-18C6.477 2 2 6.477 2 12A10 10 0 1 0 12 2zm-1 15h2v-6h-2v6z"></path>
</svg>

</a></span>
                                    </p>
                                    <button type="submit" data-set="without_open"
                                            class="cobalt-Button cobalt-Button2 cobalt-Button--large cobalt-Button--fullWidth">{% trans 'Continue without Open' %}</button>
                                </div>
                            </div>
                            <div class="cobalt-Card__Section cobalt-Card__Section--divided">
                                <ul>
                                    <li class="cobalt-BulletListItem cobalt-mb">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAsphaltLight">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body"><span class="cobalt-text--emphasized">Meet drivers at the check-in and check-out</span>
                                                to sign the in-app rental agreement.</p>
                                        </div>
                                    </li>
                                    <li class="cobalt-BulletListItem cobalt-mb">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAsphaltLight">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body">Your car may receive <span
                                                    class="cobalt-text--emphasized">less requests</span>.</p>
                                        </div>
                                    </li>
                                    <li class="cobalt-BulletListItem">
<span class="cobalt-BulletListItem__Icon">
<div class="cobalt-Icon cobalt-Icon--size24 cobalt-Icon--colorAsphaltLight">
<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
        fill-rule="evenodd"></path>
</svg>

</div>
</span>
                                        <div class="cobalt-BulletListItem__Content">
                                            <p class="cobalt-text-body">Suitable for <span
                                                    class="cobalt-text--emphasized">very occasional car sharing</span>.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="brand" value="{{ model.brand_id }}">
        <input type="hidden" name="model" value="{{ model.model_id }}">
        <input type="hidden" name="year" value="{{ model.year }}">
        <input type="hidden" name="millage" value="{{ model.millage }}">
        <input type="hidden" name="country" value="{{ model.country }}">
        <input type="hidden" name="recommendPrice" value="{{ recommendPrice }}">
        <input type="hidden" name="drivy_open" value="" class="drivy_open">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrfmiddlewaretoken }}" class="input-focused">
    </form>
</div>
