{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load convert_type %}
{% load alertify %}
{% load profile_header %}
{% load calendar_booking %}
{% load variable_tag %}
{% block content %}

    {% header userData=user user=user edit_acctount='True' %}

    <div class="container content-section content-account">
        <div class="car-step2">
            <form method="post" action="{% url 'car-wizards-new' %}" enctype="multipart/form-data"
                  id="car_wizards-form">
                {% csrf_token %}
                <div class="content-step2">
                    <div class="header-step">
                        {% trans 'Add your vehicle' %}
                    </div>

                    <ul class="nav nav-tabs vehicle-list">

                        <li class="active"><a data-toggle="tab" href="#Description">{% trans 'Description' %}</a></li>
                        <li><a data-toggle="tab" href="#Address">{% trans 'Address' %}</a></li>
                        <li><a data-toggle="tab" href="#Photos">{% trans 'Photos' %}</a></li>
                        <li><a data-toggle="tab" href="#Calendar">{% trans 'Calendar' %}</a></li>
                        <li><a data-toggle="tab" href="#Price">{% trans 'Price' %}</a></li>
                        <li><a data-toggle="tab" href="#your_conditions">{% trans 'Your conditions' %}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="Description" class="tab-pane fade in active">

                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Vehicle' %}</div>
                                <div class="row group-step2 model-brand-group">
                                    <div class="col-md-3">
                                        <div class="group">
                                            <label>{% trans 'Make' %}</label>
                                            <select class="form-control brand-model" name="brand_id">
                                                {% for brand in brands %}
                                                    <option
                                                            {% if form.brand_id.value %} selected
                                                            {% elif brandSelected == brand.id %} selected {% endif %}
                                                                                         value="{{ brand.id }}">{{ brand.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 model-add">
                                        <label></label>
                                        <select class="form-control model-import" name="model_id"
                                                data-selected="{% if form.model_id.value %} selected {% else %}{{ modelSelected }}{% endif %}">
                                            <option>{% trans 'Model' %}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="cobalt-Callout cobalt-Callout--info js_title_preview_wrapper top15 hide"
                                     id="title-modal-brand">
                                    <p>
                                        {% trans 'The title of your listing will be:' %}
                                        <strong class="js_title_preview"></strong>
                                    </p>
                                </div>

                            </div>

                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Registration' %}</div>
                                <div class="row group-step2">
                                    <div class="col-md-3">
                                        <div class="group">
                                            <label>{% trans 'Country of registration' %}{% if not country %}
                                                <a target="_blank" href="{% url 'approve-drive' user.id %}">
                                                    ({% trans 'Fill' %})</a>{% endif %}
                                            </label>
                                            <select class="form-control" disabled="disabled">
                                                {% if country %}
                                                    <option selected value="{{ country }}"> {{ country }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>{% trans 'Year of first registration' %}</label>
                                        <select class="form-control" name="year_of_first_register">
                                            {% for year in years %}
                                                <option {% if form.year_of_first_register.value %}selected{% elif yearsSelected == year %}
                                                        selected {% endif %}>{{ year }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>{% trans 'Number plate' %}</label>
                                        <div>
                                            <input type="text" name="number_plate"
                                                   value="{% if form.number_plate.value %}{{ form.number_plate.value }}{% endif %}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Features' %}</div>
                                <div class="row group-step2">
                                    <div class="col-md-3">
                                        <div class="group">
                                            <label>{% trans 'Number of seats' %}</label>
                                            <select class="form-control" name="number_of_seats_id">
                                                {% for seat in seats %}
                                                    <option {% if form.number_of_seats_id.value %}selected{% endif %}
                                                            value="{{ seat.id }}">{{ seat.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>{% trans 'Number of doors' %}</label>
                                        <select class="form-control" name="number_of_doors_id">
                                            {% for door in doors %}
                                                <option {% if form.number_of_doors_id.value %}selected{% endif %}
                                                        value="{{ door.id }}">{{ door.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>{% trans 'Fuel' %}</label>
                                        <select class="form-control" name="fuel_id">
                                            {% for fuel in fuels %}
                                                <option {% if form.fuel_id.value %}selected{% endif %}
                                                        value="{{ fuel.id }}">{{ fuel.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>{% trans 'Transmission' %}</label>
                                        <select class="form-control" name="transmission_id">
                                            {% for transmission in transmissions %}
                                                <option {% if form.transmission_id.value %}selected{% endif %}
                                                        value="{{ transmission.id }}">{{ transmission.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>{% trans 'Mileage' %}</label>
                                        <select class="form-control" name="mileage_id">
                                            {% for mileage in mileages %}
                                                <option {% if form.mileage_id.value %}selected{% endif %}
                                                        value="{{ mileage.id }}">{{ mileage.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Extras' %}</div>
                                <div class="row group-step2">
                                    <div class="group">

                                        {% for extra_val in extras %}

                                            <div class="col-md-3 extras-divZ">
                                                <div class="pretty p-icon p-rotate">
                                                    <input type="checkbox" name="extra_id"
                                                           {% if extra_val.id|convert:"str"  in extra.extra_id.value %}checked="checked"{% endif %}
                                                           value="{{ extra_val.id }}"/>
                                                    <div class="state p-success">
                                                        <i class="icon mdi mdi-check"></i>
                                                        <label>{{ extra_val.name }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Contact' %}</div>
                                <div class="row group-step2">
                                    <div class="col-md-3">
                                        <div class="group">
                                            <label>{% trans 'Your mobile phone number' %}</label>
                                            <div class="">
                                                <input type="tel" name="phone_number" id="phone2" maxlength="150"
                                                       value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% elif user.phone_number %}{{ user.phone_number }}{% endif %}"
                                                       class="textinput textInput form-control"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Description' %}</div>
                                <div class="row group-step2">
                                    <div class="col-md-12">
                                        <div class="group">
                                            <div class="">
                                        <textarea name="description"
                                                  placeholder="{% trans 'My vehicle is well-maintained and in very good condition. It has a panoramic roof and heated seats to ensure maximum comfort for all the passengers' %}"
                                                  rows="4"
                                                  class="textinput textInput form-control">{% if form.description.value %}
                                            {{ form.description.value }}{% endif %}</textarea></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="Address" class="tab-pane fade">
                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Address' %}</div>
                                <div class="row group-step2">
                                    <div class="group">
                                        <div class="col-md-12">
                                            <label>{% trans 'Parking address' %}</label>

                                            <div id="locationField">
                                                <input id="address_autocomplete" name="parking_address"
                                                       value="{% if form.parking_address.value %}{{ form.parking_address.value }}{% endif %}"
                                                       class="address-car_wizards"
                                                       placeholder="Enter your address"
                                                       type="text"/>
                                                <style>
                                                    #map {
                                                        position: relative;
                                                        top: 100px;
                                                        height: 300px;
                                                        width: 400px;
                                                        z-index: 44444444;
                                                    }
                                                </style>
                                                <div id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hidden_content" data-show="no_suggestions" style="display: block;">
                                    <div class="cobalt-Callout cobalt-Callout--error top10">
                                        Sorry, we can't find that address.<br>Please enter it again or mark your car's
                                        location
                                        on a
                                        map:
                                        <div class="top10">
                                            <a class="cobalt-Button cobalt-Button--primary js_popup_trigger js_custom_address_popin_trigger"
                                               href="#custom-address-popin">Mark your car's location on a map</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Photos" class="tab-pane fade">
                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Add attractive photos of your car' %}</div>
                                <div class="row group-step2">
                                    <div class="group-text">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <!-- default size 24x24 -->
                                                        <g fill="none" fill-rule="evenodd" stroke="none"
                                                           stroke-width="1">
                                                            <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
                                                                  fill="#b4bbc6"></path>
                                                        </g>
                                                    </svg>
                                                    {% trans 'Use the landscape format' %}
                                                </div>
                                                <div class="col-md-3">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <!-- default size 24x24 -->
                                                        <g fill="none" fill-rule="evenodd" stroke="none"
                                                           stroke-width="1">
                                                            <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
                                                                  fill="#b4bbc6"></path>
                                                        </g>
                                                    </svg>
                                                    {% trans 'Follow our angle guidelines' %}
                                                </div>

                                                <div class="col-md-3">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <!-- default size 24x24 -->
                                                        <g fill="none" fill-rule="evenodd" stroke="none"
                                                           stroke-width="1">
                                                            <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
                                                                  fill="#b4bbc6"></path>
                                                        </g>
                                                    </svg>
                                                    {% trans 'Keep the background clear and neutral' %}
                                                </div>
                                                <div class="col-md-3">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <!-- default size 24x24 -->
                                                        <g fill="none" fill-rule="evenodd" stroke="none"
                                                           stroke-width="1">
                                                            <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M10.039794,16.4579825 L10.3868138,16.8048824 C10.7382605,17.1562077 11.3079394,17.1562077 11.6593861,16.8048824 L12.0064058,16.4579825 L18.3862862,10.0803058 C18.7379046,9.72880879 18.7379046,9.15879074 18.3862862,8.80729375 L17.6922467,8.11349398 C17.3408,7.76216867 16.771121,7.76216867 16.4196743,8.11349398 L11.0398301,13.5249288 L8.08032565,10.5664466 C7.72887895,10.2151213 7.15920001,10.2151213 6.80775331,10.5664466 L6.11371383,11.2602463 C5.76209539,11.6117433 5.76209539,12.1817614 6.11371383,12.5332584 L10.039794,16.4579825 Z"
                                                                  fill="#b4bbc6"></path>
                                                        </g>
                                                    </svg>
                                                    {% trans 'Use only natural daylight' %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="file-loading">
                                                <input id="file-1" type="file" class="file-input-d" multiple
                                                       data-overwrite-initial="false"
                                                       data-min-file-count="2" data-theme="fas" name="files">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="Calendar" class="tab-pane fade">

                            <div class="clearfix section-group calendar-group">
                                {% calendar_data '' dateobj %}

                                <div class="row group-step2 check-in-check-out-time">
                                    <div class="col-md-12">
                                        <div class="group">
                                            <div class="">
                                                <span class="checkin-checkout-title">
                                              <a href="">{% trans 'Check-in/check-out times.' %}</a>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Copy Fields -->

                                {% if weeks %}
                                    <div class="checkin-checkout hide control-group after-add-more col-xs-12 ">
                                        <div class="checkin-checkout-title2">
                                            {% trans 'On weekdays, I am available:' %}
                                        </div>

                                        {% for key,week in weeks.items %}
                                            <div class="group-section-weeks">

                                                {% if key == 'saturday' %}
                                                    <div class="checkin-checkout-title2">
                                                        {% trans 'On weekdays, I am available:' %}
                                                    </div>
                                                {% endif %}

                                                <div class="day-title">
                                                    {{ week }}
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <select class="form-control select-type-slot"
                                                                name="day_week_{{ key }}">
                                                            <option>{% trans 'Select an option' %}</option>
                                                            <option value="never">{% trans 'Never' %}</option>
                                                            <option value="always">{% trans '24 hours a day' %}</option>
                                                            <option value="custom"
                                                                    selected="selected">{% trans 'At fixed times' %}</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <select class="form-control slot-time"
                                                                name="slot_first_1_{{ key }}">
                                                            <option value=""></option>
                                                            {% for key, slot in timeSlots.items %}
                                                                <option value="{{ key }}">{{ slot }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <select class="form-control slot-time"
                                                                name="slot_second_1_{{ key }}">
                                                            <option value=""></option>
                                                            {% for key,slot in timeSlots.items %}
                                                                <option value="{{ key }}">{{ slot }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3 add-time-slot">
                                                        <a class="js_daily_schedule_add_slot add-more" href="#">Add a
                                                            time
                                                            slot</a>

                                                    </div>

                                                </div>

                                                <div class="row second-group-time_slot hide copy ">
                                                    <div class="control-group row ">
                                                        <div class="col-md-3">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <select class="form-control slot-time slot-clone"
                                                                    name="slot_first_2_{{ key }}">
                                                                <option value=""></option>
                                                                {% for key,slot in timeSlots.items %}
                                                                    <option value="{{ key }}">{{ slot }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <select class="form-control slot-time slot-clone"
                                                                    name="slot_second_2_{{ key }}">
                                                                <option value=""></option>
                                                                {% for key,slot in timeSlots.items %}
                                                                    <option value="{{ key }}">{{ slot }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <button class="btn btn-danger remove remove-slot" type="button">
                                                            <i
                                                                    class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </div>
                                                </div>


                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div id="Price" class="tab-pane fade">
                            <div class="section-group">
                                <div class="vehicle-text">{% trans 'Daily Price' %}</div>
                                <div class="row group-step2">
                                    <div class="group">
                                        <div class="col-md-12">
                                            <label>{% trans 'Price for every day(€)' %}</label>
                                            <div class="daily-price">
                                                <div class="">
                                                    <div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-danger btn-number minus" data-type="minus" data-field="daily_price">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span><input type="text" name="daily_price"
                        class="form-control  input-number"
                        value="{% if form.daily_price.value %}{{ form.daily_price.value }}{% elif recommendPrice %}{{ recommendPrice }}{% else %}1{% endif %}"
                        min="1" max="100000000">
                                                        <span class="input-group-btn">
              <button type="button" class="plus btn btn-success btn-number" data-type="plus" data-field="daily_price">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
                                                    </div>
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="daily_price-description">
                                                {% trans 'Competitive prices generate more requests. Start with the lowest possible price to get your first rentals and move your listing up the search results. You can always increase it later on if necessary.' %}
                                            </div>
                                            <hr/>
                                            <div class="percentage">
                                                <label>{% trans 'Length-of-rental discounts' %}</label>
                                                <div class="cobalt-mb-discounts">
                                                    {% trans 'Discounts apply to long rentals in order for your prices to be competitive compared to car rental agencies. You can customize these discounts in the advanced settings.' %}
                                                </div>
                                                <div class="cobalt-Note cobalt-mb-tight">
                                                    {% trans 'We strongly recommend you set significant discounts, otherwise your car may not get booked for long rentals, which will hurt your earnings during peak season.' %}
                                                </div>
                                                <div class="flex_row_center">
                                                    <div class="cobalt-mr-medium">
                                                        <div class="cobalt-FormField">
                                                            <label>{% trans 'For 2 days' %}</label>
                                                            <div class="cobalt-Stepper__Wrapper">
                                                                <div class="cobalt-Stepper__ActionButton"
                                                                     data-type="minus">
                                                                    <button class="cobalt-Button" type="button">
                                                                        <span>-</span>
                                                                    </button>
                                                                </div>
                                                                <div class="cobalt-Stepper__ContentWrapper">
                                                                    <div class="cobalt-flexAlign">
                                                                        <div class="price-percent">{% get_variable 'daily_price_discount_2_days_suggestion' %}</div>
                                                                        %
                                                                        <div class="cobalt-Stepper__Meta">{% trans 'off' %}</div>
                                                                    </div>
                                                                    <input type="hidden" class="percent_input"
                                                                           data-min="{% get_variable 'daily_price_discount_2_days_minimum' %}"
                                                                           name="two_days_percentage"
                                                                           value="{% get_variable 'daily_price_discount_2_days_suggestion' %}">
                                                                </div>
                                                                <div class="cobalt-Stepper__ActionButton"
                                                                     data-type="plus">
                                                                    <button class="cobalt-Button" type="button">
                                                                        <span>+</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="cobalt-Button cobalt-Button--ghost cobalt-Button--standalone cobalt-Button--standalone-price hide"
                                                            type="button"><span class="cobalt-Button__Icon"><span
                                                            class="cobalt-Icon"><svg viewBox="0 0 24 24"
                                                                                     xmlns="http://www.w3.org/2000/svg"><path
                                                            d="M17.65 6.35A7.958 7.958 0 0 0 12 4a8 8 0 1 0 0 16c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18a6 6 0 1 1 0-12c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path></svg></span></span><span>
                                                        <span class="suggest-price">{% get_variable 'daily_price_discount_2_days_suggestion' %}</span>%</span>
                                                    </button>
                                                </div>

                                                <div class="flex_row_center">
                                                    <div class="cobalt-mr-medium">
                                                        <div class="cobalt-FormField">
                                                            <label>{% trans 'For 1 week' %}</label>
                                                            <div class="cobalt-Stepper__Wrapper">
                                                                <div class="cobalt-Stepper__ActionButton"
                                                                     data-type="minus">
                                                                    <button class="cobalt-Button" type="button">
                                                                        <span>-</span>
                                                                    </button>
                                                                </div>
                                                                <div class="cobalt-Stepper__ContentWrapper">
                                                                    <div class="cobalt-flexAlign">
                                                                        <div class="price-percent">{% get_variable 'daily_price_discount_1_week_suggestion' %}</div>
                                                                        %
                                                                        <div class="cobalt-Stepper__Meta">{% trans 'off' %}</div>
                                                                    </div>
                                                                    <input type="hidden"
                                                                           class="percent_input"
                                                                           data-min="{% get_variable 'daily_price_discount_1_week_minimum' %}"
                                                                           name="one_week_percentage"
                                                                           value="{% get_variable 'daily_price_discount_1_week_suggestion' %}">
                                                                </div>
                                                                <div class="cobalt-Stepper__ActionButton"
                                                                     data-type="plus">
                                                                    <button class="cobalt-Button" type="button">
                                                                        <span>+</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="cobalt-Button cobalt-Button--ghost cobalt-Button--standalone cobalt-Button--standalone-price hide"
                                                            type="button"><span class="cobalt-Button__Icon"><span
                                                            class="cobalt-Icon"><svg viewBox="0 0 24 24"
                                                                                     xmlns="http://www.w3.org/2000/svg"><path
                                                            d="M17.65 6.35A7.958 7.958 0 0 0 12 4a8 8 0 1 0 0 16c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18a6 6 0 1 1 0-12c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path></svg></span></span><span>
                                                        <span class="suggest-price">{% get_variable 'daily_price_discount_1_week_suggestion' %}</span>%</span>
                                                    </button>
                                                </div>

                                                <div class="flex_row_center">
                                                    <div class="cobalt-mr-medium">
                                                        <div class="cobalt-FormField">
                                                            <label>{% trans 'For 1 month' %}</label>
                                                            <div class="cobalt-Stepper__Wrapper">
                                                                <div class="cobalt-Stepper__ActionButton"
                                                                     data-type="minus">
                                                                    <button class="cobalt-Button" type="button">
                                                                        <span>-</span>
                                                                    </button>
                                                                </div>
                                                                <div class="cobalt-Stepper__ContentWrapper">
                                                                    <div class="cobalt-flexAlign">
                                                                        <div class="price-percent">{% get_variable 'daily_price_discount_1_month_suggestion' %}</div>
                                                                        %
                                                                        <div class="cobalt-Stepper__Meta">{% trans 'off' %}</div>
                                                                    </div>
                                                                    <input type="hidden"
                                                                           class="percent_input"
                                                                           data-min="{% get_variable 'daily_price_discount_1_month_minimum' %}"
                                                                           name="one_month_percentage"
                                                                           value="{% get_variable 'daily_price_discount_1_month_suggestion' %}">
                                                                </div>
                                                                <div class="cobalt-Stepper__ActionButton"
                                                                     data-type="plus">
                                                                    <button class="cobalt-Button" type="button">
                                                                        <span>+</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="cobalt-Button cobalt-Button--ghost cobalt-Button--standalone cobalt-Button--standalone-price hide"
                                                            type="button"><span class="cobalt-Button__Icon"><span
                                                            class="cobalt-Icon"><svg viewBox="0 0 24 24"
                                                                                     xmlns="http://www.w3.org/2000/svg"><path
                                                            d="M17.65 6.35A7.958 7.958 0 0 0 12 4a8 8 0 1 0 0 16c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0 1 12 18a6 6 0 1 1 0-12c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"></path></svg></span></span><span>
                                                        <span class="suggest-price">{% get_variable 'daily_price_discount_1_month_suggestion' %}</span>%</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="your_conditions" class="tab-pane fade">
                            <div class="reminder_conditions_text">
                                <h3>{% trans 'Set the rental conditions for your car' %}</h3>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="rental_duration_block">
                                        <label class="rental_duration_text">{% trans 'Rental duration' %}</label>
                                        <input type="text" class="rental_duration" name="rental_duration" value=""/>
                                        <div class="rental_duration_no_minimum">{% trans 'No minimum' %}</div>
                                        <div class="rental_duration_maximum_days">{% trans 'Maximum 30 days' %}</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="maximum_booking_notice_block">
                                        <label class="rental_duration_label">{% trans 'Maximum booking notice' %} <img
                                                src="/media/info.svg" class="info-img"
                                                title="{% get_variable 'maximum_booking_notice' %}"
                                                data-toggle="tooltip"></label>
                                        <input type="text" class="maximum_booking_notice" name="max_booking_notice"
                                               value=""/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="preparation_time_block">
                                        <label class="preparation_time_text">
                                            {% trans 'Preparation time' %}<img src="/media/info.svg" class="info-img"
                                                                               title="{% get_variable 'preparation_time' %}"
                                                                               data-toggle="tooltip">
                                        </label>
                                        <div class="">
                                            <select name="preparation_time" class="form-control"
                                                    id="car_rental_delay_min_minutes">
                                                {% for key,time in preparationTime.items %}
                                                    <option value="{{ key }}">{{ time }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="special_requirements">
                                        <label class="special_requirements_label">{% trans 'Special requirements' %}
                                            <img src="/media/info.svg" class="info-img"
                                                 title="{% get_variable 'special_requirements' %}"
                                                 data-toggle="tooltip"></label>
                                        <div>
                                            <textarea name="special_requirements"
                                                      class="special_requirements_notice"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="submit">
                        <button type="submit" class="profile-link step2-button">Save</button>
                    </div>
                    <div class="phone_valid">
                        <input type="hidden" id="validate_phone" name="validate_phone">
                        <input type="hidden" name="request_from_step2" value="true">
                        <input type="hidden" id="parking_address_validate" name="parking_address_validate"
                               value="{% if form.parking_address_validate.value %}{{ parking_address_validate }}{% endif %}">
                        <input type="hidden" name="drivy_open" value="{% if drivy_open %}{{ drivy_open }}{% endif %}"
                               class="drivy_open">
                    </div>
                    {#                <div class="section-group">#}
                    {#                    <div class="row group-step2">#}
                    {#                        <div class="group">#}
                    {#                            <div class="col-md-8">#}
                    {#                                <!-- file source -->#}
                    {#                                <div class="pretty p-svg p-plain">#}
                    {#                                    <input type="checkbox"/>#}
                    {#                                    <div class="state">#}
                    {#                                        <img class="svg" src="{% static 'images/task.svg' %}">#}
                    {#                                        <label>{% trans 'I hereby certify to offer a well-maintained vehicle with an up-to-date MOT and to be its registered keeper on the V5C log <br> book - and I accept to lose my insurance coverage otherwise.' %}</label>#}
                    {##}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {##}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                </div>#}


                </div>
        </div>
        </form>
    </div>
    </div>

    {% alertify_content extra %}
    {% alertify_content images %}



    <div class='scripts'>

        <script id="js_config" type="application/json">
    {"env":"production","country":"GB","locale":"en_GB","remoteIP":"130.193.121.226","host":"\"www.drivy.co.uk\"","userAgent":"\"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36\"","action":"dashboard-calendars-show","sentryDsn":"https://af4546ab003a40288665ac7ae5c2d027@sentry.io/167570","release":"2a2f57b6ac2cfc366acd004dee48851ed38a1ea9","jsErrorsWhitelistedUrls":["www.drivy.co.uk","d2y2masl4rtrav.cloudfront.net"],"googleApiKey":"AIzaSyAsnQSjaFmgUUm5N_hbgMwY86uuVV6u9nk","appPackageName":"com.c4mprod.voiturelib","stripe":{"publishableKey":"pk_live_fv6eZDKN88abFA82sc6xu5Fv","scriptSrc":"https://js.stripe.com/v3/"},"zendeskScriptSrc":"https://static.zdassets.com/ekr/snippet.js?key=cef1d1b0-1bc7-4e07-acce-dca5444c67f4","currencyFormatting":{"separator":".","delimiter":",","format":"%u%n"},"i18nKeys":{"javascript":{"date":{"formats":{"default":"DD/MM/YYYY","day_name_short":"ddd D MMM","day_name_long":"dddd D MMM","day_month":"D MMM"}},"validation_errors":{"file_too_big":"The file exceeds the maximum permitted size.","file_too_small":"The file is too small, please send a larger file.","wrong_file_type":"Only images in the following formats are accepted: %{accepted_types}."},"restrictions":{"no_limit_delay":"Unlimited notice period","no_delay_max":"All future dates","delay_max":"The next %{delay_max} days","delay_max_in_month":{"one":"The next month","other":"The next %{count} months"},"delay_middle":"Between %{delay_min} and %{delay_max} days' notice","delay_exact":"Exactly %{delay} days' notice (not recommended)","length_between":"No rentals of %{length_min} or less - Maximum %{length_max}","length_between_no_minimum":"No minimum - Maximum %{length_max}","length_in_days":"%{length} days","length_in_days_singular":"%{length} day","length_in_hours":"%{length} hours"},"search":{"by_day":"/day"},"payments":{"payment_date":"Payment date","planned":"Scheduled","amount":"Payment amount","rental_id":"Rental number","car":"Car","car_plate_number":"Number plate","rental_start_date":"Check-in","rental_end_date":"Check-out","rental_distance":"Total mileage paid (%{unit})","rental_distance_driven":"Total mileage travelled (%{unit})","rental_earnings":"Rental income","rental":"Rental","other_revenues":"Other income","breakdown_fee":"Fee","compensation":"Compensation","remaining":"Other","total":"Total:","driver":"Driver","owner_done":"Owner – Completed","owner_due":"Owner – Upcoming","transfers":"Payments","total_subtitle":{"since_creation":"since you registered","since_creation_by_car":"since you registered for your %{car_title}","by_year":"in %{year}","by_year_and_car":"in %{year} for your %{car_title}"},"owner_revenue":{"including_rental":"Rental:","including_other_revenues":"Other income:","including_breakdown_fee":"Fee:","including_compensation":"Compensation:","including_remaining":"Other price updates:","including_open_subscription":"Open subscription:"}},"booking":{"errors":{"base":{"empty_field":"Please complete or correct the details below (in red).","informations_invalid":"Please carefully check the missing or incorrect details in red.","fetch_error":"An error occurred when retrieving the rental price. Please try again."},"booking_card":{"required":"must be completed","invalid":"is not valid"},"conditions_acceptance":{"required":"Please read the Drivy terms of service and accept them by ticking below."},"start_date":{"empty":"The check-in date must be completed"},"end_date":{"empty":"The check-out date must be completed"},"cdw_level":{"empty":"Please indicate whether you wish to select the excess reduction option."},"distance":{"empty":"The mileage must be completed"}},"rental_summary":{"cdw_html":"Excess reduction","no_options":"No option selected"}},"calendar":{"from":"from","to":"to","repeat":"Repeat","repeat_options":{"zero":"None","one":"For %{count} month","other":"For %{count} months"},"available":"Available","unavailable":"Unavailable","show_more_months":"Show next months"},"customer_service":{"damage_request":{"are_you_sure":"Are you sure you want to send the form as it is?"}},"datetimepicker":{"am":"before 12 midday","pm":"after 12 midday"},"errors":{"not_valid":"%{stuff} is not valid.","bad_request":"An error has occurred.","unauthorized":"You are not authorised to access this resource.","forbidden":"You are not authorised to access this resource.","not_found":"An error has occurred.","internal_server_error":"An error has occurred on our server. Our technical team has been notified.","error_occured":"An error has occurred.","request_timeout":"Internet connection problem. Please try again.","webcam_not_available":"Sorry, your browser doesn't support webcam access"},"magnific_popup":{"tClose":"Close (esc)","tLoading":"Loading...","image":{"tError":"The image could not be loaded."},"ajax":{"tError":"The content could not be loaded."}},"picture_uploader":{"sending":"Loading"},"profile":{"delete_account":"Are you sure you want to delete your account?"},"textarea_maxlength":{"text":{"one":"%{count} character remaining.","other":"%{count} characters remaining."}}},"pages":{"homepage":{"search_box":{"current_location":"Current location"}}}},"trackingEnabled":true,"cookiesAcceptance":{"functional":true,"performance":true,"targeting":true},"googleConversionIds":{"owner":874045998,"driver":882477921},"userID":2852584,"mapsApiEndpoint":"https://maps.googleapis.com/maps/api/js?libraries=places\u0026language=en_GB\u0026v=3\u0026key=AIzaSyAsnQSjaFmgUUm5N_hbgMwY86uuVV6u9nk","mapsApiKey":"AIzaSyAsnQSjaFmgUUm5N_hbgMwY86uuVV6u9nk","momentLocaleOptions":{"months":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthsShort":["Jan.","Feb.","Mar.","Apr.","May","Jun.","Jul.","Aug.","Sept.","Oct.","Nov.","Dec."],"weekdays":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"weekdaysShort":["Sun.","Mon.","Tues.","Weds.","Thurs.","Fri.","Sat."],"week":{"dow":1,"doy":4}},"assetPaths":{"dashboard/cars/show/photos/loader.gif":"https://d2y2masl4rtrav.cloudfront.net/packs/images/dashboard/cars/show/photos/loader-a77ad337f7b926368d983142069303ae.gif","search/marker_empty@2x.png":"https://d2y2masl4rtrav.cloudfront.net/packs/images/search/marker_empty@2x-b4477d9a6350d39f7c0f40b9d749daae.png","car/marker_user@2x.png":"https://d2y2masl4rtrav.cloudfront.net/packs/images/car/marker_user@2x-615c8d8ec441e12f2c02e92b46771416.png","car/marker_car_precise.svg":"https://d2y2masl4rtrav.cloudfront.net/packs/images/car/marker_car_precise-3df2b6b0ab3be83dd63917a78dfcde13.svg","car/marker_car_approximate.svg":"https://d2y2masl4rtrav.cloudfront.net/packs/images/car/marker_car_approximate-16217125953d07855dcd2e606d7e8540.svg","shared/illustrations/repairman.png":"https://d2y2masl4rtrav.cloudfront.net/packs/images/shared/illustrations/repairman-01bee560c910547e6c7de8833980b005.png"},"carPhotoUploaderLargeDimensions":{"w":400,"h":280},"routes":{"request_availability_path":"/request_availability","legal_path":"/terms","uploads_settings_path":"/uploads_settings","dashboard_rentals_path":"/dashboard/rentals","tracking_page_path":"/tracking/page","tracking_event_path":"/tracking/event","autocomplete_address_path":"/autocomplete/address"},"tracking":{"googleAdsRemarketing":[{}]},"flashMessage":null}
    </script>

        <script>
            window.JUST_ON_TOUCH_DEVICES = true // Tocca.js
        </script>

        <script>!function (e) {
            function r(r) {
                for (var n, c, u = r[0], i = r[1], f = r[2], p = 0, s = []; p < u.length; p++) c = u[p], Object.prototype.hasOwnProperty.call(o, c) && o[c] && s.push(o[c][0]), o[c] = 0;
                for (n in i) Object.prototype.hasOwnProperty.call(i, n) && (e[n] = i[n]);
                for (l && l(r); s.length;) s.shift()();
                return a.push.apply(a, f || []), t()
            }

            function t() {
                for (var e, r = 0; r < a.length; r++) {
                    for (var t = a[r], n = !0, u = 1; u < t.length; u++) {
                        var i = t[u];
                        0 !== o[i] && (n = !1)
                    }
                    n && (a.splice(r--, 1), e = c(c.s = t[0]))
                }
                return e
            }

            var n = {}, o = {0: 0}, a = [];

            function c(r) {
                if (n[r]) return n[r].exports;
                var t = n[r] = {i: r, l: !1, exports: {}};
                return e[r].call(t.exports, t, t.exports, c), t.l = !0, t.exports
            }

            c.e = function (e) {
                var r = [], t = o[e];
                if (0 !== t) if (t) r.push(t[2]); else {
                    var n = new Promise(function (r, n) {
                        t = o[e] = [r, n]
                    });
                    r.push(t[2] = n);
                    var a, u = document.createElement("script");
                    u.charset = "utf-8", u.timeout = 120, c.nc && u.setAttribute("nonce", c.nc), u.src = function (e) {
                        return c.p + "" + ({}[e] || e) + "-" + {
                            3: "45a0c1690a22ac656541",
                            4: "3ea49d39c5a3241559f3",
                            5: "e13ea445ce496ae95bd5",
                            6: "e5439b813b0e7aa384c5",
                            46: "288985ded432ab919f85",
                            47: "2ff535eac470f5699066",
                            48: "11beb74dfcafa4380910",
                            49: "a7297bee0c8c6d9afcf4",
                            50: "65042c8043eeac9bff41",
                            51: "a473adc3d5e705ae83ca"
                        }[e] + ".js"
                    }(e);
                    var i = new Error;
                    a = function (r) {
                        u.onerror = u.onload = null, clearTimeout(f);
                        var t = o[e];
                        if (0 !== t) {
                            if (t) {
                                var n = r && ("load" === r.type ? "missing" : r.type),
                                    a = r && r.target && r.target.src;
                                i.message = "Loading chunk " + e + " failed.\n(" + n + ": " + a + ")", i.name = "ChunkLoadError", i.type = n, i.request = a, t[1](i)
                            }
                            o[e] = void 0
                        }
                    };
                    var f = setTimeout(function () {
                        a({type: "timeout", target: u})
                    }, 12e4);
                    u.onerror = u.onload = a, document.head.appendChild(u)
                }
                return Promise.all(r)
            }, c.m = e, c.c = n, c.d = function (e, r, t) {
                c.o(e, r) || Object.defineProperty(e, r, {enumerable: !0, get: t})
            }, c.r = function (e) {
                "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {value: "Module"}), Object.defineProperty(e, "__esModule", {value: !0})
            }, c.t = function (e, r) {
                if (1 & r && (e = c(e)), 8 & r) return e;
                if (4 & r && "object" == typeof e && e && e.__esModule) return e;
                var t = Object.create(null);
                if (c.r(t), Object.defineProperty(t, "default", {
                    enumerable: !0,
                    value: e
                }), 2 & r && "string" != typeof e) for (var n in e) c.d(t, n, function (r) {
                    return e[r]
                }.bind(null, n));
                return t
            }, c.n = function (e) {
                var r = e && e.__esModule ? function () {
                    return e.default
                } : function () {
                    return e
                };
                return c.d(r, "a", r), r
            }, c.o = function (e, r) {
                return Object.prototype.hasOwnProperty.call(e, r)
            }, c.p = "/packs/", c.oe = function (e) {
                throw e
            };
            var u = window.webpackJsonp = window.webpackJsonp || [], i = u.push.bind(u);
            u.push = r, u = u.slice();
            for (var f = 0; f < u.length; f++) r(u[f]);
            var l = i;
            t()
        }([]);
        //# sourceMappingURL=runtime-ec7c17196ea008ded04e.js.map
        </script>

        <script src="{% static 'js/vendor-0628e5d3246d0ac58211.js' %}"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/application-9a73ecf26898c5efc6b0.js' %}"
                crossorigin="anonymous"></script>
        <script class='js_async_footer' type='application/json'>
{"content":"<div class='footer--light main_footer'>\n<div class='main_footer__container container'>\n<div class='row'>\n<div class='.col-md-5 col-sm-5 col-xs-12 main_footer__section main_footer__section--help_links'>\n<div class='main_footer__title'>Find out more</div>\n<ul class='main_footer__links_container'>\n<li><a class=\"main_footer__link\" href=\"/how-it-works\">How does it work?</a></li>\n<li><a noblank=\"true\" class=\"main_footer__link\" href=\"/trust\">A trusted service</a></li>\n<li><a noblank=\"true\" class=\"main_footer__link\" href=\"/help\">Help centre</a></li>\n<li><a class=\"main_footer__link\" href=\"https://www.drivy.co.uk/contact\">Contact</a></li>\n</ul>\n</div>\n<div class='.col-md-5 col-sm-5 col-xs-6 main_footer__section main_footer__section--discover'>\n<div class='main_footer__title'>Explore</div>\n<ul class='main_footer__links_container'>\n<li><a noblank=\"true\" class=\"main_footer__link\" href=\"https://www.drivy.co.uk/insurance\">Insurance</a></li>\n<li><a class=\"main_footer__link\" href=\"https://www.drivy.co.uk/rental-agreement\">Rental agreement</a></li>\n<li><a class=\"main_footer__link\" href=\"https://www.drivy.co.uk/mobile\">Mobile app</a></li>\n</ul>\n</div>\n<div class='.col-md-2 col-sm-2 col-xs-6 main_footer__section'>\n<div class='main_footer__title'>Partners</div>\n<div class='main_footer__partners_container'>\n<div class='main_footer__partner_logo'>\n<a target=\"_blank\" title=\"Rentals insured by Allianz\" rel=\"nofollow noopener noreferrer\" href=\"https://www.allianz.co.uk\"><svg width=\"111\" height=\"28\" viewBox=\"0 0 111 28\" xmlns=\"http://www.w3.org/2000/svg\"><!-- default size 111x28 -->\n<g class='allianz_logo_svg' fill='#FFFFFF'>\n<g transform='translate(0.000000, 2.649994)'>\n<path d='M10.9050667,12.3500059 L7,12.3500059 L9,5.35000611 L10.9050667,12.3500059 Z M6.49999992,15.3500065 L11.4999999,15.3500065 L12.7624,19.3477742 L17.5,19.3477742 L12.7894667,2.78222581 C12.5206667,1.81025806 12.0229333,1.35187097 10.9999999,1.35187097 L3.99999992,1.35187097 L3.99999992,2.7822258 L4.99999992,2.7822258 C5.69999992,2.7822258 5.84453333,3.18635484 5.84453333,3.72612903 C5.84453333,4.07693548 5.76333333,4.37348387 5.49453333,5.1836129 L0.783066667,19.3477742 L5.14453333,19.3477742 L6.49999992,15.3500065 Z'></path>\n<path d='M23,2.72796774 C22.9581333,1.86451613 22.4466667,1.35187097 21.6122667,1.35187097 L17,1.35187097 L17,2.72796769 L18,2.72796769 C18.7,2.72796769 19,3.14839315 19,3.85000606 L19,19.347774 L23,19.3477742 L23,2.72796774 Z'></path>\n<path d='M29.9999998,19.347774 L29.9999998,2.91693552 C29.9999998,2.0534839 29.6268,1.35187097 28.7924,1.35187097 L24,1.35187097 L24,2.8500061 L25,2.85000606 C25.6990667,2.85000606 25.9121333,3.21348387 26,3.91509677 L26,19.347774 L29.9999998,19.347774 Z'></path>\n<path d='M35,0.850006104 C33.4447227,0.850006104 32.5,1.60012647 32.5,2.8500061 C32.5,4.09988574 33.4447227,4.8500061 35,4.8500061 C36.5832049,4.8500061 37.5,4.09988574 37.5,2.8500061 C37.5,1.60012647 36.5832049,0.850006104 35,0.850006104 Z M37,19.3477745 L37,6.85000611 C37,5.9865545 36.3344,5.35000611 35.5,5.35000611 L31,5.35000611 L31,6.85000611 L32,6.85000611 C32.7,6.85000611 33,7.14839321 33,7.85000611 L33,19.3477745 L37,19.3477745 Z'></path>\n<path d='M46,15.4907231 C45.2229089,16.2185296 44.3614423,16.6507231 43.6343756,16.6507231 C42.8802423,16.6507231 42.6114423,16.2737231 42.6114423,15.2746263 C42.6114423,14.276465 42.8270423,13.8180779 43.5802423,13.5205941 C44.1458423,13.2773683 44.8729089,13.062207 46,12.8732392 L46,15.4907231 Z M44.3885089,8.6644973 C45.5187756,8.6644973 45.9229089,9.06862633 45.9229089,10.2557554 L45.9229089,10.5532392 C44.1999756,10.8226586 43.6614423,10.9311747 42.6926423,11.146336 C42.1270423,11.2819812 41.6155756,11.4428844 41.1041089,11.6589812 C39.4082423,12.333465 38.5999756,13.6562392 38.5999756,15.6796908 C38.5999756,18.2419812 39.7041089,19.4833683 41.9926423,19.4833683 C42.8270423,19.4833683 43.5802423,19.3215296 44.2541089,19.0511747 C44.8458423,18.7817554 45.1958423,18.5665941 46,17.8921102 L46,18.0801425 C46.0573089,18.9174005 46.4875756,19.3486586 47.3229089,19.3486586 L51,19.3486586 L51,17.8500061 C50.2563756,17.8921102 49.9875756,17.5674973 50,16.7049812 L50,10.2828844 C49.9875756,6.85714246 48.8031756,5.67001343 45.3843756,5.67001343 C44.2802423,5.67001343 43.2041089,5.80472311 42.1541089,6.04701343 C41.1041089,6.29023923 40.5655756,6.50633601 39.2999756,7.12656181 L40.2426423,9.71691665 C41.6426423,9.04243278 43.1770423,8.6644973 44.3885089,8.6644973 Z'></path>\n<path d='M57,10.3500061 C57.7561333,9.44567742 58.4832,9.09487097 59,9.09487097 C59.7999878,9.09487097 60,9.50103837 60,10.8500061 L60,19.3477745 L64,19.3477745 L64,10.3500061 C64,8.21803837 63.8591259,7.02502848 63.2999878,6.35000611 C62.8099976,5.75846285 62.3593333,5.69532258 61.2561333,5.6000061 C59.6134667,5.69532258 58.6166666,5.89345772 57,7.35000611 L57,6.85000611 C57.0561333,6.01368353 56.3624,5.35000611 55.5,5.35000611 L51,5.35000611 L51,7.35000605 L52,7.3500061 C52.7,7.39509673 52.858,7.71877419 53,8.4203871 L53,19.3477742 L57,19.3477742 L57,10.3500061 Z'></path>\n<path d='M71,16.4094334 L77,8.3500061 L77,5.3500061 L67.594442,5.3500061 C66.5589766,5.3500061 66.0834583,5.82570127 66,6.86252257 L66,9.3500061 L67.7060432,9.3500061 L67.7060432,9.15847986 C67.7060432,8.51483517 68,8.3500061 68.742479,8.3500061 L72,8.3500061 L66,16.3500061 L66,19.3500061 L77,19.3500061 L77,16.3500061'></path>\n</g>\n<path d='M99,6.50000001 C99,5.26937664 98.7031287,5.00000001 97.5,5.00000001 L94,5.00000001 L94,7.00000004 L94.2180612,7.00000004 C95.0391088,7.00000004 95,7.50000004 95,8.17563407 L95,21.9999991 L99,21.9999991 L99,6.50000001 Z M101,22 L105,22 L105,9.68046599 C105,8.44851259 104.537736,8 103.367925,8 L101,8 L101,22 L101,22 Z M93,22 L93,8 L90.6326338,8 C89.4630983,8 89,8.44851259 89,9.68046599 L89,22 L93,22 L93,22 Z M108.620289,14.000474 C108.620289,20.8087224 103.726238,25.7587106 96.9985779,25.7587106 C90.2737616,25.7587106 85.3778146,20.8087224 85.3778146,14.000474 C85.3778146,7.19127755 90.2737616,2.2422375 96.9985779,2.2422375 C103.726238,2.2422375 108.620289,7.21877222 108.620289,14.000474 L108.620289,14.000474 Z M111,14.000474 C111,5.98814885 105.010903,0 96.9985779,0 C88.9881489,0 83,5.98814885 83,14.000474 C83,22.0127992 88.9881489,28 96.9985779,28 C105.010903,28 111,22.0127992 111,14.000474 L111,14.000474 Z'></path>\n</g>\n</svg></a>\n</div>\n<div class='main_footer__partner_logo'>\n<svg width=\"30\" height=\"20\" viewBox=\"0 0 43 28\" xmlns=\"http://www.w3.org/2000/svg\"><g class='aa_logo_svg' fill='#FFFFFF'>\n<path d='M43.1 30h-5.7v-5.5H30c-.9 1.8-1.8 3.7-2.7 5.5H15.9v-5.5H8.5c-.9 1.8-1.8 3.7-2.7 5.5H0C4.5 20 9.1 10 13.6 0h8v29.7h.1C26.1 19.8 30.6 9.9 35.1 0h8v30zM37.4 7.4c-.2.1-4.7 9.7-4.9 10.2h4.9V7.4zM15.9 17.6V7.2c-1.6 3.5-3.3 6.9-4.9 10.4h4.9z'></path>\n</g>\n</svg>\n</div>\n</div>\n</div>\n</div>\n</div>\n</div>\n\n<div class='corporate_footer'>\n<div class='corporate_footer__container container'>\n<div class='corporate_footer__drivy_logo'><img src=\"https://d2y2masl4rtrav.cloudfront.net/packs/images/shared/drivy-by-ga-logo-9eaed4df8ac81b13add18d2d06aa2272.svg\" /></div>\n<div class='corporate_footer__locale_switch'>\n<button class='unstyled footer_locale_switch__trigger js_locale_switch locale_switch__button'>\n<div class='flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M3.9269221,17.1943982 C4.84182656,17.8582165 5.87974039,18.362845 7,18.6676202 L7,14.1213203 L3.9269221,17.1943982 L3.9269221,17.1943982 Z' fill='#1540B7'></path>\n<path d='M12,18.6676202 C13.1202596,18.362845 14.1581734,17.8582165 15.0730779,17.1943982 L12,14.1213203 L12,18.6676202 L12,18.6676202 Z' fill='#1540B7'></path>\n<path d='M17.1943982,15.0730779 C17.8582165,14.1581734 18.362845,13.1202596 18.6676202,12 L14.1213203,12 L17.1943982,15.0730779 L17.1943982,15.0730779 Z' fill='#1540B7'></path>\n<path d='M18.6676202,7 C18.362845,5.87974039 17.8582165,4.84182656 17.1943982,3.9269221 L14.1213203,7 L18.6676202,7 L18.6676202,7 Z' fill='#1540B7'></path>\n<path d='M15.0730779,1.80560175 C14.1581734,1.14178351 13.1202596,0.637155001 12,0.33237981 L12,4.87867966 L15.0730779,1.80560175 L15.0730779,1.80560175 Z' fill='#1540B7'></path>\n<path d='M1.80560175,3.9269221 C1.14178351,4.84182656 0.637155001,5.87974039 0.33237981,7 L4.87867966,7 L1.80560175,3.9269221 L1.80560175,3.9269221 Z' fill='#1540B7'></path>\n<path d='M7,0.33237981 C5.87974039,0.637155001 4.84182656,1.14178351 3.9269221,1.80560175 L7,4.87867966 L7,0.33237981 L7,0.33237981 Z' fill='#1540B7'></path>\n<path d='M0.33237981,12 C0.637155001,13.1202596 1.14178351,14.1581734 1.80560175,15.0730779 L4.87867966,12 L0.33237981,12 L0.33237981,12 Z' fill='#1540B7'></path>\n<path d='M2.43818502,3.1452918 C2.21398983,3.39427235 2.00277354,3.65517098 1.80560175,3.9269221 L4.87867966,7 L0.33237981,7 C0.243507415,7.32666752 0.17162864,7.66033693 0.117751734,8 L0.117751734,8 L8,8 L8,0.117751734 C7.66033693,0.17162864 7.32666752,0.243507415 7,0.33237981 L7,4.87867966 L3.9269221,1.80560175 C3.65517098,2.00277354 3.39427235,2.21398983 3.1452918,2.43818502 L7,6.29289322 L7,7 L6.29289322,7 L2.43818502,3.1452918 L2.43818502,3.1452918 Z' fill='#FFFFFF'></path>\n<path d='M15.8547082,2.43818502 C15.6057277,2.21398983 15.344829,2.00277354 15.0730779,1.80560175 L12,4.87867966 L12,0.33237981 C11.6733325,0.243507415 11.3396631,0.17162864 11,0.117751734 L11,0.117751734 L11,8 L18.8822483,8 C18.8283714,7.66033693 18.7564926,7.32666752 18.6676202,7 L14.1213203,7 L17.1943982,3.9269221 C16.9972265,3.65517098 16.7860102,3.39427235 16.561815,3.1452918 L12.7071068,7 L12,7 L12,6.29289322 L15.8547083,2.4381849 L15.8547082,2.43818502 Z' fill='#FFFFFF'></path>\n<path d='M3.1452918,16.561815 C3.39427235,16.7860102 3.65517098,16.9972265 3.9269221,17.1943982 L7,14.1213203 L7,18.6676202 C7.32666752,18.7564926 7.66033693,18.8283714 8,18.8822483 L8,18.8822483 L8,11 L0.117751734,11 C0.17162864,11.3396631 0.243507415,11.6733325 0.33237981,12 L4.87867966,12 L1.80560175,15.0730779 C2.00277354,15.344829 2.21398983,15.6057277 2.43818502,15.8547082 L6.29289322,12 L7,12 L7,12.7071068 L3.14529168,16.5618151 L3.1452918,16.561815 Z' fill='#FFFFFF'></path>\n<path d='M15.8547082,16.561815 C15.6057276,16.7860102 15.344829,16.9972265 15.0730779,17.1943982 L12,14.1213203 L12,18.6676202 L12,18.6676202 C11.6733325,18.7564926 11.3396631,18.8283714 11,18.8822483 L11,18.8822483 L11,11 L18.8822483,11 C18.8283714,11.3396631 18.7564926,11.6733325 18.6676202,12 L14.1213203,12 L17.1943982,15.0730779 C16.9972265,15.344829 16.7860102,15.6057276 16.561815,15.8547082 L12.7071068,12 L12,12 L12,12.7071068 L15.8547079,16.5618147 L15.8547082,16.561815 Z' fill='#FFFFFF'></path>\n<path d='M2.43818502,15.8547082 C2.66137495,16.1025723 2.89742765,16.338625 3.1452918,16.561815 L7,12.7071068 L7,12 L6.29289322,12 L2.43818502,15.8547082 L2.43818502,15.8547082 Z' fill='#D0011B'></path>\n<path d='M15.8547082,16.561815 C16.1025723,16.338625 16.338625,16.1025723 16.561815,15.8547082 L12.7071068,12 L12,12 L12,12.7071068 L15.8547082,16.561815 L15.8547082,16.561815 Z' fill='#D0011B'></path>\n<path d='M16.561815,3.1452918 C16.338625,2.89742765 16.1025723,2.66137495 15.8547082,2.43818502 L12,6.29289322 L12,7 L12.7071068,7 L16.561815,3.1452918 L16.561815,3.1452918 Z' fill='#D0011B'></path>\n<path d='M3.1452918,2.43818502 C2.89742765,2.66137495 2.66137495,2.89742765 2.43818502,3.1452918 L6.29289322,7 L7,7 L7,6.29289322 L3.1452918,2.43818502 L3.1452918,2.43818502 Z' fill='#D0011B'></path>\n<path d='M11,18.8822483 C10.5114018,18.9597491 10.0104015,19 9.5,19 C8.98959853,19 8.48859817,18.9597491 8,18.8822483 L8,11 L0.117751734,11 C0.0402509389,10.5114018 0,10.0104015 0,9.5 C0,8.98959853 0.0402509389,8.48859817 0.117751734,8 L8,8 L8,0.117751734 C8.48859817,0.0402509389 8.98959853,0 9.5,0 C10.0104015,0 10.5114018,0.0402509389 11,0.117751734 L11,8 L18.8822483,8 C18.9597491,8.48859817 19,8.98959853 19,9.5 C19,10.0104015 18.9597491,10.5114018 18.8822483,11 L11,11 L11,18.8822483 L11,18.8822483 Z' fill='#D0011B'></path>\n</g>\n</svg></div>\n<div class='locale_switch__arrow svg'><svg width=\"16\" height=\"16\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M.5 15.5V.5l10 7.5' fill='#333' fill-rule='evenodd'></path>\n</svg></div>\n</button>\n<ul class='footer_locale_switch__list js_locale_list' hidden>\n<li>\n<a class=\"footer_locale_switch__link\" href=\"https://www.drivy.com/?force_country=true\"><div class='footer_locale_switch__flag flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M6,0.665511276 C2.48538009,2.05908904 0,5.48929871 0,9.5 C0,13.5107013 2.48538009,16.940911 6,18.3344887 L6,0.665511276 L6,0.665511276 Z' fill='#1540B7'></path>\n<path d='M13,18.3344887 C16.5146199,16.940911 19,13.5107013 19,9.5 C19,5.48929871 16.5146199,2.05908904 13,0.665511276 L13,18.3344887 L13,18.3344887 Z' fill='#D0011B'></path>\n<path d='M13,18.3344887 C11.9168768,18.7639566 10.7360038,19 9.5,19 C8.26399617,19 7.08312322,18.7639566 6,18.3344887 L6,0.665511276 C7.08312322,0.236043375 8.26399617,0 9.5,0 C10.7360038,0 11.9168768,0.236043375 13,0.665511276 L13,18.3344887 L13,18.3344887 Z' fill='#FFFFFF'></path>\n</g>\n</svg></div>\nFrançais\n</a></li>\n<li>\n<a class=\"footer_locale_switch__link\" href=\"https://www.drivy.de/?force_country=true\"><div class='footer_locale_switch__flag flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M18.3344887,13 C16.940911,16.5146199 13.5107013,19 9.5,19 C5.48929871,19 2.05908904,16.5146199 0.665511276,13 L18.3344887,13 L18.3344887,13 Z' fill='#F8DE1B'></path>\n<path d='M18.3344887,6 C16.940911,2.48538009 13.5107013,0 9.5,0 C5.48929871,0 2.05908904,2.48538009 0.665511276,6 L18.3344887,6 L18.3344887,6 Z' fill='#000000'></path>\n<path d='M18.3344887,13 C18.7639566,11.9168768 19,10.7360038 19,9.5 C19,8.26399617 18.7639566,7.08312322 18.3344887,6 L0.665511276,6 C0.236043375,7.08312322 0,8.26399617 0,9.5 C0,10.7360038 0.236043375,11.9168768 0.665511276,13 L18.3344887,13 L18.3344887,13 Z' fill='#D0011B'></path>\n</g>\n</svg></div>\nDeutsch\n</a></li>\n<li>\n<a class=\"footer_locale_switch__link\" href=\"https://www.drivy.at/?force_country=true\"><div class='footer_locale_switch__flag flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M17.8686933,14 C18.5904272,12.6606019 19,11.1281314 19,9.5 C19,7.87186863 18.5904272,6.3393981 17.8686933,5 L1.13130671,5 C0.409572764,6.3393981 0,7.87186863 0,9.5 C0,11.1281314 0.409572764,12.6606019 1.13130671,14 L17.8686933,14 L17.8686933,14 Z' fill='#FFFFFF'></path>\n<path d='M17.8686933,14 C16.2646166,16.9768549 13.1185738,19 9.5,19 C5.88142625,19 2.73538336,16.9768549 1.13130671,14 L17.8686933,14 L17.8686933,14 Z' fill='#D0011B'></path>\n<path d='M17.8686933,5 C16.2646166,2.02314513 13.1185738,0 9.5,0 C5.88142625,0 2.73538336,2.02314513 1.13130671,5 L17.8686933,5 Z' fill='#D0011B'></path>\n</g>\n</svg></div>\nDeutsch\n</a></li>\n<li>\n<a class=\"footer_locale_switch__link\" href=\"https://www.drivy.es/?force_country=true\"><div class='footer_locale_switch__flag flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M17.8686933,14 C18.5904272,12.6606019 19,11.1281314 19,9.5 C19,7.87186863 18.5904272,6.3393981 17.8686933,5 L1.13130671,5 C0.409572764,6.3393981 0,7.87186863 0,9.5 C0,11.1281314 0.409572764,12.6606019 1.13130671,14 L17.8686933,14 L17.8686933,14 Z' fill='#F8DE1B'></path>\n<path d='M17.8686933,14 C16.2646166,16.9768549 13.1185738,19 9.5,19 C5.88142625,19 2.73538336,16.9768549 1.13130671,14 L17.8686933,14 L17.8686933,14 Z' fill='#D0011B'></path>\n<path d='M17.8686933,5 C16.2646166,2.02314513 13.1185738,0 9.5,0 C5.88142625,0 2.73538336,2.02314513 1.13130671,5 L17.8686933,5 Z' fill='#D0011B'></path>\n</g>\n</svg></div>\nEspañol\n</a></li>\n<li>\n<a class=\"footer_locale_switch__link\" href=\"https://www.drivy.be/?force_country=true\"><div class='footer_locale_switch__flag flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M6,0.665511276 C2.48538009,2.05908904 0,5.48929871 0,9.5 C0,13.5107013 2.48538009,16.940911 6,18.3344887 L6,0.665511276 L6,0.665511276 Z' fill='#000000'></path>\n<path d='M13,18.3344887 C16.5146199,16.940911 19,13.5107013 19,9.5 C19,5.48929871 16.5146199,2.05908904 13,0.665511276 L13,18.3344887 L13,18.3344887 Z' fill='#D0011B'></path>\n<path d='M13,18.3344887 C11.9168768,18.7639566 10.7360038,19 9.5,19 C8.26399617,19 7.08312322,18.7639566 6,18.3344887 L6,0.665511276 C7.08312322,0.236043375 8.26399617,0 9.5,0 C10.7360038,0 11.9168768,0.236043375 13,0.665511276 L13,18.3344887 L13,18.3344887 Z' fill='#F8DE1B'></path>\n</g>\n</svg></div>\nNederlands\n</a></li>\n<li>\n<a class=\"footer_locale_switch__link\" href=\"https://fr.drivy.be/?force_country=true\"><div class='footer_locale_switch__flag flag'><svg width=\"19\" height=\"19\" viewBox=\"0 0 19 19\" xmlns=\"http://www.w3.org/2000/svg\"><!-- 19x19 -->\n<g fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'>\n<path d='M6,0.665511276 C2.48538009,2.05908904 0,5.48929871 0,9.5 C0,13.5107013 2.48538009,16.940911 6,18.3344887 L6,0.665511276 L6,0.665511276 Z' fill='#000000'></path>\n<path d='M13,18.3344887 C16.5146199,16.940911 19,13.5107013 19,9.5 C19,5.48929871 16.5146199,2.05908904 13,0.665511276 L13,18.3344887 L13,18.3344887 Z' fill='#D0011B'></path>\n<path d='M13,18.3344887 C11.9168768,18.7639566 10.7360038,19 9.5,19 C8.26399617,19 7.08312322,18.7639566 6,18.3344887 L6,0.665511276 C7.08312322,0.236043375 8.26399617,0 9.5,0 C10.7360038,0 11.9168768,0.236043375 13,0.665511276 L13,18.3344887 L13,18.3344887 Z' fill='#F8DE1B'></path>\n</g>\n</svg></div>\nFrançais\n</a></li>\n</ul>\n</div>\n<div class='footer_coporate__socials_logos_container'>\n<a target=\"_blank\" rel=\"noopener noreferrer\" class=\"corporate_footer__social_logo corporate_footer__social_logo--facebook\" href=\"https://www.facebook.com/ukdrivy\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M20.5 4.875v13.75c0 .52-.182.964-.547 1.328a1.808 1.808 0 0 1-1.328.547h-3.32v-6.914h2.343L18 10.93h-2.695V9.25c0-.417.078-.73.234-.938.208-.234.56-.351 1.055-.351H18V5.617c-.547-.078-1.224-.117-2.031-.117-1.042 0-1.869.306-2.48.918-.613.612-.919 1.465-.919 2.559v1.953h-2.383v2.656h2.383V20.5H4.875c-.52 0-.964-.182-1.328-.547A1.808 1.808 0 0 1 3 18.625V4.875c0-.52.182-.964.547-1.328A1.808 1.808 0 0 1 4.875 3h13.75c.52 0 .964.182 1.328.547.365.364.547.807.547 1.328z' fill-rule='evenodd'></path>\n</svg></a>\n<a target=\"_blank\" rel=\"noopener noreferrer\" class=\"corporate_footer__social_logo corporate_footer__social_logo--instagram\" href=\"https://www.instagram.com/drivy_uk/\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M11.75 7.258c.807 0 1.556.202 2.246.605.69.404 1.237.95 1.64 1.64.404.691.606 1.44.606 2.247 0 .807-.202 1.556-.605 2.246a4.505 4.505 0 0 1-1.64 1.64 4.371 4.371 0 0 1-2.247.606 4.371 4.371 0 0 1-2.246-.605 4.505 4.505 0 0 1-1.64-1.64 4.371 4.371 0 0 1-.606-2.247c0-.807.202-1.556.605-2.246.404-.69.95-1.237 1.64-1.64a4.371 4.371 0 0 1 2.247-.606zm0 7.422c.807 0 1.497-.287 2.07-.86.573-.573.86-1.263.86-2.07 0-.807-.287-1.497-.86-2.07a2.822 2.822 0 0 0-2.07-.86c-.807 0-1.497.287-2.07.86a2.822 2.822 0 0 0-.86 2.07c0 .807.287 1.497.86 2.07.573.573 1.263.86 2.07.86zm5.742-7.618a1.217 1.217 0 0 1-.332.743.951.951 0 0 1-.723.312c-.286 0-.533-.104-.742-.312a1.014 1.014 0 0 1-.312-.743c0-.286.104-.533.312-.742.209-.208.456-.312.742-.312.287 0 .534.104.743.312.208.209.312.456.312.742zm2.969 1.055c.026.73.039 1.94.039 3.633s-.02 2.91-.059 3.652c-.039.742-.15 1.387-.332 1.934a4.553 4.553 0 0 1-1.074 1.7 4.553 4.553 0 0 1-1.7 1.073c-.546.183-1.19.293-1.933.332-.742.04-1.96.059-3.652.059-1.693 0-2.91-.02-3.652-.059-.743-.039-1.387-.162-1.934-.37a4.164 4.164 0 0 1-1.7-1.036 4.553 4.553 0 0 1-1.073-1.7c-.183-.546-.293-1.19-.332-1.933C3.019 14.66 3 13.442 3 11.75c0-1.693.02-2.91.059-3.652.039-.743.15-1.387.332-1.934a4.553 4.553 0 0 1 1.074-1.7 4.553 4.553 0 0 1 1.7-1.073c.546-.183 1.19-.293 1.933-.332C8.84 3.019 10.058 3 11.75 3c1.693 0 2.91.02 3.652.059.742.039 1.387.15 1.934.332a4.553 4.553 0 0 1 1.7 1.074c.48.482.839 1.048 1.073 1.7.183.546.3 1.197.352 1.952zm-1.875 8.79c.156-.443.26-1.147.312-2.11.026-.573.04-1.38.04-2.422v-1.25a55.32 55.32 0 0 0-.04-2.422c-.052-.99-.156-1.693-.312-2.11a2.82 2.82 0 0 0-1.68-1.679c-.416-.156-1.12-.26-2.11-.312a56.99 56.99 0 0 0-2.421-.04h-1.25a56.99 56.99 0 0 0-2.422.04c-.963.052-1.667.156-2.11.312a2.82 2.82 0 0 0-1.679 1.68c-.156.416-.26 1.12-.312 2.11a56.99 56.99 0 0 0-.04 2.421v1.25c0 1.042.014 1.849.04 2.422.052.963.156 1.667.312 2.11.339.807.898 1.366 1.68 1.679.442.156 1.146.26 2.11.312.572.026 1.38.04 2.421.04h1.25a55.32 55.32 0 0 0 2.422-.04c.99-.052 1.693-.156 2.11-.312.807-.339 1.366-.899 1.679-1.68z' fill-rule='evenodd'></path>\n</svg></a>\n<a target=\"_blank\" rel=\"noopener noreferrer\" class=\"corporate_footer__social_logo corporate_footer__social_logo--twitter\" href=\"https://twitter.com/drivy_UK\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M19.93 8.062c.026.105.039.274.039.508 0 1.875-.456 3.685-1.367 5.43-.938 1.849-2.253 3.32-3.946 4.414-1.849 1.224-3.971 1.836-6.367 1.836-2.292 0-4.388-.612-6.289-1.836.286.026.612.04.977.04 1.9 0 3.606-.587 5.117-1.759-.912 0-1.712-.267-2.403-.8a4.08 4.08 0 0 1-1.425-2.012c.26.026.507.039.742.039.364 0 .729-.04 1.094-.117a4.133 4.133 0 0 1-2.344-1.446 3.932 3.932 0 0 1-.938-2.578v-.078c.573.339 1.185.52 1.836.547a4.55 4.55 0 0 1-1.328-1.484 3.94 3.94 0 0 1-.508-1.973c0-.716.196-1.4.586-2.05a11.31 11.31 0 0 0 3.73 3.046 11.354 11.354 0 0 0 4.708 1.25 5.693 5.693 0 0 1-.078-.937c0-.73.182-1.413.546-2.051.365-.638.86-1.14 1.485-1.504A3.962 3.962 0 0 1 15.828 4c.599 0 1.152.117 1.66.352a4.64 4.64 0 0 1 1.348.937 8.345 8.345 0 0 0 2.617-.977c-.312.964-.911 1.72-1.797 2.266A8.81 8.81 0 0 0 22 5.914a9.016 9.016 0 0 1-2.07 2.148z' fill-rule='evenodd'></path>\n</svg></a>\n<a target=\"_blank\" rel=\"noopener noreferrer\" class=\"corporate_footer__social_logo corporate_footer__social_logo--youtube\" href=\"https://www.youtube.com/drivy\"><svg width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" xmlns=\"http://www.w3.org/2000/svg\"><path d='M21.597 7.198c.171.66.293 1.66.366 3.003L22 12.033l-.037 1.831c-.073 1.368-.195 2.381-.366 3.04a2.554 2.554 0 0 1-.66 1.1 2.54 2.54 0 0 1-1.135.659c-.635.17-2.124.293-4.469.366L12 19.066l-3.333-.037c-2.345-.073-3.834-.195-4.47-.366a2.54 2.54 0 0 1-1.135-.66 2.554 2.554 0 0 1-.66-1.098c-.17-.66-.292-1.673-.365-3.04L2 12.032c0-.537.012-1.148.037-1.832.073-1.343.195-2.344.366-3.003a2.54 2.54 0 0 1 .66-1.136 2.54 2.54 0 0 1 1.135-.66c.635-.17 2.124-.292 4.469-.365L12 5l3.333.037c2.345.073 3.834.195 4.47.366.439.122.817.342 1.135.66.317.317.537.695.66 1.135zM9.95 15.037l5.238-3.004-5.238-2.967v5.97z' fill-rule='evenodd'></path>\n</svg></a>\n</div>\n<div class='corporate_footer__copyright_links_container'>\n<div class='corporate_footer__copyright'>© Drivy 2010-2019 - All rights reserved</div>\n<ul class='corporate_footer__links'>\n<li class='corporate_footer__link'><a href=\"https://www.drivy.co.uk/terms\">Terms of service</a></li>\n<li class='corporate_footer__link'><a href=\"/privacy\">Privacy policy</a></li>\n<li class='corporate_footer__link'><a href=\"https://www.drivy.co.uk/cookies\">Cookies</a></li>\n</ul>\n</div>\n</div>\n</div>\n\n"}
</script>
    </div>

    {% include 'layouts/media/group/fileinput_js.html' %}

    <script>
        if ($("#file-1").length) {
            $("#file-1").fileinput({
                uploadUrl: "#",
                autoReplace: true,
                overwriteInitial: false,
                showUploadedThumbs: false,
                maxFileCount: 40,
                ajaxSettings: {
                    beforeSend: function (xhr) {
                    },
                },
                initialPreview: [],
                initialPreviewConfig: [],
                initialPreviewAsData: true,
                initialPreviewFileType: 'image',
                initialPreviewShowDelete: true,
                showRemove: true,
                showClose: true,
                showUpload: false,
                language: 'ru',
                showCaption: true,
                multiple: true,
                showPreview: true,
                showCancel: true,
                uploadLabel: false,
                uploadAsync: false,
                layoutTemplates: {/*actionDelete: ''*/}, // disable thumbnail deletion
                allowedFileExtensions: ["jpg", "png", "gif"]
            })
        }
    </script>
{% endblock %}


