{% extends "layouts/base.html" %}
{% load static %}
{% load image %}
{% load profile_header %}
{% load i18n %}
{% block content %}

    {% header userData=userData user=user edit_acctount='True' profile='True' %}

    <div class="container content-section  content-account">
        <div class="user-cars-index">
            {% if userCars %}
                <div class="add-cart">
                    <a class="add-car-link btn btn-success"
                       href="{% url 'add-car' user.id %}">{% trans 'Add Car' %}</a>
                </div>

                <div class="index-list">
                    <table id="userCarTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>{% trans 'Image' %}</th>
                            <th>{% trans 'Brand' %}</th>
                            <th>{% trans 'Model' %}</th>
                            <th>{% trans 'Seat' %}</th>
                            <th>{% trans 'Door' %}</th>
                            <th>{% trans 'Fuel' %}</th>
                            <th>{% trans 'Transmission' %}</th>
                            <th>{% trans 'Mileage' %}</th>
                            <th>{% trans 'Publish Date' %}</th>
                            <th>{% trans 'Actions' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in userCars %}
                            <tr>
                                <td><img src="{% image_url data.image.path %}" id="car-index-image"></td>
                                <td>{{ data.brand.name }}</td>
                                <td>{{ data.model.name }}</td>
                                <td>{{ data.seat.name }}</td>
                                <td>{{ data.door.name }}</td>
                                <td>{{ data.fuelFeature.name }}</td>
                                <td>{{ data.transmissionFeature.name }}</td>
                                <td>{{ data.mileageFeature.name }}</td>
                                <td>{{ data.created_at|date:"Y-m-d" }}</td>
                                <td class="actions-link">
                                    <a href="{% url 'car-wizards-view' user.id %}" class="eye-car-icon"><i
                                            class="fa fa-eye"></i></a>
                                    <a href="{% url 'car-wizards-edit' user.id data.id %}" class="edit-car-icon"><i class="fa fa-edit"></i></a>
                                    <a href="{% url 'car-wizards-delete' data.id %}"
                                       onclick="return confirm('{% trans 'Are you sure you want to delete this item?' %}')"
                                       class="trash-car-icon"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>{% trans 'Image' %}</th>
                            <th>{% trans 'Brand' %}</th>
                            <th>{% trans 'Model' %}</th>
                            <th>{% trans 'Seat' %}</th>
                            <th>{% trans 'Door' %}</th>
                            <th>{% trans 'Fuel' %}</th>
                            <th>{% trans 'Transmission' %}</th>
                            <th>{% trans 'Mileage' %}</th>
                            <th>{% trans 'Publish Date' %}</th>
                            <th>{% trans 'Actions' %}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <div class="add-cart">
                    <a class="add-car-link btn btn-success"
                       href="{% url 'add-car' user.id %}">{% trans 'Add Car' %}</a>
                </div>

                <div class="cobalt-Callout cobalt-Callout--info js_title_preview_wrapper top15"
                     id="title-modal-brand">
                    <p>
                        {% trans "You don't have any car yet" %}
                        <strong class="js_title_preview"></strong>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}