{% extends "layouts/base.html" %}
{% load static %}
{% load image %}
{% load profile_header %}
{% load i18n %}
{% load features %}
{% load short_content %}
{% load favorite_tag %}
{% block content %}

    <link href="{% static 'view/l-f18.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'view/m-d18.css' %}" rel="stylesheet" type="text/css"
          media="screen and (max-device-width:980px),screen and (max-device-width:1024px) and (orientation:portrait)">
    <script> var imagesList = [];</script>

    <div id="main">
        <div class="fbubble">
            <div id="pcontent">
                <div class="vi">
                    <div class="vit">
                        <div class="vih">
                            <div id="star">
                                <div class="off" title="Նախընտրածների մեջ"
                                     onClick="dlgo('Նախընտրածների մեջ','https://www.list.am/?w=40&amp;next=%2Fitem%2F11313697',500);return false;"></div>
                            </div>
                            <h1>{{ car.brand.name }} {{ car.model.name }}</h1>
                            <div id="abar">
                                <div><span class="price">£{{ car.daily_price }} <span
                                        class="per-day">{% trans 'per day' %}</span></span></div>
                                <div class="loc">
                                    <a href="#"
                                       onclick="dlgo('{{ car.parking_address }}', '', 900);return false;">
                                        {{ car.parking_address }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="pv" tabindex="1">
                            <div class="p"></div>
                            {% if car.images %}
                                <div class="t">
                                    {% for image in car.images %}
                                        <div><img src="{% image_url image.path 'car' %}"></div>
                                        <script>
                                            imagesList.push("{% image_url image.path 'car' %}");
                                        </script>
                                    {% endfor %}
                                </div>
                                <div class="arrow" style="opacity: 0;">
                                    <div class="left"></div>
                                </div>
                                <div class="arrow" style="left: auto; right: 0px; text-align: right; opacity: 0;">
                                    <div class="right"></div>
                                </div>
                                <div class="zoom" style="opacity: 0;">
                                    <div></div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="attr" class="clearfix">
                        <div class="features-view-title">{% trans 'Features' %}</div>

                        <div class="c col-md-4">
                            <div class="t"><i class="fas fa-chair"></i>{% trans 'Number of seats' %}</div>
                            <div class="i">{{ car.number_of_seats }}</div>
                        </div>
                        <div class="c col-md-4">
                            <div class="t"><i class="fas fa-door-open"></i>{% trans 'Number of doors' %}</div>
                            <div class="i">{{ car.number_of_doors }}</div>
                        </div>
                        <div class="c col-md-4">
                            <div class="t"><i class="fas fa-gas-pump"></i>{% trans 'Fuel' %}</div>
                            <div class="i">{% get_feature car.fuel %}</div>
                        </div>
                        <div class="c col-md-4">
                            <div class="t"><i class="fas fa-cogs"></i>{% trans 'Transmission' %}</div>
                            <div class="i">{% get_feature car.transmission %}</div>
                        </div>
                        <div class="c col-md-4">
                            <div class="t"><i class="fa fa-tachometer" aria-hidden="true"></i>
                                {% trans 'Mileage' %}</div>
                            <div class="i">{% get_feature car.mileage %}</div>
                        </div>

                        {#                        <div class="c col-md-4">#}
                        {#                            <div class="t">{% trans 'Number plate' %}</div>#}
                        {#                            <div class="i">{{ car.number_plate }}</div>#}
                        {#                        </div>#}
                        {#                        #}
                        {#                        <div class="c col-md-4">#}
                        {#                            <div class="t">{% trans 'Year of first registration' %}</div>#}
                        {#                            <div class="i">{{ car.year_of_first_register }}</div>#}
                        {#                        </div>#}
                        {#                        <div class="c col-md-4">#}
                        {#                            <div class="t">{% trans 'Country of registration' %}</div>#}
                        {#                            <div class="i">{{ country }}</div>#}
                        {#                        </div>#}
                    </div>

                    {% if car.car_extras %}
                        <div class="extra-view clearfix">
                            <div class="features-view-title">{% trans 'Extras' %}</div>
                            {% for extra in car.car_extras %}
                                {% autoescape off %}
                                    <div class="extra-field col-md-4">
                                        <span class="extra-icon_code"> {{ extra.extra.icon_or_code }}</span> <span
                                            class="extra-name">{{ extra.extra.name }}</span>
                                    </div>
                                {% endautoescape %}

                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="cb"></div>
                    <div class="body">
                        {{ car.description }}
                    </div>
                    <div class="footer">
                        <span>Date: {{ car.created_at|date:"M d, Y" }}</span>
                    </div>
                </div>
            </div>
            <div id="pmenu">
                <div class="share">
                    <div class="flag"><a href="#"
                                         onclick="dlgo('Report','https://www.list.am/?w=1&amp;i=11313697',500);return false;">
                        <div></div>
                        {% trans 'Report' %}</a></div>
                </div>
                <div id="uinfo">
                    <div class="top"><a href="{% url 'profile-view' car.user.id %}" class="l">
                        <img height="48" width="48"
                             src="{% image_url car.user.profile.path 'profile' 'small' %}">
                        {% cut_title user.last_name|capfirst 2 %}.{{ user.first_name|capfirst }}</a>
                        <div class="r">
                            <div class="since">{% trans 'On sharoocar.com since' %}
                                ` {{ car.user.date_joined|date:"m.d.Y" }}</div>
                        </div>
                    </div>

                    <div class="group-reserve">
                        <div class="date-group clearfix">
                            <div class="start-date clearfix">
                                <div class="trip-start">{% trans 'Trip start' %}</div>
                                <div class="">
                                    <div class="date-start-time">
                                        <select name="startTime" id="startTime" class="selectField-select">
                                            <option selected="" value="0">Midnight</option>
                                            <option value="30">12:30 AM</option>
                                            <option value="60">1:00 AM</option>
                                            <option value="90">1:30 AM</option>
                                            <option value="120">2:00 AM</option>
                                            <option value="150">2:30 AM</option>
                                            <option value="180">3:00 AM</option>
                                            <option value="210">3:30 AM</option>
                                            <option value="240">4:00 AM</option>
                                            <option value="270">4:30 AM</option>
                                            <option value="300">5:00 AM</option>
                                            <option value="330">5:30 AM</option>
                                            <option value="360">6:00 AM</option>
                                            <option value="390">6:30 AM</option>
                                            <option value="420">7:00 AM</option>
                                            <option value="450">7:30 AM</option>
                                            <option value="480">8:00 AM</option>
                                            <option value="510">8:30 AM</option>
                                            <option value="540">9:00 AM</option>
                                            <option value="570">9:30 AM</option>
                                            <option value="600">10:00 AM</option>
                                            <option value="630">10:30 AM</option>
                                            <option value="660">11:00 AM</option>
                                            <option value="690">11:30 AM</option>
                                            <option value="720">Noon</option>
                                            <option value="750">12:30 PM</option>
                                            <option value="780">1:00 PM</option>
                                            <option value="810">1:30 PM</option>
                                            <option value="840">2:00 PM</option>
                                            <option value="870">2:30 PM</option>
                                            <option value="900">3:00 PM</option>
                                            <option value="930">3:30 PM</option>
                                            <option value="960">4:00 PM</option>
                                            <option value="990">4:30 PM</option>
                                            <option value="1020">5:00 PM</option>
                                            <option value="1050">5:30 PM</option>
                                            <option value="1080">6:00 PM</option>
                                            <option value="1110">6:30 PM</option>
                                            <option value="1140">7:00 PM</option>
                                            <option value="1170">7:30 PM</option>
                                            <option value="1200">8:00 PM</option>
                                            <option value="1230">8:30 PM</option>
                                            <option value="1260">9:00 PM</option>
                                            <option value="1290">9:30 PM</option>
                                            <option value="1320">10:00 PM</option>
                                            <option value="1350">10:30 PM</option>
                                            <option value="1380">11:00 PM</option>
                                            <option value="1410">11:30 PM</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class=" clearfix">
                                <div class="trip-end">{% trans 'Trip end' %}</div>
                                <input type="text" id="end-date" name="end-date"
                                       value="{{ car.end_date|date:"m/d/Y" }}"
                                       data-max="{{ car.end_date|date:"m/d/Y" }}"/>
                                <select name="endTime" id="endTime" class="selectField-select">
                                    <option selected="" value="0">Midnight</option>
                                    <option value="30">12:30 AM</option>
                                    <option value="60">1:00 AM</option>
                                    <option value="90">1:30 AM</option>
                                    <option value="120">2:00 AM</option>
                                    <option value="150">2:30 AM</option>
                                    <option value="180">3:00 AM</option>
                                    <option value="210">3:30 AM</option>
                                    <option value="240">4:00 AM</option>
                                    <option value="270">4:30 AM</option>
                                    <option value="300">5:00 AM</option>
                                    <option value="330">5:30 AM</option>
                                    <option value="360">6:00 AM</option>
                                    <option value="390">6:30 AM</option>
                                    <option value="420">7:00 AM</option>
                                    <option value="450">7:30 AM</option>
                                    <option value="480">8:00 AM</option>
                                    <option value="510">8:30 AM</option>
                                    <option value="540">9:00 AM</option>
                                    <option value="570">9:30 AM</option>
                                    <option value="600">10:00 AM</option>
                                    <option value="630">10:30 AM</option>
                                    <option value="660">11:00 AM</option>
                                    <option value="690">11:30 AM</option>
                                    <option value="720">Noon</option>
                                    <option value="750">12:30 PM</option>
                                    <option value="780">1:00 PM</option>
                                    <option value="810">1:30 PM</option>
                                    <option value="840">2:00 PM</option>
                                    <option value="870">2:30 PM</option>
                                    <option value="900">3:00 PM</option>
                                    <option value="930">3:30 PM</option>
                                    <option value="960">4:00 PM</option>
                                    <option value="990">4:30 PM</option>
                                    <option value="1020">5:00 PM</option>
                                    <option value="1050">5:30 PM</option>
                                    <option value="1080">6:00 PM</option>
                                    <option value="1110">6:30 PM</option>
                                    <option value="1140">7:00 PM</option>
                                    <option value="1170">7:30 PM</option>
                                    <option value="1200">8:00 PM</option>
                                    <option value="1230">8:30 PM</option>
                                    <option value="1260">9:00 PM</option>
                                    <option value="1290">9:30 PM</option>
                                    <option value="1320">10:00 PM</option>
                                    <option value="1350">10:30 PM</option>
                                    <option value="1380">11:00 PM</option>
                                    <option value="1410">11:30 PM</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="m2">
                        <div class="phone"><a href="#"> {% trans 'Go to checkout' %}
                        </a>
                        </div>
                        {% if user.is_authenticated %}
                            {% get_favorite user.id car.id as car_favorite2 %}
                        {% endif %}
                        <div class="email favourite-view"><a href="#" class="favourite"
                                                             data-login="{% if user.is_authenticated %}true{% endif %}"
                                                             data-id="{{ car.id }}"> <span class="add-to-favorite">
                            {% if user.is_authenticated and car_favorite2 %}
                                {% trans 'Remove from favorites' %}{% else %}
                                {% trans 'Add to favorites' %}  {% endif %}
                        </span></a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'view/jquery/3.2.1/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'view/jqueryui/1.12.1/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'view/l-a15.js' %}"></script>
    <script>$(document).ready(function () {

        $(".flag a[title]").tipsy({gravity: 'n', offset: 8});
        $("#main a[title], #main div[title]").tipsy();
        $('.pv').touchgallery({img: imagesList});
        $(".dlrel a > img").lazyload();
        initSearch();
    })</script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d39f5800e999b31"></script>
{% endblock %}