

.owner_calendar_popover {
    position: absolute;
    z-index: 7;
    margin: 5px;
    font-size: 14px;
    line-height: normal;
    white-space: nowrap;
    background: #f6f7f9;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 2px
}

@media (max-width: 767px) {
    .owner_calendar_popover {
        right: 0 !important;
        left: 0 !important;
        margin: 5px 0 !important
    }
}

@media (min-width: 1200px) {
    .owner_calendar_popover {
        margin: 5px -5px
    }
}

.owner_calendar_popover:after, .owner_calendar_popover:before {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    content: ""
}

@media (max-width: 767px) {
    .owner_calendar_popover:after, .owner_calendar_popover:before {
        content: none
    }
}

.owner_calendar_popover:before {
    bottom: -11px;
    left: 9px;
    border-top: 11px solid rgba(0, 0, 0, .4);
    border-right: 11px solid transparent;
    border-left: 11px solid transparent
}

.owner_calendar_popover:after {
    bottom: -10px;
    left: 10px;
    border-top: 10px solid #f6f7f9;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent
}

.owner_calendar_popover.right:before {
    right: 9px;
    left: auto
}

.owner_calendar_popover.right:after {
    right: 10px;
    left: auto
}

.owner_calendar_dates_summary {
    padding: 13px 15px;
    margin: -1px -1px 0;
    color: #fff;
    background: #262959;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .3);
    border-radius: 2px 2px 0 0
}

.owner_calendar_range_repeat {
    padding: 15px;
    background: #fff
}

.owner_calendar_actions {
    padding: 8px;
    border-top: 1px solid #ccc8c8
}

.cobalt-ButtonGroup .cobalt-ButtonGroup__Item:first-child
{
    margin-right: 3px;
}

@media (min-width: 1200px) {
    .editable .owner_calendar_wrapper:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both
    }
}

@media (min-width: 1200px) {
    .editable .owner_calendar_month {
        float: left;
        width: 25%
    }
}

@media (min-width: 1200px) {
}

.editable .owner_calendar_period {
    cursor: pointer
}

.editable .owner_calendar_period:hover {
    background: #262959;
    background-image: none !important
}

.editable .owner_calendar_period:hover.disabled {
    background: none;
    cursor: default
}

.editable .owner_calendar_period.highlighted {
    z-index: 5;
    background: #95cde9;
    background-image: none !important
}

.editable .owner_calendar_period.highlighted + .pm {
    z-index: 5
}

.editable .owner_calendar_period.range_end, .editable .owner_calendar_period.range_start {
    background-color: #95cde9;
    background-size: 48px 42px
}

.editable .owner_calendar_period.range_start {
    background-image: url(/static/packs/images/dashboard/cars/show/calendar/range_start-3162dacaeca361fce0941da5a559087e.png);
    background-position: 100%
}

@media (-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .editable .owner_calendar_period.range_start {
        background-image: url(/static/packs/images/dashboard/cars/show/calendar/range_start@2x-5c82fa2476dedf9db7564e1bdf74038b.png)
    }
}

.editable .owner_calendar_period.range_end {
    background-image: url(/static/packs/images/dashboard/cars/show/calendar/range_end-123a615ca1ccab906797d6d9b9c75b21.png);
    background-position: 0
}

@media (-o-min-device-pixel-ratio: 3/2),(-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .editable .owner_calendar_period.range_end {
        background-image: url(/static/packs/images/dashboard/cars/show/calendar/range_end@2x-66603b639c9ea8ff9c85822debffb203.png)
    }
}

.editable .owner_calendar_period.range_start.range_end {
    background: #262959
}

.owner_calendar_legend_container {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #f6f7f9;
    border-radius: 5px
}

.owner_calendar_wrapper {
    z-index: 1;
    margin: 0 auto;
    font-size: 0;
    line-height: 0
}

.owner_calendar_wrapper.owl-carousel.owl_calendar_carousel .owl-nav .owl-next, .owner_calendar_wrapper.owl-carousel.owl_calendar_carousel .owl-nav .owl-prev {
    top: -5px
}

.owner_calendar_wrapper.owl-carousel.owl_calendar_carousel .owl-nav .owl-prev {
    left: -15px
}

.owner_calendar_wrapper.owl-carousel.owl_calendar_carousel .owl-nav .owl-next {
    right: -15px
}

.owner_calendar_month_header {
    border-bottom: 1px solid #b4bbc6;
    margin-bottom: 10px;
    color: #333;
    font-size: 14px;
    line-height: 34px;
    font-weight: 600;
    text-align: center
}

.owner_calendar_day_names:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both
}

.owner_calendar_day_names .owner_calendar_day_name {
    float: left;
    width: 14.28571%;
    color: #989898;
    font-size: 13px;
    line-height: 36px;
    text-align: center
}

.owner_calendar_day_names .owner_calendar_day_name_we {
    font-weight: 600
}

.owner_calendar_month:after {
    display: table;
    line-height: 0;
    content: "";
    clear: both
}

.owner_calendar_period {
    position: relative;
    float: left;
    display: block;
    width: 7.14286%;
    height: 40px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owner_calendar_period.am:before, .owner_calendar_period.pm:before {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #fff;
    content: ""
}

.owner_calendar_period.am {
    background-position: 100% 0
}

.owner_calendar_period.am:before {
    left: -1px
}

.owner_calendar_period.pm {
    background-position: 0 0
}

.owner_calendar_period.pm:before {
    right: -1px
}

.owner_calendar_period.disabled, .owner_calendar_period.disabled:hover {
    z-index: 1;
    color: #989898;
    font-weight: 400;
    background: none;
    cursor: default
}

.owner_calendar_period.available {
    background-color: #00da94
}

.owner_calendar_period.unavailable {
    background-image: linear-gradient(135deg, #333 25%, #989898 0, #989898 50%, #333 0, #333 75%, #989898 0, #989898);
    background-size: 6px 6px
}

.owner_calendar_period.booked {
    background-image: linear-gradient(45deg, #ff7378 25%, #ff5a5f 0, #ff5a5f 50%, #ff7378 0, #ff7378 75%, #ff5a5f 0, #ff5a5f);
    background-size: 6px 6px
}

.owner_calendar_day_number {
    position: absolute;
    top: 0;
    left: -7px;
    width: 14px;
    font-size: 13px;
    line-height: 40px;
    text-align: center
}

.owner_calendar_event {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 10px;
    padding: 0 2px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    color: #fff;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, .3)
}

.show_more_months {
    display: none !important
}

.calendar_small .owner_calendar_month_header {
    margin-bottom: 5px
}

.calendar_small .owner_calendar_day_name {
    line-height: 25px
}

.calendar_small .owner_calendar_period {
    height: 25px;
    margin-bottom: 2px
}

.calendar_small .owner_calendar_day_number {
    line-height: 25px
}

.calendar_small .owner_calendar_event {
    display: none
}

.calendar_state {
    display: inline-block
}

.calendar_state_color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;
    border-radius: 3px
}

.calendar_state_color.available {
    background: #00da94
}

.calendar_state_color.unavailable {
    background-image: linear-gradient(135deg, #333 25%, #989898 0, #989898 50%, #333 0, #333 75%, #989898 0, #989898);
    background-size: 6px 6px
}

.calendar_state_color.booked {
    background-image: linear-gradient(45deg, #ff7378 25%, #ff5a5f 0, #ff5a5f 50%, #ff7378 0, #ff7378 75%, #ff5a5f 0, #ff5a5f);
    background-size: 6px 6px
}

.calendar_state_title {
    display: inline-block;
    margin-right: 30px;
    line-height: 20px;
    vertical-align: top
}

.calendar_updated_at {
    float: right;
    color: #989898;
    line-height: 20px;
    text-align: right
}

.datetime_range_wrapper {
    position: relative
}

.datetime_range_input_icon {
    display: inline-block;
    margin-right: 4px;
    -webkit-transform: translate3d(0, 6px, 0);
    transform: translate3d(0, 6px, 0)
}

.datetime_range_input_icon path {
    fill: #b4bbc6
}

.datetime_input {
    position: relative;
    display: block;
    height: 40px;
    padding: 0 9px;
    border: 2px solid #b4bbc6;
    margin-bottom: 10px;
    color: #333;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer
}

.datetime_input.is_active, .datetime_input.is_hovered {
    border-color: #262959;
    color: rgba(46, 162, 234, .5)
}

.datetime_input.is_active .datetime_range_input_icon path, .datetime_input.is_hovered .datetime_range_input_icon path {
    fill: #2ea2ea
}

.datetime_input.is_disabled {
    cursor: not-allowed
}

.datetime_input.has_placeholder {
    font-weight: 400
}

.datetime_input.has_placeholder:not(.is_hovered):not(.is_active) {
    color: #989898
}

@media (min-width: 768px) {
    .datetime_range_input.is_layout_home, .datetime_range_input.is_layout_search {
        display: -webkit-flex;
        display: flex
    }

    .datetime_range_input.is_layout_home .datetime_input, .datetime_range_input.is_layout_search .datetime_input {
        -webkit-flex: 1 1 0;
        flex: 1 1 0
    }

    .datetime_range_input.is_layout_home .datetime_input:first-child, .datetime_range_input.is_layout_search .datetime_input:first-child {
        margin-right: 16px
    }
}

.datetime_range_input.is_layout_car_show .datetime_input, .datetime_range_input.is_layout_search .datetime_input {
    height: 44px;
    padding: 4px 12px;
    border: 1px solid #b4bbc6;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out;
    transition: border-color .15s ease-in-out
}

.datetime_range_input.is_layout_car_show .datetime_input.is_active, .datetime_range_input.is_layout_car_show .datetime_input.is_hovered, .datetime_range_input.is_layout_search .datetime_input.is_active, .datetime_range_input.is_layout_search .datetime_input.is_hovered {
    border-color: #262959;
    color: rgba(46, 162, 234, .5)
}

.datetime_range_input.is_layout_car_show .datetime_input.is_hovered, .datetime_range_input.is_layout_search .datetime_input.is_hovered {
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1)
}

.datetime_range_input.is_layout_car_show .datetime_input.is_active, .datetime_range_input.is_layout_search .datetime_input.is_active {
    box-shadow: 0 2px 12px 0 rgba(80, 88, 140, .16), inset 0 0 0 1px #50588c
}

.datetime_range_input.is_layout_home .datetime_input {
    height: 64px;
    padding: 13px 9px 0 18px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, .2)
}

.datetime_range_input.is_layout_home .datetime_input:last-child:before {
    margin-top: -13px
}

.datetime_range_input.is_layout_home .datetime_range_input_icon {
    margin-top: 3px;
    margin-right: 8px
}

.date_input.is_active, .date_input.is_hovered, .time_input.is_active, .time_input.is_hovered {
    color: #2ea2ea
}

.calendar_month {
    width: 100%;
    min-height: 20px;
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0
}

.calendar_after_last_month {
    padding-top: 110px;
    color: #989898;
    text-align: center
}

.calendar_month_caption {
    height: 40px;
    border-bottom: 1px solid #b4bbc6;
    margin-bottom: 6px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize
}

.calendar_day_wrapper {
    cursor: pointer
}

.calendar_day {
    position: relative;
    height: 24px;
    margin: 5px 0;
    line-height: 24px;
    text-align: center;
    border-radius: 2px
}

.calendar_day.is_label {
    color: #989898
}

.calendar_day.is_today {
    font-weight: 600;
    color: #262959
}

.calendar_day.is_disabled {
    color: #dce1e1;
    cursor: default
}

.calendar_day.is_end_day, .calendar_day.is_start_day {
    color: #fff;
    background: #50588c
}

.calendar_day.is_end_day:after, .calendar_day.is_start_day:after {
    position: absolute;
    z-index: 2;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    content: ""
}

.calendar_day.is_end_day.is_invalid, .calendar_day.is_start_day.is_invalid {
    background-color: #ff7378
}

.calendar_day.is_end_day.is_invalid:after, .calendar_day.is_start_day.is_invalid:after {
    border-left-color: #ff7378;
    border-right-color: #ff7378
}

.calendar_day.is_start_day:not(.is_end_day) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.calendar_day.is_start_day:after {
    left: 100%;
    border-left: 5px solid #50588c
}

.calendar_day.is_end_day:not(.is_start_day) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.calendar_day.is_end_day:after {
    right: 100%;
    border-right: 5px solid #50588c
}

.calendar_day.is_start_day.is_end_day {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #262959
}

.calendar_day.is_start_day.is_end_day:after {
    display: none
}

.calendar_day.is_in_range {
    color: #fff;
    background: #a1adcf;
    border-radius: 0
}

.calendar_day.is_in_range.is_invalid {
    background-color: rgba(255, 115, 120, .5)
}

.day_picker {
    margin: 0 20px
}

.day_picker .owl-carousel.owl-hidden {
    opacity: 1
}

.day_picker .owl-carousel .owl-nav.owl-nav .owl-prev {
    left: -15px
}

.day_picker .owl-carousel .owl-nav.owl-nav .owl-next {
    right: -15px
}

.day_picker .owl-stage-outer {
    min-height: 260px
}

.day_picker_error {
    overflow: hidden;
    height: 0;
    color: #ff7378;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    -webkit-transition: height .2s linear;
    transition: height .2s linear
}

.day_picker_error.is_visible {
    height: 30px
}

@media (max-width: 767px) {
    .day_picker_error.is_visible {
        height: auto
    }
}

.time_picker {
    display: table;
    width: 100%;
    margin: 10px 0
}

.time_picker_label, .time_picker_select {
    display: table-cell;
    width: 50%
}

.time_picker_label {
    padding: 15px;
    border-right: 1px solid #b4bbc6;
    color: #989898;
    text-align: right;
    vertical-align: middle
}

.time_picker_select {
    position: relative;
    height: 250px
}

.time_picker_select_inner {
    position: absolute;
    top: -10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 270px;
    padding: 5px 0 5px 20px
}

.time_picker_entry {
    display: table;
    padding: 0 10px;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 36px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.time_picker_entry:last-child {
    margin-bottom: 0
}

.time_picker_entry.is_disabled {
    color: #989898;
    cursor: default
}

.time_picker_entry.is_active, .time_picker_entry.is_hovered {
    color: #fff;
    background-color: #50588c
}

.daytime_picker_wrapper {
    position: absolute;
    z-index: 12;
    top: 100%;
    left: 50%;
    display: none;
    overflow: hidden;
    width: 100%;
    border: 2px solid #262959;
    margin-top: 10px;
    background: #fff;
    border-radius: 2px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

@media (min-width: 768px) {
    .daytime_picker_wrapper {
        width: 480px
    }
}

@media (min-width: 768px) {
    .daytime_picker_wrapper.is_position_left {
        top: 0;
        right: 100%;
        left: auto;
        margin-top: 0;
        margin-right: 10px;
        -webkit-transform: none;
        transform: none
    }
}

@media (min-width: 768px) {
    .daytime_picker_wrapper.is_position_right {
        top: 0;
        left: 100%;
        margin-top: 0;
        margin-left: 10px;
        -webkit-transform: none;
        transform: none
    }
}

.editable .show_more_months {
    display: block !important
}

.cobalt-Button {
    min-height: 40px;
    min-width: 40px;
    padding: 8px 24px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 0;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: 2px solid #dce1e1;
    color: #50588c;
    text-decoration: none;
    font-family: ProgrammeDrivy,BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.08);
    background-color: #fff;
    fill: #50588c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color,border,box-shadow,color,fill,-webkit-transform;
    transition-property: background-color,border,box-shadow,color,fill,-webkit-transform;
    transition-property: background-color,border,box-shadow,color,transform,fill;
    transition-property: background-color,border,box-shadow,color,transform,fill,-webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.cobalt-Button--primary:active {
    border-color: #14152e;
    color: #fff;
    background-color: #14152e;
    fill: #fff;
}

.cobalt-ButtonGroup__Item
{
    margin-top: 16px;
    margin-left: 4px;
}

.cobalt-Button--primary:hover {
    border-color: #262959;
    color: #fff;
    background-color: #262959;
    fill: #fff;
}

.cobalt-Button--primary.cobalt-Button--destructive {
    border-color: #ff7378;
    color: #fff;
    background-color: #ff7378;
    fill: #fff;
}