#phone2 {
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
}

.input-group.ng-isolate-scope.ng-valid-phone, .iti.iti--allow-dropdown.iti--separate-dial-code, .iti.iti--allow-dropdown {
    width: 100%;
}


.flag {
    width: 24px;
    height: 18px;
    background: url(/static/bg-sprite-flags.png) 0 100px no-repeat;
    vertical-align: -3px;
    display: inline-block;
    speak: none;
}


/* flag */
.flag-16-en {
    background-position: -272px -140px !important;
}

.flag-16-th {
    background-position: -176px -124px !important;
}

.flag-16-cn {
    background-position: -32px -44px !important;
}

.flag-16-fr {
    background-position: -464px -44px !important;
}

.flag-16-de {
    background-position: -160px -44px !important;
}

.flag-16-ru {
    background-position: -272px -108px !important;
}

.flag-16-za {
    background-position: -113px -140px !important;
}

.flag {
    width: 24px;
    height: 18px;
    vertical-align: -3px;
    display: inline-block;
    speak: none;
}

.flag-16 {
    width: 16px !important;
    height: 13px !important;
}

.flag-18-en {
    background-position: -240px -458px;
}

.flag-18-th {
    background-position: -24px -434px;
}

.flag-18-ru {
    background-position: -408px -386px;
}

.flag-18-cn {
    background-position: -48px -242px;
}

.flag-18-fr {
    background-position: -216px -266px;
}

.flag-18-de {
    background-position: -240px -242px;
}

.flag-18-za {
    background-position: -169px -460px;
}

.profile-container {
    margin-top: 25px;
}

.btn-primary, .blog main > .container-fluid .sidebar .widget_sow-button a, .blog main > .container-fluid .sidebar .widget_search input[type="submit"], .search main > .container-fluid .sidebar .widget_sow-button a, .search main > .container-fluid .sidebar .widget_search input[type="submit"] {
    padding: 4px 31px;
}

.tc-form-widget-park .btn, .tc-form-widget-rent .btn-primary {
    padding: 6px 21px !important;
}

#id_path {
    width: 100%;
}

.ui-button.ui-state-default.ui-corner-left.ui-button-icon-only, .ui-button.ui-state-default.ui-corner-right {
    background: white !important;
}

.ui-button.ui-state-default.ui-corner-left.ui-button-icon-only {
    width: 40%;
}

.ui-button.ui-state-default.ui-corner-right {
    width: 81%;
    display: none;
}

.ui-buttonset {
    margin-right: 0px !important;
}

.ui-button.ui-state-default.ui-corner-left.ui-button-icon-only i {
    margin-right: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px !important;
}

.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    max-width: 200px;
}

.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.media {
    padding: 4px;
}

#div_id_email button {
    background: white;
    border: 0px;
    color: #ff7abf;
    color: #f36;
    font-size: 16px;
    padding-left: 0px;
    font-weight: bold;
    float: right;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 20px;
}

#div_id_email button:focus {
    outline: 0
}

.fieldset-group {
    margin-bottom: 0px;
}

.Password-change a {
    padding: 5px;
    min-width: 114px;
}

.menu-account-picture img {
    border-radius: 100%;
    max-width: 30px;
    height: 30px;
    width: 30px;
    padding: 2px;
    border: 1px solid #8c8c8c;
}

.drivers-background {
    background-image: url(/static/images/Roadtrip.jpg);
    background-repeat: no-repeat;
    background-size: 100% 400px;
    left: 0;
    right: 0;
    height: 350px;
    top: 0;
}

.profile-container-group .rounded-circle.account-img {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #bbbbbb;
    width: 120px;
    height: 120px;
}

.profile-container-group {
    padding-bottom: 20px;
    margin-top: -50px;
    max-width: 1040px;
    position: relative;
}

.profile-container-group .profile {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.profile-container-group .profile-link {
    padding: 10px;
    color: #fff;
    background-color: #f36;
    border-color: #f36;
    -webkit-transition: all .2s linear;
    width: 120px;
    text-align: center;
}

.profile-container-group .cancel {
    padding: 10px;
    color: #fff;
    border: 1px solid;
    -webkit-transition: all .2s linear;
    width: 124px;
    text-align: center;

}


.profile-container-group .profile a {
    color: white;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: bold;
}

.left-group-profile {
    margin-right: 25px;
    padding-right: 25px;
}

.left-group-profile .date span {
    font-size: 14px;
    font-weight: bold;
}

.rounded-circle.review-img {
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #bbbbbb;
    width: 100px;
    height: 100px;
}

.left-group-profile .verify-group {
    margin-top: 30px
}

.left-group-profile .verify-group table,
.left-group-profile .verify-group tbody,
.left-group-profile .verify-group tr,
.left-group-profile .verify-group td {
    border: none;
    background: white;
}

.img-review {
    float: left;
    margin-right: 15px;
}

.content-review {
    margin-top: 10px;
}

.header.review-header {
    font-size: 20px;
}

.review-none, .review-message {
    font-weight: bold;
    margin-bottom: 2px;
}

.starRating-rating--gray .fa.fa-star {
    color: #bdbdbd;
}

.left-group-profile .verify-group .even {
    color: #ff3366;
    font-weight: bold;
    float: right;
}

.left-group-profile .verify-group .odd {
    color: #0c0c0c;
    font-weight: bold;
}

.left-group-profile .verify-group table td, .left-group-profile .verify-group table th {
    padding: 6px 0px;
}

.left-group-profile .verify-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
}

.left-group-profile .description-profile {
    margin-top: 20px;
    font-weight: bold;
    font-size: 13px;
}

.image-tag {
    color: #949494;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}

#update-profile .name {
    font-weight: bold;
    color: black;
}

#update-profile .date {
    margin-top: 5px;
}

#update-profile .date span {
    font-size: 14px;
    font-weight: bold;
}

.group-account-right .left-group-profile {
    margin-right: 0px;
    padding-right: 0px;
}

#update-billing {
    margin-top: 15px;
}

.user-about {
    color: #949494;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}

.group-notice .text {
    color: #231f20;
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
}

.group-notice .text {
    margin-top: 20px;
    margin-bottom: 6px;
}

.group-notice .state {
    margin-left: 10px;
    color: black;
}

.verify-phone button {
    position: absolute;
    right: 15px;
    color: #ff3366;
    background: white;
    border: 0px;
    color: #ff7abf;
    color: #f36;
    font-size: 16px;
    padding-left: 0px;
    font-weight: bold;
    float: right;
    padding: 0px;
    margin-top: 0px;
    padding-top: 0px;
    height: 20px;
}

.verify-phone button:focus {
    outline: 0;
}

.social-share a, .approved-drive a {
    color: black;
}

.social-share a:hover, .approved-drive a:hover {
    text-decoration: none;
}

.social-share a:hover {
    text-decoration: none;
}

.social-drive-group {
    margin-top: 11px;
    margin-bottom: 6px;

}

.social-share .fa.fa-facebook-f {
    color: #0000b9;
}

.social-share .fa.fa-google {
    color: #ad0000;
}

.approved-drive, .social-share {
    border: 1px solid #dedede;
    padding: 7px;
    text-align: center;
    margin-right: 6px;
    max-width: 157px;
    font-size: 15px;
}

.group-account-right .balance {
    color: black;
    float: right;
    font-weight: bold;
}

.left-group-profile .fa.fa.fa-check-circle {
    font-size: 24px;
    color: #fd7e14;
}

.left-group-profile .info-group {
    margin-top: 30px;
}

.left-group-profile .info-group .works-label {
    color: #525252;
    font-weight: bold;
    padding-bottom: 5px;
}

.about-person .title-person {
    text-transform: uppercase;
    font-weight: bold;
}

#drive-view-form {
    margin-top: 20px;
}

.CURRENT-ADDRESS {
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid #bdbdbd;
    padding-bottom: 10px;
}

.instraction-date {
    color: #8c8c8c;
    text-align: right;
    font-size: 15px;
    margin-left: 7px;
    float: right;
}

button.profile-link {
    height: 40px;
    font-weight: bold;
    border-radius: inherit
}

button.profile-link:focus {
    outline: navajowhite;
}

.calculation-dest {
    margin-top: 15px;
    margin-bottom: 15px;
}

.group-forms0 .col-md-6 {
    margin-bottom: 15px;
}

.car_work_for_you {
    margin-bottom: 15px;
}

.calc-button {
    font-weight: bold;
    padding: 5px;
    color: #fff;
    background-color: #f36;
    border-color: #f36;
    -webkit-transition: all .2s linear;
    width: 142px;
    text-align: center;
    height: 40px;
    margin-top: 18px;
}


.calculated-group {
    height: 40px;
    margin-top: 5px;
    font-size: 18px;
}

.price-calculated {
    font-weight: bold;
    font-size: 30px;
}

.estimate-period {
    color: #777777;
    font-weight: bold;
    font-size: 15px;
}

.rent-type {
    text-align: center;
}

.owner-prefer {
    text-align: center;
}

.owner-prefer h4 {
    margin-top: 23px;
    margin-bottom: 24px
}

.car_creation_bifurcation__card--top-stripe-aller {
    position: relative;
}

.cobalt-Card {
    width: 100%;
    background-color: #fff;
    border-radius: 0px !important;
    box-shadow: inherit !important;
}

.cobalt-Card > .cobalt-Card__Section:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cobalt-Card__Section {
    position: relative;
    display: block;
    padding: 24px;
    background-color: #fff;
}

.car_creation_bifurcation_card__title_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.car_creation_bifurcation_card__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cobalt-text-title {
    margin-bottom: 0;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #262959;
}

.cobalt-mr-extraTight {
    margin-right: 8px !important;
}

.cobalt-Icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 0;
}

.cobalt-Icon--colorAller {
    fill: #00d9d9;
}

.cobalt-Icon > svg {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.cobalt-Card__Section + .cobalt-Card__Section--divided {
    padding-top: 23px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.cobalt-Card__Section {
    position: relative;
    display: block;
    padding: 24px;
    background-color: #fff;
}

.car_creation_bifurcation_estimated_earnings__container {
    margin: 8px 0;
    text-align: center;
}

.cobalt-text-titleExtraLarge {
    margin-bottom: 0;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    color: #262959;
}

.cobalt-mb-extraTight {
    margin-bottom: 8px !important;
}

.cobalt-text-sectionHeader {
    margin-bottom: 0;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #989898;
    text-transform: uppercase;
}

.cobalt-mb-medium {
    margin-bottom: 32px !important;
}

.cobalt-text-sectionHeader {
    margin-bottom: 0;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #989898;
    text-transform: uppercase;
}

.cobalt-mb-unit {
    margin-bottom: 4px !important;
}

.cobalt-Icon--size16 {
    height: 16px;
    width: 16px;
}

.cobalt-Icon--colorGraphiteLight {
    fill: #989898;
}

.cobalt-Icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 0;
}

.cobalt-Card > .cobalt-Card__Section:last-of-type {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.cobalt-Card__Section + .cobalt-Card__Section--divided {
    padding-top: 23px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.cobalt-Card__Section {
    position: relative;
    display: block;
    padding: 24px;
    background-color: #fff;
}

.cobalt-mb {
    margin-bottom: 24px !important;
}

.cobalt-BulletListItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cobalt-mb {
    margin-bottom: 24px !important;
}

.cobalt-BulletListItem__Icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 8px;
}

.cobalt-Icon--colorAller {
    fill: #00d9d9;
}

.cobalt-Icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 0;
}

.cobalt-Icon > svg {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.cobalt-text-body {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    color: #333;
}

.cobalt-mb {
    margin-bottom: 24px !important;
}

.cobalt-BulletListItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cobalt-Icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 0;
}

.cobalt-Icon--colorAller {
    fill: #00d9d9;
}

.cobalt-Icon > svg {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.cobalt-text-body.cobalt-text--emphasized, .cobalt-text-body .cobalt-text--emphasized {
    font-weight: 600;
}

.cobalt-Button--primary:active {
    border-color: #14152e;
    color: #fff;
    background-color: #14152e;
    fill: #fff;
}

.cobalt-Button--fullWidth {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cobalt-Button {
    min-height: 50px;
    min-width: 40px;
    padding: 8px 24px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border-color: #dce1e1;
    color: #50588c;
    text-decoration: none;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    fill: #50588c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, transform, fill;
    transition-property: background-color, border, box-shadow, color, transform, fill, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cobalt-Button--primary:hover {
    border-color: #262959;
    color: #fff;
    background-color: #262959;
    fill: #fff;
}

.cobalt-Button--large {
    min-height: 56px;
    min-width: 56px;
    padding: 14px 32px;
    border-width: 2px;
    font-size: 18px;
    line-height: 24px;
    border-color: #50588c;
    color: #fff;
    background-color: #50588c;
    fill: #fff;
}


.cobalt-Icon--colorAsphaltLight {
    fill: #50588c;
}

.rent-type-content {
    max-width: 900px;
    margin: 0 auto;
}

.cobalt-Tag {
    display: inline-block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    background-color: #edf0f0;
    border-radius: 3px;
}


.info-modal .modal-title {
    color: black;
    font-weight: bold;
}

.info-modal .modal-dialog.monthly_earnings {
    max-width: 460px;
}

.info-modal .modal-body {
    color: black;
}

.header-step {
    margin-top: 22px;
    font-size: 25px;
    font-weight: bold;
}

.car-step2 .content-step2 {
    margin: 0 auto;
}

.content-step2 .vehicle-text {
    font-size: 20px;
    margin-bottom: 13px;
    font-weight: bold;
}

.today-active {
    color: white;
    background: red;
    text-align: center;
}

.content-step2 select {
    max-width: 220px;
}

.content-step2 label {
    font-size: 14px;
}

.group-step2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cobalt-Callout--info {
    position: relative;
}

.cobalt-Callout--info:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 3px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    content: "";
    background-color: #00d9d9;
}

.cobalt-Callout {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    position: relative;
    padding: 16px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.top15 {
    margin-top: 15px;
}

.cobalt-Callout.cobalt-Callout--info p {
    margin-bottom: 0px;
}

.vehicle-text {
    margin-top: 30px;
}

.section-group {
    margin-bottom: 45px;
}

.col-md-3.extras-div {
    margin-bottom: 7px;
}

.content-step2 .row.group-step2 .col-md-3 {
    margin-bottom: 10px;
}

.address-car_wizards {
    width: 400px;
}

.cobalt-Callout--error {
    position: relative;
}

.cobalt-Callout {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    position: relative;
    padding: 16px;
    margin-bottom: 24px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.top10 {
    margin-top: 10px;
}

.cobalt-Callout--error:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 3px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    content: "";
    background-color: #ff7378;
}

.hidden_content {
    margin-top: 21px;
}

.cobalt-Button--primary {
    border-color: #50588c;
    color: #fff;
    background-color: #50588c;
    fill: #fff;
}

.cobalt-Button {
    min-height: 50px;
    min-width: 40px;
    padding: 8px 24px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border-color: #dce1e1;
    color: #50588c;
    text-decoration: none;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    fill: #50588c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, transform, fill;
    transition-property: background-color, border, box-shadow, color, transform, fill, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cobalt-Button--primary {
    border-color: #50588c;
    color: #fff;
    background-color: #50588c;
    fill: #fff;
}

.center {
    width: 150px;
    margin: 40px auto;

}


.daily-price {
    max-width: 150px;
}

.daily-price button.minus {
    padding-left: 10px;
    padding-right: 10px;
}

.daily-price button.plus {
    padding-left: 10px;
    padding-right: 10px;
}

.daily-price button.minus, .daily-price button.plus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid #ccc;
}

.daily-price button.minus {
    border-right: 2px solid #ccc;
}

.daily-price .input-number {
    text-align: center;
}

.daily-price .input-number {
    border-top: 1px solid #cccccc70;
}


#locationField, #controls {
    position: relative;
    width: 480px;
}

#autocomplete {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 99%;
}

#address {
    border: 1px solid #000090;
    background-color: #f0f9ff;
    width: 480px;
    padding-right: 2px;
}

#address td {
    font-size: 10pt;
}

.field {
    width: 99%;
}

.slimField {
    width: 80px;
}

.wideField {
    width: 200px;
}

#locationField {
    height: 20px;
    margin-bottom: 2px;
}

.group-text svg g path {
    fill: #00da94 !important;
}

.group-text .col-md-12 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.group-text .col-md-12 svg {
    margin-right: 5px;
}

.car-step2 .group-text .col-md-3 {
    display: flex;
}

.car-step2 .group-text .file-input.theme-fas.file-input-ajax-new {
    width: 100%;
}

.group-text .file-input.theme-fas {
    width: 100%;
}

.btn.dropdown-toggle.btn-lang-select {
    padding-top: 0px;
}

.btn-group.bootstrap-select.select-language.fit-width {
    padding-top: 11px;
}

.kv-file-upload.btn.btn-sm.btn-kv.btn-default {
    display: none;
}

.social-share, .approved-drive {
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-share a, .approved-drive a {
    font-size: 12px;
}

.btn.btn-cta.btn-rounded.ng-binding {
    background-color: #f36;
    border-color: #f36;
    -webkit-transition: all .2s linear;
    text-align: center;
    color: white;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: bold;
}

#update-billing .fieldset-group {
    margin-top: 25px;
    margin-bottom: 5px;
}

.user-cars-index {
    margin-top: 35px;
}

.add-car-link {
    min-width: 110px;
    padding: 7px;
}

#userCarTable_wrapper {
    margin-top: 25px;
    margin-bottom: 10px;
}

#car-index-image {
    max-width: 120px;
}

td.actions-link a {
    margin-right: 4px;
    font-size: 17px;
}

.content-account {
    padding-bottom: 20px;
    max-width: 1040px;
    position: relative;
}

.profile-link.step2-button {
    font-weight: bold;
    color: #fff;
    background-color: #f36;
    border-color: #f36;
    -webkit-transition: all .2s linear;
    min-width: 130px;
    text-align: center;
    height: 40px;
}

.hover-pink:hover, .profile-link:hover {
    background: #f30e47;
}

.car-view {
    border-radius: 0px !important;
    padding: 11px;
}

button.profile-link {
    padding: 10px;
    color: #fff;
    background-color: #f36;
    border-color: #f36;
    -webkit-transition: all .2s linear;
    width: 120px;
    text-align: center;
}

.mypagination {
    text-align: center;
    margin-top: 15px;
    padding-left: 0px;
}

.mypagination li {
    display: inline-block;
    margin: 0 1px;
}

.mypagination li.active a {
    background: #f30e47;
    color: white;
}


.mypagination li a {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #f36;
    font-size: 16px;
    color: #e7272d;
    min-width: 40px;
    height: 40px;
    background: transparent;
    display: block;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.mypagination li a:hover {
    color: #ffffff;
    background: #c03;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.index-list2 .media .mr-3 {
    float: left;
    margin-right: 20px;
}

.index-list2 {
    margin-top: 20px;
}


.index-list2 .media .mr-3 {
    max-width: 275px;
}


.index-list2 .car-brand-model {
    font-size: 20px;
    font-weight: bold
}


.brand-model-car {
    right: 15px;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
}

.features .feature-title {
    margin-top: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

span.label2 {
    margin-right: 25px;
}

.features .value-features {
    color: #827979;
}

.index-list2 .media {
    margin-bottom: 30px;
}

.daterangepicker td.in-range {
    background-color: #d1f1ff !important;
}

.group-section-weeks {
    margin-bottom: 15px;
}

.group-section-weeks .day-title {
    font-size: 17px;
    font-weight: 500;
}

.group-section-weeks select {
    max-width: 100%;
}

.second-group-time_slot {
    margin-top: 20px;
}

.add-time-slot {
    height: 35px;
    display: flex;
    align-items: center;
}

.checkin-checkout-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 20px;
}

.add-time-slot {
    cursor: pointer;
}

.checkin-checkout-title2 {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.checkin-checkout-title a {
    margin-left: 20px;
    padding: 9px;
    border: 1px solid #cccccc;
    text-decoration: none;
}

.group-section-weeks .control-group.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.calendar-table tr td {
    border-radius: 0px !important;
}

.model-brand-group .model-add label {
    height: 15px;
}

.select-language .bs-searchbox {
    display: none !important;
}

.nav.nav-pills.nav-justified {
    max-width: 300px;
}

.nav.nav-pills.nav-justified a {
    border-radius: inherit;
}

#language-list .dropdown-menu.open {
    border-radius: inherit;
}


.block-width-100 {
    background: #006ce3;
    padding: 15px 0 25px 0;
}

.block-width-100 h2 {
    color: #fff;
    margin-top: 5px;
}

.block-width-100 p.sub-title {
    color: #fff;
}

.block-width-100 .block-detail-property {
    border: none;
}

.block-width-100 ul.block-detail-property {
    border-top: 1px solid #ccc;
}

.block-width-100 .item:hover .block-detail-property h1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.block-width-100 .block-detail-property .data {
    border-bottom: 0px;
}

.block-width-100 .block-detail-property .data .fa-angle-double-right {
    top: 30%
}

.block-width-100 .owl-theme .owl-controls .owl-buttons div {
    color: #fff;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.remove-slot .glyphicon {
    color: white !important;
}


@media (min-width: 1200px) {
    .block-width-100 .owl-carousel .lazyOwl {
        height: 250px;
    }
}

.favorites-lists .block-width-100 {
    background: #ffffff;
}

.title-favorites-lists {
    margin-bottom: 15px;
}


.pv .t img {
    width: 44px;
    height: 27px;
}

.vit .pv img {
    max-width: 100%;
}

.features-view-title {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: bold;
}

.extra-field.col-md-4 {
    margin-bottom: 6px;
    padding-left: 0px;
}

#attr .c.col-md-4 i {
    margin-right: 6px;
    color: #b4bbc6;
}

.extra-field.col-md-4 {
    display: flex;
    align-items: center;
}

.per-day {
    color: #767676;
}

.pv .arrow:hover .left, .pv .arrow:hover .right, .pv .zoom:hover {
    transform: scale(1.1);
}

#pmenu .share .flag {
    width: auto;
    margin-top: 11px;
}

.group-reserve {
    text-align: left;
    max-width: 235px;
    margin: 0 auto;
}

.trip-start, .trip-end {
    color: #464646;
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: bold;
}

.trip-end {
    margin-top: 10px;
}

#start-date, #end-date {
    width: 61%;
    float: left;
    margin-right: 5px;
}

#startTime, #endTime {
    width: 36%;
    float: left;
    height: 35px;
    margin-right: 2px;
}

.vehicle-list {
    margin-top: 11px;
}

.daily_price-description {

}

.cobalt-mb-discounts {
    margin-bottom: 20px;
}

.cobalt-mb-tight {
    margin-bottom: 16px !important;
}

.cobalt-Note {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    color: #989898;
    display: inline-block;
    padding: 16px;
    background-color: #f7f9f9;
    border-radius: 8px;
}

.cobalt-Stepper__Wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.cobalt-Stepper__ActionButton .cobalt-Button {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 18px;
    border-radius: 50%;
}

.cobalt-Button {
    min-height: 40px;
    min-width: 40px;
    padding: 8px 24px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border-color: #dce1e1;
    color: #50588c;
    text-decoration: none;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #fff;
    fill: #50588c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, transform, fill;
    transition-property: background-color, border, box-shadow, color, transform, fill, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cobalt-Stepper--success .cobalt-Stepper__ContentWrapper {
    color: #00da94;
}


.cobalt-Stepper__ContentWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 16px;
    min-width: 96px;
    font-size: 28px;
    font-weight: 500;
    color: #50588c;
}

.cobalt-flexAlign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cobalt-Stepper__Meta {
    margin-left: 8px;
    font-size: 15px;
    color: #989898;
}

.cobalt-Stepper__ActionButton .cobalt-Button {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 18px;
    border-radius: 50%;
}

.cobalt-Button--ghost.cobalt-Button--standalone {
    padding-left: 0;
    padding-right: 0;
}

.cobalt-Button--ghost:not(.cobalt-Button--destructive), .cobalt-Button--ghost:hover:not(.cobalt-Button--destructive), .cobalt-Button--ghost:active:not(.cobalt-Button--destructive), .cobalt-Button--ghost[disabled][disabled]:not(.cobalt-Button--destructive), .cobalt-Button--ghost.cobalt-Button--disabled:not(.cobalt-Button--destructive) {
    color: #2ea2ea;
    fill: #2ea2ea;
}

.cobalt-Button__Icon:first-child {
    margin-right: 8px;
}

.cobalt-Button__Icon {
    margin-top: -2px;
    margin-bottom: -2px;
}

.cobalt-Icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 0;
}

.flex_row_center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.cobalt-Button {
    min-height: 40px;
    min-width: 40px;
    padding: 8px 24px;
    border-width: 2px;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-style: solid;
    border-color: #dce1e1;
    color: white;
    text-decoration: none;
    font-family: 'ProgrammeDrivy', BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: #50588c;
    fill: #50588c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, fill, -webkit-transform;
    transition-property: background-color, border, box-shadow, color, transform, fill;
    transition-property: background-color, border, box-shadow, color, transform, fill, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button.cobalt-Button2:hover {
    border-color: #262959;
    color: #fff;
    background-color: #262959;
    fill: #fff;
}

button.cobalt-Button2 {
    min-height: 50px;
}


.cobalt-Button.cobalt-Button--ghost {
    border: none;
    box-shadow: none;
    margin-top: 23px;
    padding: 5px;
}

.cobalt-Button.cobalt-Button--ghost {
    margin-left: 22px;
}

.flex_row_center {
    margin-bottom: 21px;
}

button.cobalt-Button:focus {
    outline: none;
}

button.cobalt-Button.cobalt-Button--ghost.cobalt-Button--standalone:hover {
    background: #f3f3f3;
}

.cobalt-Button--disabled {
    border-color: #dce1e1;
    color: #989898;
    opacity: 0.7;
    cursor: default;
    background-color: #f7f9f9;
    fill: #dce1e1;
    box-shadow: none;
    pointer-events: none;
}

.cobalt-flexAlign.danger {
    color: #ff7378;
}


#your_conditions .rental_duration_block {
    max-width: 400px;
}

.rental_duration_no_minimum, .rental_duration_maximum_days {
    text-align: center;
}

.rental_duration_no_minimum, .rental_duration_maximum_days {
    margin-top: 7px;
}

.rental_duration_block {
    margin-bottom: 30px;
}

#car_rental_delay_min_minutes {
    max-width: 400px;
}

.info-img {
    margin-left: 8px;
    width: 19px;
    cursor: pointer;
    margin-top: -2px;
}

.rental_duration_block, .preparation_time_block, .maximum_booking_notice_block {
    margin-bottom: 30px;
}

.maximum_booking_notice_block, .special_requirements {
    max-width: 400px;
}

.maximum_booking_notice_block .irs-grid-text {
    margin-left: -6px !important;
}

.special_requirements_notice {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 88.9931px;
    width: 100%;
    /* height: 40px; */
    padding: 7px 9px;
    border: 2px solid #b4bbc6;
    margin: 0;
    color: #333;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    background-image: none;
    background-color: #fff;
    box-shadow: none;
    border-radius: 3px;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
}

.calendar_state_color.available {
    background: #00da94;
}

.calendar_state_title {
    display: inline-block;
    margin-right: 30px;
    line-height: 20px;
    vertical-align: top;
}

.calendar_state_color.unavailable {
    background-image: linear-gradient(135deg, #333 25%, #989898 0, #989898 50%, #333 0, #333 75%, #989898 0, #989898);
    background-size: 6px 6px;
}

.calendar_state_color {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;
    border-radius: 3px;
}

.owner_calendar_legend_container {
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #f6f7f9;
    border-radius: 5px;
}

.calendar_state {
    display: inline-block;
}

.owner_calendar_legend_container {
    margin-top: 11px;
}

.my-calendar table {
    margin-right: 10px;
    margin-bottom: 25px;
}

.my-calendar table tr td, .my-calendar table tr th {
    text-align: center;
}

td.disabled-calendar {
    z-index: 1;
    color: #989898;
    font-weight: 400;
    background: none;
    cursor: default;
    border: 0px;
    border-right: 1px solid #ffffff00;
    border-left: 0px;
    background: white;
    border-color: #f5f5f500 !important;
}

table tbody td:nth-child(2) {
    border-color: #ffffff00 !important;
}

.show-more-blog {
    margin: 0 auto;
    text-align: center;
}

.show-more-blog button {
    width: 200px;
    text-align: center;
}

.js_show_more_months.show_more_months.cobalt-Button.cobalt-Button--ghost.cobalt-Button--fullWidth {
    margin-bottom: 20px;
    border: 1px solid #d8d8d8;
}

tbody tr td.mon,
tbody tr td.tue,
tbody tr td.wed,
tbody tr td.thu,
tbody tr td.fri,
tbody tr td.sat,
tbody tr td.sun {
    cursor: pointer;
    /*background: #00da94;*/
}

.js_show_more_months.show_more_months {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

#Calendar .calendar-group {
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
}

.editable .owner_calendar_month:nth-child(1n+1) {
    margin-right: 4%;
}

.owl_calendar_carousel {
    position: relative;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.owner_calendar_month.clearfix {
    /* display: flex; */
    display: table-cell;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    /* background: gray; */
    margin: 5px;
}

.owner_calendar_actions .cobalt-ButtonGroup__Item {
    float: left;
    margin-bottom: 30px;
}

#js_owner_calendar_repeat_select:hover {
    color: #2ea2ea;
}

#js_owner_calendar_repeat_select:hover {
    color: #2ea2ea;
    border-color: #262959;
    outline: 0;
}


#js_owner_calendar_repeat_select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 7px 9px;
    border: 2px solid #b4bbc6;
    margin: 0;
    color: #333;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    background-image: none;
    background-color: #fff;
    box-shadow: none;
    border-radius: 3px;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#js_owner_calendar_repeat_select {
    background-image: url(/static/images/select-ec857801c84f0f5208bb264f3967993d.png);
    padding: 0 25px 0 9px;
    line-height: normal;
    background-position: 100%;
    background-size: 20px 6px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.user-cars-index .add-cart {
    margin-bottom: 25px;
}

.car_creation_bifurcation__card_container {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .1);
}

.check-in-check-out-time {
    margin-bottom: 25px;
}

button.js_show_more_months.show_more_months.cobalt-Button.cobalt-Button--ghost.cobalt-Button--fullWidth:hover {
    background: whitesmoke;
}

.owner_calendar_wrapper {
    display: none;
}

/*td.in-range.available {*/
/*    background-color: #f36 !important;*/
/*}*/

/*.daterangepicker td.active, .daterangepicker td.active:hover {*/
/*    background-color: #f30e47 !important;*/
/*}*/