.p-50-cont {
    padding: 10px 20px 5px 20px;
}


/****************************padding-margin*****************************/
.p0 {
    padding: 0px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.units_index_enquiry_button, .units_index_enquiry_button:focus {
    border-color: rgba(137, 135, 135, 0.2) !important;
    background-color: rgb(240, 71, 10) !important;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
    transition: all 0.3s ease;
}

.units_index_enquiry_button:hover {
    border-color: #f06b0a !important;
    background-color: #f06b0a !important;
    color: #fff;
}

.border-none {
    border: 0px !important;
}

.p15 {
    padding: 15px !important;
}

/**************************owl-carousel*************************/
.owl-carousel {
    margin-top: 25px;
    margin-top: 0;
}

@media (max-width: 767px) {
    .owl-carousel {
        margin-top: 5px;
    }
}

.owl-item.loading .bt-detail, .owl-item.loading .bigTitle, .owl-item.loading .block-3-list, .owl-item i, .owl-item.loading .status-project, .owl-item.loading .list-contact {
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 1s ease;
}

.owl-item .bt-detail, .owl-item .bigTitle, .owl-item .block-3-list, .owl-item i, .owl-item .status-project, .owl-item .list-contact {
    opacity: 1;
    filter: alpha(opacity=100);
}

.owl-item.active img {
    animation-duration: 1.5s;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.item {
    position: relative;
}

.owl-item {
    padding: 0 5px;
}

.item img {
    width: 100%;
    transition: all 0.2s ease;
}

.owl-item:hover .item img {
    filter: brightness(0.75);
}

.owl-theme .owl-controls .owl-page span {
    border-radius: 0;
    height: 2px;
    width: 15px;
    margin: 3px 3px;
}

.owl-prev {
    left: -46px;
    position: absolute !important;
    top: 29%;
    transition: all 0.5s ease;
}

.owl-next {
    position: absolute;
    right: -45px;
    top: 29%;
    transition: all 0.5s ease;
}

.owl-projects .owl-next, .owl-projects .owl-prev {
    top: 3px;
}

.item {
    margin: 0px 3px 10px 3px;
    transition: all 0.2s ease;
}

.item:hover {
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-controls .owl-buttons div {
    color: #59a9df;
    display: inline-block;
    zoom: 1;
    *display: inline; /*IE7 life-saver */
    margin: 5px;
    padding: 10px;
    font-size: 62px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: none;
    filter: Alpha(Opacity=40); /*IE7 fix*/
    opacity: 0.5;
    transition: all 0.2s ease;
}

.owl-theme .owl-controls .owl-buttons div:hover {
    opacity: 1 !important;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    background: none;
}

.list-contact {
    padding: 0 15px 15px 15px;
    border: 1px solid #cdcdcd;
}

.list-contact h3 {
    font-size: 18px !important;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.list-contact p a {
    margin-left: 5px;
}

.owl-projects-list {
    padding-top: 0px;
    margin-top: 0px;
}

.owl-projects-list .owl-prev {
    left: 0px;
    color: #fff;
}

.owl-projects-list .owl-next {
    right: 0px;
    color: #fff;
}

.owl-projects-list .owl-controls .owl-buttons div {
    font-size: 40px;
    color: #fff !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.status-project {
    position: absolute;
    z-index: 9;
    left: 10px;
    top: 10px;
    background: #f0470a;
    color: #fff;
    border: 1px solid #fff;
    font-size: 9px;
    padding: 1px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700
}

.type-project {
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: 11px;
    z-index: 9;
    background: #000;
    color: #fff;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 1px 5px;
    text-transform: uppercase;
    font-weight: 700
}

.bt-detail {
    line-height: 40px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 108, 227, 0.75);
    z-index: 9;
    left: 15px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
}

.bt-detail-47 {
    bottom: 47px;
}

.bt-detail img {
    width: 100%;
}

.sub-title {
    color: #999;
    padding-bottom: 15px;
}

.block-3-list {
    font-size: 12px;
    display: block;
    width: 100.02%;
}

.block-3-list ul {
    padding: 0px;
    margin: 0px;
}

.block-3-list ul li {
    display: inline;
    padding: 3px 0;
    border-right: 1px solid #fff;
}

.block-3-list ul li:last-child {
    border: none;
}

.title-list {
    background: #006ce3;
    color: #fff;
}

ul.list-data li {
    background: #fff;
    color: #555;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

ul.list-data li:last-child {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.txt-normal {
    font-weight: normal !important;
    padding: 0px !important;
}

.bt-detail.black-bg {
    background: rgba(0, 0, 0, 0.55);
    line-height: normal;
    padding-bottom: 8px;
    padding-top: 8px;
}

.bt-detail.black-bg .listTotalPrice {
    font-size: 20px;
    font-weight: 700;
    padding-left: 0px;
    margin-left: 0px;
    text-transform: none;
}

.listtxt_room {
    font-weight: 700;
    font-size: 14px;
    text-transform: none;
    display: block;
    padding-top: 0px;
    line-height: 14px;
    padding-bottom: 5px;
    border-left: 1px solid #fff;
}

.listtxt-title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.listtxt-title .txt-location {
    text-transform: none;
    color: #006ce3;
    font-weight: 600;
}

.listtxt i.fa-map-marker {
    padding-right: 3px;
    padding-left: 2px;
}

.listtxt-for {
    text-transform: none;
    display: block;
    clear: both;
}

.listtxt_room.non {
    border: none;
}

.listtxt_size {
    font-size: 14px;
    display: block;
    text-transform: none;
    border-top: 1px solid #fff;
}

.bt-detail.black-bg .listtxt {
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    display: block;
    padding: 0px;
    margin: 0px;
    line-height: 16px;
}

.bt-detail span {
    padding: 0 4px;
}

.bigTitle {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
    z-index: 9;
    color: #fff;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

.title h2 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0;
}

.title h3 {
    font-size: 20px;
}

.list_poperty .block-3-list {
    padding: 0px;
}

#back-drop {
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

/**************************footer*************************/
footer {
    display: block;
    clear: both;
    background: #eee;
    font-size: 14px;
}

.footer-s {
    padding: 0px 0 0 0;
    margin: 0 !important;
}

footer a {
    color: #333;
}

.title-footer {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
}

.ft-black {
    clear: both;
    border-top: 1px solid #2d2c2c;
    font-size: 12px;
    font-weight: 700;
    background: #121212;
    color: #ccc;
    padding: 5px 0;
}

.list_footer {
    background: #eee;
    padding: 20px 20px 5px 30px;
    clear: both;
    margin-top: 15px;
}

.list_footer li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    padding-bottom: 5px;
}

.list_footer li a {
    color: #333;
}

.list_footer li a:hover {
    color: #006CE3
}

.ft-black-s {
    display: table;
    width: 100%;
}

.ft-black a {
    color: #c1c5bf;
    line-height: 26px;
}

ul.nav-footer {
    padding: 0px 0px 20px 0px;
}

.nav-footer li {
    display: block;
    list-style: none;
    padding: 0;
}

.nav-footer li a {
    color: #333;
    font-size: 12px;
}

.nav-footer li a:hover {
    color: #006CE3
}

ul.nav-footer-2 {
    padding: 0px;
    margin: 0px;
}

.nav-footer-2 li {
    display: inline;
    list-style: none;
    padding: 0px 8px;
}

.nav-footer-2 li a {
    color: #c1c5bf;
    font-weight: 700;
    font-size: 12px;
}

.ft-social {
    text-align: right;
    font-size: 13px;
}

.ft-social a {
    margin-left: 5px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.imgbg {
    background: #032061 url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}

.bg-white {
    background: #fff;
    border-radius: 10px;
    padding: 25px 15px;
    margin-bottom: 35px;
}

.bg-white .form-control {
    box-shadow: 0 0;
    border: 1px solid #c7c7c7;
    color: #606060;
    margin-top: 10px;
    padding: 10px 15px !important;
    height: auto !important;
}

.bg-white .btn-primary {
    background-clip: padding-box;
    background-color: #227dda;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 60px;
    text-transform: uppercase;
    transition: background-color 0.2s linear 0s;
    float: left;
    margin-top: 10px;
}

.slogan {
    color: #fff;
    font-size: 42px;
    font-weight: 300;
    margin: 80px 0 30px;
    text-align: left;
}

.detailpage_breadcrumb {
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.unit-fix-details {
    margin-top: 53px;
    padding: 20px 0 5px 0;
    font-size: 14px;
    background: #fff;
    transition: all 0.2s ease;
}

.unit-fix-footer {
    border-top: 1px solid #ccc;
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #737373;
    margin-top: 15px;
    padding-top: 3px;
    position: relative;
    transition: all 0.2s ease;
}

.unit-fix-footer ul {
    padding: 0px;
    line-height: 28px;
}

.unit-fix-footer li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.list-btn {
    padding-top: 7px !important;
}

.list-btn li {
    margin-right: 0px;
}

@media (max-width: 1200px) {
    .list-btn span {
        display: none;
    }
}

.detailpage_breadcrumb {
    padding-top: 5px;
}

.detailpage_breadcrumb li {
    line-height: 14px;
    padding: 0px;
    margin: 0px;
}

.detailpage_breadcrumb li a {
}

.unit-fix-footer a {
    color: #3d7db7;
}

.fixed .unit-fix-footer a.btn {
    padding: 2px 8px;
}

.unit-fix-footer a.btn {
    color: #555;
    padding: 5px 8px;
}

.unit-fix-footer li .btn-sm {
    color: #fff;
    font-weight: 600;
}

.list-property {
    position: relative;
}

.save_share {
    position: absolute;
    right: 40px;
    bottom: -7px
}

.btn-website, a.btn-website {
    background: #0074e5;
    color: #fff !important;
    font-weight: 600;
    border: 1px solid #0074e5;
    border-radius: 0;
}

.btn-lg, a.btn-lg {
    padding: 10px 25px !important;
    font-size: 14px;
}

a.btn-website:hover {
    background: #0261ca;
    border: 1px solid #0261ca;
}

.project_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
    text-transform: uppercase;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.unit_id {
    font-size: 16px;
}

.title-project i {
    position: absolute;
    left: 15px;
    top: 0px;
    background: #006ce3;
    color: #fff;
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 26px;
    border-radius: 4px;
}

.title-project {
    padding-left: 80px;
    padding-top: 3px;
    margin-top: -7px;
}

.unit-fix-list img {
    float: left;
    width: auto;
    height: auto;
    max-width: 50px !important;
    padding: 0;
}

.unit-fix-list .txt strong {
    display: block;
    width: 100%;
    line-height: 15px;
    font-size: 16px;
    padding-top: 5px;
}

.unit-fix-list .txt {
    float: left;
    text-align: center;
    margin-left: 8px;
}

.unit-fix-list .txt.txt2 {
    display: inherit;
}

@media (max-width: 992px) {
    .unit-fix-list li:first-child {
        width: 100% !important;
        display: block;
    }
}

@media (max-width: 1200px) {
    .unit-fix-list li {
        text-align: center;
    }

    .unit-fix-list li img {
        float: none;
    }

    .unit-fix-list li .txt {
        width: 100%;
        display: block;
        margin-left: 0px;
    }
}

.slice-list {
    height: 320px;
    background: #000;
}

.full-unit-right {
    font-size: 11px;
    color: #737373;
    text-align: right;
}

.full-unit-right > .detailpage_breadcrumb {
    padding-top: 5px;
}

.full-unit-right ul, .full-unit-right ol {
    padding: 0px;
    margin: 0px;
}

.full-unit-right a.btn-default {
    color: #555 !important;
}

.unit-fix-list {
    float: right;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.unit-fix-list li {
    list-style: none;
    display: inline;
}

.unit-fix-list li:first-child {
    float: left;
    width: 40%;
}

.unit-fix-list li {
    float: left;
    width: 18%;
}

.unit_price {
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
}

.sp {
    font-size: 16px;
    display: block;
    font-weight: 700
}

.guaranteed {
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: -1px;
}

.breadcrumb {
    background: #fff;
}

.breadcrumb > li + li::before {
    padding: 0 1px;
}

@media (max-width: 767px) {
    .ft-black, .ft-social {
        text-align: center;
    }

    .title h2 {
        font-size: 22px;
        text-transform: none;
    }

    .p-50-cont {
        padding: 10px 15px
    }

    .sub-title {
        padding-bottom: 0px;
    }
}

#owl-demo .item {
    margin: 3px;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

/* checking
vh vw ...
min-height: 75vh;
min-height: -webkit-calc(75vh);
min-height: calc(75vh);

/* flag */

.nohover .active a {
    color: #ffffff;
    background-color: #006ce3;
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    height: 50px !important;
    width: 50px;
    background: #fff;
    padding: 12px 0px 14px 0;
    border: 0;
    background: transparent;
    border-radius: 0;
    /*border-right: 1px solid #fff;*/
    padding-right: 15px;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
}

.navbar-header {
    position: relative
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

/*  Model home page */

.modal.modal-fullscreen .modal-dialog, .modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
}

.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
    background: #f8f8f8;
}

.modal.modal-fullscreen h4.modal-title {
    color: #fff;
    text-align: center;
}

.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 20px;
    margin-bottom: 80px;
    overflow: scroll
}

.close-open-nav {
    position: absolute;
    left: 0px;
    top: -50px;
    width: 40px;
    height: 40px;
    background: #000;
    z-index: 999;
}

.filter-group-unit .dropdown-toggle, .button-group label {
    width: 100%;
}

.modal.modal-fullscreen.force-fullscreen .modal-header, .modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: fixed;
    right: 0;
    bottom: 0px;
    background: #fff;
    border-top: 1px solid #ccc;
    width: 100%;
}

.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
    background-color: #006ce3;
    border-color: #4093ee;
    box-shadow: none;
    border-radius: 0;
    margin: 0px;
}

.modal.modal-fullscreen.force-fullscreen .modal-header .close {
    margin-top: 5px;
    color: #fff;
    opacity: 1;
    margin-right: 5px;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal-header {
    padding: 10px;
}

.modal-header .form-control {
    width: 90%;
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
}

.modal-header ::-webkit-input-placeholder {
    color: #fff;
}

.modal-header :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.modal-header ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}

.modal-header :-ms-input-placeholder {
    color: #fff;
}


.force-fullscreen-search .modal-content {
    background: #fff !important;
}

.force-fullscreen-search .tt-menu {
    position: absolute !important;
    right: 0 !important;
    left: 0px !important;
    z-index: 100 !important;
    top: 58px !important;
}

#modal_ads_popup .modal-content {
    background: #d0e4ff;
    position: relative;
}

.modal.modal-fullscreen .modal-dialog, .modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
}

.modal-backdrop {
}

.unit_detail_h2 {
    font-size: 22px;
    color: #333;
    padding: 15px 0;
    font-weight: 600;
}

.property-list {
    margin: 0;
    padding: 0;
}

.property-list li {
    width: 14.2%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
    text-align: center;
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    border-right: 1px dotted #ccc;
    margin-bottom: 15px;
}

.property-list li:last-child {
    border-right: 0px;
}

.property-list li img {
    width: 66px;
}

.property-list li h5 {
    color: #737376;
    font-weight: 700;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

@media (max-width: 992px) {
    .property-list li {
        width: 20%;
        border-right: 0px
    }

    .property-list li:last-child {
        border-right: 0px
    }
}

@media (max-width: 767px) {
    .property-list li {
        width: 25%;
        border: 0px;
    }
}

@media (max-width: 567px) {
    .property-list li {
        width: 33%;
        border: 0px;
    }
}

@media (max-width: 467px) {
    .property-list li {
        width: 25%;
        border: 0px;
    }

    .property-list li img {
        width: 50px;
    }

    .projectFeature {
        padding: 0;
    }

    .property-list li h5 {
        font-size: 11px;
    }

    .property-list li {
        font-size: 16px;
    }
}

.list_search-unit:first-child {
    border-top: 1px solid #eee
}

.list_search-unit {
    clear: both;
    font-size: 12px;
    transition: all 0.2s ease;
    position: relative;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    display: table
}

.list_search-unit .photo {
    width: 12%;
    float: left;
    overflow: hidden;
    display: block;
}

.list_search-unit .photo img {
    width: 100%;
}

.list_search-unit .description {
    float: left;
    width: 88%
}

.list_search-unit .data-list > div {
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 2px 5px;
    float: left;
    font-weight: 600;
    color: #808285;
    margin-bottom: 5px;
    background: #f7f7f7;
    border-radius: 10px;
}

.list_search-unit .hader_title {
    width: 30%;
    float: left;

    padding-top: 20px;
}

.list_search-unit .hader_title h1 {
    padding: 10px 0 5px 0;
    margin: 0px;
}

.list_search-unit .hader_title .location {
    display: block;
}

.list_search-unit h1 {
    margin-top: 7px;
    font-size: 18px;
}

.list_search-unit .data-list > div strong {
    color: #333;
}

.list_search-unit .data-list > div i {
    margin-right: 5px;
}

.list_search-unit .data-list {
    padding-top: 10px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-left: 15px;
    width: 55%;
    float: left;
    margin-top: 10px;
}

.list_search-unit .form-group {
    width: 15%;
    float: left;
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

.list_search-unit:hover {
    background: linear-gradient(rgb(249, 249, 249) 50%, rgb(233, 233, 233) 70%) rgb(249, 249, 249);
    -webkit-box-shadow: 4px 7px 35px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 4px 7px 35px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 4px 7px 35px 0px rgba(0, 0, 0, 0.29);
}

.list_search-unit .form-group .btn {
    font-size: 12px !important;
    padding: 5px 8px !important;
}

.unit-left h3 {
    font-size: 16px;
    font-weight: 600;
}

.price-01 {
    font-size: 20px !important;
    font-weight: 600;
}

.price-02 {
    font-size: 12px !important;
    font-weight: 600;
    font-style: normal !important;
    color: #444 !important
}

.basic-list {
    padding: 0;
}

.basic-list li {
    margin: 2px 0;
    list-style: none;
    padding: 0;
}

.features-list {
    padding: 0;
    margin: 0;
    display: table;
    width: 100%
}

.features-list li {
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectFeature .col-md-2 {
    min-height: 150px;
}

.projectFeature .active p {
    color: #3e334b;
    text-decoration: none;
}

.projectFeature img {
    margin: 0px 8px 5px 0;
    opacity: 0.4;
    width: 25px;
    filter: alpha(opacity=40);
}

.projectFeature {
    color: #CCC;
}

.projectFeature .active img {
    opacity: 1;
    filter: alpha(opacity=100);
}

.projectFeature .active {
    color: #333
}

.projectFeature li {
    line-height: 30px;
    padding-bottom: 5px;
}

.projectFeature p {
    text-transform: uppercase;
    color: #b3b7b7;
    text-decoration: line-through;
    font-size: 12px;
}

.unit-room {
    position: absolute;
    right: 15px;
    top: 35px;
}

.unit-room .btn-default {
    border: #eee 1px solid;
    padding: 5px 8px;
}

.unit-room .btn-default.active {
    border: 1px solid #006ce3
}

.list-feature {
    margin: 25px 0 15px 0;
    padding: 0px;
    text-align: center;
}

.list-feature img {
    width: 30px;
}

.list-feature span {
    display: block;
    text-align: center;
    padding: 10px 0 15px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}

.profile {
    width: 32%;
    height: auto;
    float: left;
}

.profile img {
    width: 100%;
}

.data-profile {
    width: 70%;
    float: left;
}

.dealer-top .logo {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
}

.profile img {
    width: 100%;
}

.get-information {
    padding: 0;
    position: relative;
    margin-top: 30px;
}

.get-information:hover {
    -webkit-box-shadow: 0px 7px 21px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 7px 21px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 7px 21px -9px rgba(0, 0, 0, 0.3);
}

.get-information .agent {
    border: 1px solid #eee;
    display: table;
    width: 100%
}

.get-information .agent img {
    width: 80px !important;
    float: left;
    margin-right: 20px;
    padding: 1px;
}

.get-information .agent label {
    font-size: 14px;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 500;
    margin-bottom: 0px;
    color: #878383;
    font-style: italic;
    padding-left: 100px;
}

.get-information .agent i {
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-right: 1px solid #ccc;
    color: #878383;
    font-size: 12px;
    margin-right: 3px;
}

.block-project {
    margin: 35px 15px 15px 15px;
    border: 1px solid #eee;
    padding: 20px 20px 20px 20px;
    background: rgb(249, 249, 249)
}

.block-project h2 {
    font-size: 22px;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #eee;
}

.get-information .agent h3 {
    font-size: 18px;
    color: #333;
    font-style: italic;
    font-weight: 600;
    padding: 15px 0 0 0;
    margin: 0;
    margin-bottom: 10px;
}

.get-information .agent i.fa-mobile {
    font-size: 16px;
}

.get-information h2 {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background: #006ce3;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 0;
}

.get-information .form-group {
    position: relative
}

.get-information .form-group .form-control {
    text-indent: 40px;
    border: 2px solid #e3e3e3;
    border-radius: 0px;
}

.get-information .form-group .form-control2 {
    text-indent: 0;
}

.get-information .form-group i {
    position: absolute;
    left: 5px;
    top: 30px;
    color: #ccc;
    width: 34px;
    text-align: center;
    height: 23px;
    line-height: 23px;
    border-right: 1px solid #e3e3e3;
}

.get-information label {
    font-size: 14px;
    color: #333
}

.get-information .btn {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(137, 135, 135, 0.2);
    border-radius: 0px;
    background-color: rgb(240, 71, 10);
    color: #fff;
    font-weight: bold;
}

.get-information form {
    padding: 15px;
    border: 1px solid #eee
}

.features-list li {
    list-style: none;
}


.offering-nav {
    border-bottom: 0px;
}

.offering-nav li {
    float: none;
    display: inline-block;
}

.bed_tab.active, .bed_tab.active:hover {
    background: #006ce3;
    color: #fff;
}

.table-scoll {
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 30px;
}


.btn-project {
    background: #f5f5f5;
    text-align: center;
    border-radius: 3px;
    float: left;
    font-size: 12px;
    width: 100%;
    border: 1px solid #fff;
    margin-bottom: 13px;
}

.btn-project > div {
    position: relative;
    width: 33.333333% !important;
    float: left;
    font-size: 12px;
    padding: 2px 0px !important;
}

.btn-project > div i {
    height: 27px;
    padding-right: 3px;
    padding-top: 8px;
    font-size: 14px;
}

.btn-project > div.last {
    border: none;
}

.black-bg .btn-project {
    position: absolute;
    bottom: -14px;
    right: 2px;
    width: 40%;
    background: none;
    border: none;
}

.black-bg .btn-project div {
    width: 45%;
}

.black-bg .btn-project div i {
    width: 100%;
    font-size: 18px
}

.black-bg .btn-project div.last {
    border: none;
    width: 100%;
    text-align: center !important;
    padding-top: 15px;
    margin-top: 8px;
    line-height: 18px;
}

@media (min-width: 769px) and (max-width: 1025px) {
    .black-bg .btn-project {
        width: 35%;
        bottom: -18px;
    }

    .black-bg .btn-project div {
        width: 50% !important;
        padding: 0px !important;
        height: 20px !important;
        overflow: hidden;
    }

    .black-bg .btn-project div.last {
        width: 100% !important;
        margin-top: 0px;
    }

    .black-bg .btn-project div i {
        width: auto;
        font-size: 14px;
        padding-top: 0px;
    }

    .bt-detail.black-bg .listTotalPrice {
        font-size: 20px
    }

    .bt-detail.black-bg .listtxt {
        font-size: 12px;
    }
}


.list-group-website .list-group-item:hover, .list-group-website .list-group-item:hover span.kilo {
    background: #006ce3;
    color: #fff;
}

.list-group-item span.kilo {
    font-size: 12px;
    font-style: italic;
    color: #7f7f86;
    display: block;
}

.list-group-item {
    position: relative;
}

.list-group-item .glyphicon-chevron-right {
    position: absolute;
    right: 15px;
    top: 22px
}

.tab_nav_footer_con .tab-content ul {
    list-style: none;
    padding: 20px 0 0px 0;
    margin: 0px;
}

.tab_nav_footer_con .tab-content ul li {
    display: inline;
    list-style: none;
    width: 20%;
    float: left;
    padding: 0px 0 15px 15px;
}

.tab_nav_footer_con .tab-content ul li a {
}

.tab_nav_footer_con .tab-content ul li span {
    display: block;
    color: #a6a6a6;
}

.tab_nav_footer_con .nav-tabs li a {
    border: none;
    border-radius: 0;
    padding: 5px 18px;
    font-weight: 700;
    border: 1px solid #ddd;
    font-size: 16px;
    border-bottom: none;
    text-transform: uppercase;
    color: #7d7d7d;
}

.tab_nav_footer_con .nav-tabs li.active a {
    background: #006ce3;
    border: 1px solid #006ce3;
    color: #fff;
    border-bottom: none;
}

.tab_nav_footer_con .nav-tabs {
    padding-bottom: 1px;
}

.tab_nav_footer_con .tab-content .tab-pane a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

#chart {
    width: 100%;
    height: 400px;
}

.description p {
    color: #878383;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block_location_matrix {
    max-height: 400px;
    overflow-y: scroll
}

@media (max-width: 767px) {
    .tab_nav_footer_con .tab-content ul li {
        width: 50%;
        padding-left: 0px;
    }

    .tab_nav_footer_con .nav-tabs li a {
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
    }

    .offering-nav li a {
        padding: 10px 20px !important;
        font-size: 14px;
    }

    .offering-nav > .active a::after {
        bottom: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #006ce3;
    }

    .unit-fix-footer, .full-unit-right {
        text-align: center;
    }

    .unit-fix-footer ul {
        line-height: normal;
    }

    .list-btn {
        position: absolute;
        right: 15px;
        bottom: -100px;
    }
}

.fixed {
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 999;
}

.fixed .unit-fix-footer {
    padding: 0px;
}

.fixed .detailpage_breadcrumb {
    display: none;
}

.unit-fix-details.fixed {
    -webkit-box-shadow: 3px -6px 10px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px -6px 10px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 3px -6px 10px 4px rgba(0, 0, 0, 0.75);
    margin-top: 0px;
    z-index: 9999;
    padding-bottom: 0px !important;
}

.unit-fix-details.fixed .full-unit-right ul {
    padding-top: 6px;
}

@media (max-width: 1200px) {
    .fixed .unit-fix-list img {
        width: 40px;
        margin-top: -10px;
    }
}

@media (max-width: 767px) {
    .unit-fix-details.fixed {
        padding-bottom: 15px;
    }

    .unit-fix-details.fixed .list-btn {
        position: relative;
        top: 3px;
    }

    .unit-fix-details.fixed .full-unit-right ul {
        margin-top: -7px;
        padding-bottom: 10px;
        width: 100%;
    }

    .unit-fix-details.fixed {
        padding-top: 15px;
    }

    .fixed .full-unit-right {
        display: none;
    }

    .fixed .list-btn {
        right: 0px;
    }

    .fixed .project_title {
        font-size: 16px;
    }

    .project_title {
        font-size: 18px;
    }

    .title-project i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .fixed .unit-fix-footer {
        margin-top: 05px;
    }

    .unit_id {
        font-size: 16px;
    }

    .fixed .unit_id {
        font-size: 12px;
    }

    .title-project {
        padding-left: 65px
    }
}

@media (max-width: 992px) {
    .block_project_highlights {
        width: 30%
    }
}

.flax {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

#main_block_project, .flax {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

#main_block_project > div {
    margin-bottom: 15px;
}

#main_block_project div.in {
    text-align: center;
    font-size: 14px;
    background: #006ce3;
    color: #fff;
    padding: 15px 0 45px 0;
    position: relative;
    height: 100%;
}

#main_block_project div.in div {
    position: absolute;
    width: 100%;
    background: #fff;
    bottom: 0px;
    left: 0px;
    color: #555;
    padding: 5px;
    border: 2px solid #1f7be1;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

#main_block_project h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
}

#main_block_project, #main_block_project2, #flex {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

#main_block_project2 > div {
    margin-bottom: 15px;
}

#main_block_project2 div.in {
    text-align: center;
    font-size: 14px;
    padding: 55px 0 15px 0;
    position: relative;
    height: 100%;
    border: 2px solid #e1ecf8;
    background: #f1f5f9;
}

#main_block_project2 div.in div {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0px;
    color: #878383;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600
}

#main_block_project2 h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    color: #423e3e;
}

#main_block_project2 h2 i {
    font-size: 26px;
    margin-right: 5px;
}

.fa-long-arrow-down {
    color: #f64b4b
}

.fa-long-arrow-up {
    color: #90ed7d
}

.title_li {
    margin-top: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
    padding-left: 15px;
}

.white_bg {
    padding-top: 0px;
    padding-left: 0px;
}

.title_li ul {
    padding: 0px;
    background: #eee;
    padding-top: 130px;
}

.title_li li {
    list-style: none;
    background: #006ce3;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px 10px
}

.title_li li:last-child {
    background: #fff;
    border-right: 1px solid #ccc;
    height: 45px;
}

.owl-projects .item {
    border-right: 1px solid #ccc;
    margin-right: 1px;
}

.white_bg ul {
    padding-top: 0px;
    padding-bottom: 0px;
}

.white_bg li {
    padding: 5px;
    background: #fff;
    color: #555;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.white_bg li:nth-child(even) {
    background-color: #f2f2f2
}

.title_li li:first-child {
    border-top: 1px solid #eeeeee;
}

.white_bg li:first-child {
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

.owl-projects .owl-item {
    padding: 0px;
}

.glyphicon-remove {
    color: #f64b4b;
}

.glyphicon-ok {
    color: #90ed7d;
}

@media (max-width: 1200px) {
    .title_li ul {
        padding-top: 98px
    }

    .white_bg ul {
        padding-top: 0px;
    }
}

@media (max-width: 992px) {
    .title_li ul {
        padding-top: 124px
    }

    .white_bg ul {
        padding-top: 0px;
    }
}

@media (max-width: 767px) {
    .title_li ul {
        padding-top: 187px
    }

    .white_bg ul {
        padding-top: 0px;
    }

    .title_li ul img {
        height: 177px;
    }

    .projectFeature {
        border: none;
    }
}

.block_100 {
    width: 100%;
    overflow: hidden;
}

.bannerroom {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.bannerroom .left_block {
    background: #006ce3;
    color: #fff;
    padding: 10px 15px;
}

.bannerroom .right_block {
    padding: 10px 15px;
}

.bannerroom .right_block a {
    color: #555
}

.bannerroom .right_block .col-sm-3 {
    border-right: 1px dotted #ccc;
    line-height: 18px;
}

.bannerroom .right_block img {
    float: left;
    width: 48px;
    margin-right: 10px;
    margin-left: 8px;
}

.bannerroom .left_block .txt {
    float: right;
}

@media (max-width: 1200px) {
    .bannerroom .right_block .col-sm-3 div {
        width: 100%;
        float: left;
    }

    .bannerroom .right_block .col-sm-3 {
        text-align: center;
        line-height: 15px;
    }

    .bannerroom .right_block .col-sm-3 img {
        float: inherit;
        width: 35px;
        margin-bottom: 3px;
    }
}

@media (max-width: 992px) {
    .bannerroom .left_block .txt {
        float: right;
        text-align: center;
        width: 100% !important
    }

    .bannerroom .left_block {
        display: block;
        z-index: 999;
    }
}

@media (max-width: 767px) {
    .bannerroom .right_block .col-sm-3 div {
        width: 100%;
    }

    .bannerroom .right_block .col-sm-3 {
        text-align: center;
        line-height: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .bannerroom .right_block .col-sm-3 img {
        float: inherit;
        width: 35px;
        margin-bottom: 3px;
    }

    .left_block {
        min-height: 60px;
    }

    .bannerroom .left_block .txt {
        float: inherit;
    }
}

.top-project .col-md-4 {
    position: relative;
}

.top-project img {
    width: 100%
}

.top-project h2 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    margin: 0px 0px 5px 0px;
}

.top-project h2 a {
    color: #fff;
}

.top-project .lc {
    font-size: 14px;
}

.main_title {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 15px;
    color: #fff;
}

.img_block {
    position: relative;
    border-bottom: 1px solid #ccc;
    clear: both;
    overflow: hidden;
}

.main_title {
    padding: 10px 15px;
}

.img_block img {
    width: 100%
}

.top-project .block-3-list li {
    font-size: 12px;
    padding-left: 5px;
    font-weight: 700;
    padding: 4px 2px 4px 5px;
}

.top-project .col-md-4 {
    margin-top: 25px;
}

.detail-block .data {
    padding: 10px 15px 15px 15px;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #555555;
    height: 160px;
    overflow-y: auto;
    background: #fff;
    border-top: none;
}

.detail-block-footer {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-top: none;
}

.detail-block-footer .btn {
    text-transform: none;
    font-size: 13px !important;
}

.detail-block-footer .btn:hover {
    text-transform: none;
    font-size: 13px !important;
}

.btn-info {
    color: #fff !important;
}

.blue-bg {
    background: #006ce3;
    color: #fff;
    padding: 40px 0 60px 0;
    margin: 50px 0;
}

.blue-bg p {
    color: #fff;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 25px;
}

.blue-bg .btn {
    text-transform: none;
    padding: 10px 25px;
    background: #f0470a;
    color: #fff;
}

.blue-bg .btn:hover {
    background: #fff !important;
    color: #f0470a !important;
}

.media-website {
    margin-top: 15px !important;
    border-radius: 0px !important;
}

.media-website h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}

.media-website .media-left span {
    border-radius: 0px;
    font-size: 40px;
    color: #ccc;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 80px;
}

.block_f1 {
    clear: both;
    padding: 10px 20px 10px 20px;
}

.media-website > div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background: #fbf9f9;
    font-size: 13px;
    font-weight: 700;
}

.data-project {
    border: 1px solid #ccc;
    padding: 15px;
    border-top: 0px;
    margin-bottom: 20px;
}

.data-project h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-project ul {
    padding: 0px;
}

.data-project ul li {
    list-style: none;
}

.data-project hr {
    padding: 5px;
    margin: 0px;
}

.data-project btn {
    text-transform: none;
}

.dealText {
    position: absolute;
    top: 0px;
    left: -5px;
    color: #fff;
    padding: 10px;
    width: 100%;
    clear: both;
    display: block;
    height: 100px;
    overflow: hidden;
    position: absolute;
    width: 100px;
    z-index: 3;
    padding-top: 25px;
    text-align: center;
}

.dealText span {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    left: -14px;
    width: 100px;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 15px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.dealText em {
    background: #ff5a5f;
    height: 150px;
    left: -75px;
    position: absolute;
    top: -85px;
    width: 150px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.slice-landing_page {
    padding: 60px 15px;
    width: 100%;
    margin-top: 50px;
    background: url(../images/bg_landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative
}

.search_landing_page {
    background: #fff;
    padding: 25px;
    border: 1px solid #c9c8da;
    border-bottom: 3px solid #c9c8da;
}

.search_landing_page h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px 0px 5px 0px;
}


/******************************************unit search***************************************/
.nav-sub {
    background: #e2effc;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: 9;
    left: 0px;
}

.map-off .map_block_right .title {
    margin-top: 50px;
}

.map-off .map_block_right .title h2 {
    background: none;
    border-bottom: 1px solid #eee
}

.map-off .main-list-search {
    top: 150px;
    position: static;
}

.map-off .site-map {
    display: none;
}

.map-off .nav-sub {
    position: static;
    width: 100%;
    background: none;
    margin-top: 50px;
    display: table;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}


.map-off .col2_nav li {
    width: 50% !important;
    float: left;
}

.map-off .map_block_right .showResult {
    background: #f5f5f5
}

.map-off .nav-search-main li {
    display: block;
    width: 100%;
    border: none;
}

.map-off .nav-search-main li {
    width: 100%;
}

.map-off .nav-search-main li a {
    font-weight: 600;
    text-transform: none;
    font-size: 14px;
}


.list_search {
    border: 1px solid #fff;
}

.map-off .main-list-search .list_search.active:first-child {
    border-top: 1px solid #eee;
    margin-top: 10px;
}

.list_search.active_show {
    margin: 10px 10px 0 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.map-off .nav-search-main .price_list {
}

.map-off .nav-search-main .price_list a {
    padding: 0px;
    margin: 0;
    font-weight: normal;
    font-size: 13px;
    border: none;
    line-height: 20px;
}

.map-off .property-nav-dropdown li {
    padding: 2px 0;
}

.map-off .nav-search-main > li:last-child input {
    margin: 5px 0;
}

.map-off .main-list-search {
    overflow: visible;
}

.map-off .nav-search-main > li:last-child {
    position: static
}

.map-off #map {
    display: none;
}

.map-off .nav-search .navbar-header {
    width: 100%
}

.map_block {
    height: 100vh;
    width: 100%;
    position: relative;
}

.map_block_left {
    padding: 0px;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
    width: calc(100vw - 740px);
}

.map_block_right {
    padding: 0px;
    height: 100vh;
    float: right;
    position: relative;
    z-index: 0;
    width: 740px;
    position: absolute;
    right: 0;
    top: 0;
}

.map-off .map_block {
    height: auto;
    margin-top: 20px;
}

.map-off .map_block_left {
    width: 30% !important;
    z-index: 9;
    background: url(../images/bg-left-map-off.jpg) no-repeat right 70px;
}

.map-off .map_block_right {
    width: 70% !important;
    z-index: 99;
}

.map-off .map_block_right .nav-sub {
    width: 100% !important;
}

.map-off #map_on_off {
    right: 0px;
}

#map_on_off {
    position: absolute;
    right: 10px;
    top: 13px;
}

.map-off .list_footer {
    background: none;
    padding-bottom: 40px;
    border-top: 1px solid #eee;
}

.map-off .footer-s {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    z-index: 999
}

.nav-search .navbar-header .glyphicon-search {
    position: absolute;
    right: 22px;
    top: 17px;
    font-size: 18px;
    color: #006ce3
}

.sign-in-block, .sign-up-block {
    display: none;
}

.sign-in-block.active, .sign-up-block.active {
    display: block;
}

@media (max-width: 767px) {
    .map-off #map_on_off {
        right: 10px;
    }

    .map-off .map_block_right, .map_block_right {
        width: 100% !important;
    }

    .map-off .map_block_right, .map-off .map_block_right .title {
        padding-top: 17px;
    }

    .map-off .wapper {
        padding: 0px !important
    }

    .map-off .nav-sub {
        position: absolute;
        display: none;
    }

    .map-off .footer-s {
        position: static;
    }

    .list_footer {
        padding: 15px !important;
    }

    .map-off .map_block_left {
        height: auto;
    }

    .map-off .map_block_left {
        width: auto;
        z-index: 99;
    }

    .map-off .nav-sub {
        background: #f8f8f8 !important;
        display: none;
        height: 100% !important;
        width: 100% !important;
        position: fixed !important;
        left: 0;
        top: 0px;
        bottom: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px 15px 15px 15px;
        z-index: 99999999;
        padding-bottom: 0px !important;
    }

    .map-off .map_block_left {
        z-index: 9999
    }

    .map-off .map_block_left {
        height: max-content;
    }
}

#map {
    position: absolute;
    left: 0px;
    top: 100px;
    bottom: 0;
    right: 0;
}

.map_block_right .title {
    position: relative;
    margin-top: 100px;
    width: 100%
}

.map_block_right .title h2 {
    font-size: 24px;
    font-weight: bold;
    background: #f5f5f5;
    color: #111a2b;
    padding: 15px;
    margin: 0px;
    font-weight: 600
}

.map_block_right .showResult {
    padding: 8px 15px 5px 15px;
    z-index: 999;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.map_block_right .showResult .show_num {
    width: 230px;
    float: left;
    margin-left: 15px;
}

.map_block_right .showResult .hide_simila {
    width: 200px;
    float: left;
}

.map_block_right .showResult .select_mode {
    width: auto;
    float: right;
    margin-right: 15px;
    font-weight: 600;
    margin-top: -3px;
}

.map_block_right .showResult .select_mode span {
    margin-left: 10px;
    cursor: pointer;
}

.map_block_right .showResult .select_mode span.active {
    border-bottom: 3px solid #006ce3;
}

.map_block_right .showResult i {
    color: #006ce3
}

.cut-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-list {
    clear: both;
    display: table;
    border-top: 1px solid #e2effc;
}

.map_block_right .footer-list h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-list img {
    height: auto;
    min-height: inherit;
    width: 100%
}


.owl-projects-list .owl-item {
    padding: 0px;
}

.block-unit-list {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 15px;
    top: 500px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.price_list.min, .price_list.max {
    display: none !important;
}

.price_list.min.active, .price_list.max.active {
    display: block !important;
}

@media (max-width: 769px) {
    .nav > li > a {
        padding: 15px 8px 15px 8px;

    }

    .map_block_right .title {
        margin-top: 0;
    }

    .nav-search-main > li > a {
        padding: 15px 30px 14px 10px
    }

    .map_block_left {
        width: 100%;
        float: left;
        height: 460px;
        position: relative;
    }

    .map-off .map_block_left {
        height: auto;
    }

    .map_block_right {
        width: 100%;
        float: right;
        position: relative;
    }

    .select_mode {
        display: none;
    }
}

@media (max-width: 560px) {
    .map_block_right {
        clear: both
    }

    .nav > li > a {
        padding: 12px 15px 12px 25px;
    }
}

.video-gallery a div::before {
    content: "\e029";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    left: 0px;
    right: 0;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.15);
    padding-top: 27%;
    bottom: 0;
    font-size: 48px;
    color: #fff;
    z-index: 9;
    transition: all 0.2s ease;
}

.video-gallery a div::before:hover {
}

.nav-footer li {
}

.nav-footer li::before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 5px;
}

.nav-footer li::before {
    display: none;
}

.video-gallery a div:hover::before {
    font-size: 70px;
    padding-top: 23%;
}


.lg-sub-html {
    background: #0060ca !important;
}

.lg-outer .lg-thumb-item {
    border-radius: 2px !important;
    border: 2px solid rgba(255, 255, 255, 0.75) !important;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    border-color: #006ce3 !important;
}

.lg-outer .lg-toogle-thumb {
    background-color: rgba(0, 0, 0, 0) !important;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 60px !important;
}

.lg-sub-html h4 {
    font-size: 21px !important;
    font-weight: 400 !important;
}

.search_page_breadcrumbs {
    position: absolute;
    right: -10px;
    z-index: 2;
    top: 90px;
    display: block;
    background: #fff;
    width: 100%
}


.site-map ul > li {
    text-align: left;
    padding: 10px 5px;
    display: inline-block;
}

.site-map {
    color: #000000;
    font-size: 10px;
    line-height: 1.2;
}

.slick-slide {
    margin: 0px 2px;
}

.photo-item img {
    width: 100%;
}

.slick-prev:before, .slick-next:before {
    color: #fff;
}

.slick-slide .first {
    width: 202% !important;
    z-index: 999;
    position: relative;
}

.avilable-Enquiry-pop .modal-header {
    padding: 10px 20px;
    background: #1f7be1;
    color: #fff;
}

.avilable-Enquiry-pop .modal-header .close {
    margin-top: 3px;
    color: #fff;
    opacity: 1;
}

.whyfazwaz {
    padding-bottom: 35px;
    padding-top: 20px;
}

.whyfazwaz p {
    font-size: 15px;
    line-height: 1.67;
    color: #7c8690;
    font-weight: 600;
}

.sorter-main {
    position: relative;
}

.sorter-main span:hover .sorter {
    display: block;
}

.sorter {
    position: absolute;
    left: 100px;
    padding-left: 0px;
    width: 180px;
    display: none;
    border: 1px solid #ddd;
}

.sorter li {
    list-style: none;
    display: block;
    background: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    clear: both;
}

.sorter li span.active {
    background: #0074e5;
    color: #fff;
}

.sorter li span {
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    padding: 5px 0;
}

.sorter li:first-child {
    padding: 0px;
}

.sorter li .row {
    margin: 0px;
}


/* */
.mobilefixed.fixtop {
    position: fixed;
    top: 40px;
    z-index: 999;
    background: #fff;
    left: 0;
    right: 0;
    -webkit-box-shadow: 2px 4px 30px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 30px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 30px -12px rgba(0, 0, 0, 0.75);
}

.slick-prev {
    background: #000;
}

.slick-prev:before, .slick-next::before {
    content: none !important;
}

.photo-item i {
    opacity: 0;
}

.slick-slide > div {
    position: relative;
    bottom: 0px !important;
    margin-bottom: 0px !important;
}

.slick-slide > div img {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.slick-slide i {
    font-size: 12px;
    color: #fff;
    background: #393939;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: all 0.3s ease;
}

/**************************login************************/
.btn-google {
    position: relative;
    border: 1px solid #df4a32;
    color: #fff;
    background: #df4a32;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.btn-facebook {
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
}

.btn-google:hover, .btn-facebook:hover {
    color: #fff;
}

.icon-container i {
    font-size: 22px;
    width: 35px;
    float: left;
}

.or {
    border-bottom: 1px solid #ccc;
    height: 20px;
    margin-bottom: 25px;
    margin-bottom: 10px;
    position: relative;
    clear: both;
    text-align: center;
}

.or span {
    margin-top: 2px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    background: #eee;
}

.signup-or-separator {
    padding-top: 10px;
    clear: both;
    display: block;
}

.signup-or-separator--text {
    font-weight: 500;
    color: #565a5c;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding: 0px 15px 8px 15px;
    border-radius: 4px;
}

.reg-body .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.help-block {
    font-size: 12px;
    color: #a94442;
}

#registrationForm hr {
    margin: 10px 0 !important;
    clear: both;
}

#registrationForm .form-control {
    margin-bottom: 10px;
}

#login-btn {
    margin-top: 15px;
    clear: both;
}

.signup_span {
    color: #006ce3;
    cursor: pointer;
}

.field-loginform-rememberme label {
    padding: 0 0 15px 0;
}

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    color: #fff !important;
    background-color: #0074e5 !important;
    border-color: #0074e5 !important;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0;
    border-left-width: 0;
    vertical-align: middle;
    text-align: center;
}

.no-footer {
    border-bottom-color: #ccc !important
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #ccc !important
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-bottom: 1px solid #ccc !important
}

table.display {
    border-right: none;
}

.owl-item .pic {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative
}

.owl-item div.pic img {
    transition: all 0.4s ease;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    overflow: hidden;
}

.owl-item:hover div.pic img {
    z-index: 2;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.item {
    overflow: hidden;
}

.item .favourite {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    z-index: 99;
    color: #fff;
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.favourite .fa-heart {
    color: #C30;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.item .favourite:hover {
    font-size: 32px
}

.item:hover .block-hot-regions_data .title {
    background: #006ce3;
    color: #fff;
    border: 1px solid #006ce3;
    border-top: none;
}

.item:hover .block-hot-regions_data .title h2, .item:hover .block-hot-regions_data .title h3 {
    color: #fff;
}

.block-hot-regions_data {
    background: #fff;
    position: relative;
    z-index: 99;
    border-top: none
}

.block-hot-regions_data > div > div {
    border: 1px solid #ddd;
    border-top: none;
}

.block-hot-regions_data > div > div.line {
    border-right: none;
}

.block-hot-regions_data h2 {
    color: #333;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    font-size: 22px;
    padding-bottom: 0px;
}

.block-hot-regions_data h3 {
    color: #333;
    transition: all 0.3s ease;
    padding: 0;
    margin: 0;
    font-size: 20px;
    padding-bottom: 10px;
}

.block-hot-regions_data span {
    padding: 10px;
    display: block;
}

.block-hot-regions_data .title, .block-hot-regions_data i {
    font-size: 13px;
    margin: 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    transition: all 0.3s ease;
}

.block-detail-property {
    text-align: left;
    background: #fff;
    z-index: 9;
    clear: both;
    position: relative;
    padding: 0px 0 0px 0;
    border: 1px solid #ddd;
    border-top: none;
}

.block-detail-property h1 {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    margin: 0 0 0px 0;
    /* border-bottom: 1px solid #ddd; */
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
    position: absolute;
    top: -41px;
    width: 101%;
    left: -1px;
    background-color: rgba(255, 255, 255, 0.7)
}

.block-detail-property h1 a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
}

.block-detail-property h1 a {
    color: #333;
}

.block-detail-property span.txt {
    display: block;
    font-size: 12px;
}

.block-detail-property span.txt-14 {
    display: block;
    font-size: 14px;
}

.block-detail-property span.active {
    color: #ccc
}

.block-detail-property span.start {
    font-size: 16px;
}

.block-detail-property .data {
    padding: 15px;
    position: relative;
}

.block-detail-property .data .fa-angle-double-right {
    color: #fff;
    position: absolute;
    right: 15px;
    font-size: 34px;
    top: 25%;
    z-index: 99
}

.block-detail-property ul {
    padding: 0px;
    margin: 0px;
    display: table;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
    font-weight: 700;
    color: #555;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    background: linear-gradient(rgb(249, 249, 249) 5%, rgb(233, 233, 233) 100%) rgb(249, 249, 249);
    cursor: pointer;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    transition: all 0.1s ease;

}

.block-detail-property .btn-block {
    border-top: 1px solid #ddd;
}

.block-detail-property ul li {
    list-style: none;
    display: block;
    width: 33.333333333%;
    float: left;
    border-right: 1px solid #ddd;
    padding: 5px 0;
    font-size: 13px;

}

.block-detail-property ul li:last-child {
    border: none;
}

.block-detail-property ul li i {
    font-size: 16px;
}

.block-detail-property ul li i.fa-clone {
    font-size: 14px;
}

.item:hover .block-detail-property h1 {
    background-color: rgba(0, 108, 227, 0.7);
    color: #fff;
}

.item:hover .block-detail-property h1 a {
    color: #fff
}

.item:hover .block-detail-property .data .fa-angle-double-right {
    color: #ccc;
}

.block-width-100 {
    background: #006ce3;
    padding: 15px 0 25px 0;
    margin: 0;
}

.show_m {
    display: none;
}

.title_li_list {
    display: block;
    font-size: 12px;
}

.title_li_list i {
    font-size: 16px !important;
}

.title_li_list i.fa-clone {
    font-size: 14px !important;
}

.block-width-100 h2 {
    color: #fff;
    margin-top: 5px;
}

.block-width-100 p.sub-title {
    color: #fff;
}

.block-width-100 .block-detail-property {
    border: none;
}

.block-width-100 ul.block-detail-property {
    border-top: 1px solid #ccc;
}

.block-width-100 .item:hover .block-detail-property h1 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.block-width-100 .block-detail-property .data {
    border-bottom: 0px;
}

.block-width-100 .block-detail-property .data .fa-angle-double-right {
    top: 30%
}

.block-width-100 .owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    background: none;
}

#buy:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    left: 25%;
    top: 65px;
}

#rent:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #fff;
    right: 25%;
    top: 65px;
}

#buy:before, #rent:before {
    display: none;
}

.navbar-left {
    margin-left: 10px;
}

.fa-sale {
    width: 20px;
    height: 20px;
    background: url(../images/sale.png);
}

/********************************page search unit, project**********************************/
.main-list-search {
    position: absolute;
    width: 100%;
    top: 190px;
    overflow: auto;
    overflow-x: hidden;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.list_search {
    display: table;
    margin: 10px;
    font-size: 12px;
    transition: all 0.2s ease;
    position: relative;
}

.list_search:hover {
    -webkit-box-shadow: 4px 7px 35px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 4px 7px 35px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 4px 7px 35px 0px rgba(0, 0, 0, 0.29);
}

.main-list-search .list_search.active:first-child {
    border-top: 1px solid #eee;
    margin-top: 10px;
}

.list_search:hover {
    background: linear-gradient(rgb(249, 249, 249) 50%, rgb(233, 233, 233) 70%) rgb(249, 249, 249);
}

.list_search > .slide_search {
    width: 40%;
    float: left;
    position: relative;
}

.list_search > .slide_search img {
    width: 100%
}

.list_search > .description_search {
    width: 60%;
    padding: 5px 15px;
    float: left
}

.list_search .form-group {
    margin-bottom: 10px;
}

.list_search h1 {
    font-size: 20px;
    padding: 0;
    margin: 10px 0 2px 0;
}

.list_search h1 a {
    color: #333;
    transition: all 0s ease;
}

.list_search .location {
    font-size: 13px;
    font-weight: 600;
    display: block;
    color: #337ab7;
    margin-bottom: 10px;
}

.list_search .data-list {
    display: table;
}

.list_search .data-list > div {
    border: 1px solid #ddd;
    margin-right: 5px;
    padding: 2px 5px;
    float: left;
    font-weight: 600;
    color: #808285;
    margin-bottom: 5px;
    background: #f7f7f7;
    border-radius: 10px;
}

.list_search div.plus {
    cursor: pointer;
    background: none !important;
    border: none !important;
    color: #337ab7 !important;
}

.list_search:hover .data-list > div {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 2px 2px 2px -2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: inset 2px 2px 2px -2px rgba(0, 0, 0, 0.59);
    box-shadow: inset 2px 2px 2px -2px rgba(0, 0, 0, 0.59);
}

.list_search .data-list > div strong {
    color: #333;
}

.list_search .btn {
    font-size: 12px;
}

.list_search .more-des {
    position: absolute;
    bottom: 5px;
    text-align: right;
    padding: 5px;
    right: 5px
}

.list_search .btn {
    margin-top: 11px;
    transition: all 0s ease;
}

.list_search .fa-info-circle {
    color: #fff;
    position: absolute;
    right: 10px;
    font-size: 16px;
    top: 10px;
}

.list_search .reduced {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(255, 0, 0, 0.5);
    color: #fff;
    padding: 0 5px;
    opacity: 0;
    border-radius: 4px;
    transition: all 0.9s ease;
}

.list_search:hover .reduced {
    opacity: 1;
}

.list_search .promotion span {
    color: rgb(240, 71, 10);
    font-size: 13px;
    font-weight: 600
}

.list_search .more-des > div {
    background: #000;
    color: #f7f7f7;
    padding: 2px 7px;
    float: left;
    font-size: 16px;
    border-radius: 2px;
}

.list_search .start {
    font-size: 20px;
}

.list_search .start strong {
    color: #EE595D
}

.list_search .n-photo {
    display: none;
}

.list_search.active .n-photo {
    display: block;
}

.list_search.active .description_search {
    width: 100%
}

.list_search.active .photo {
    display: none;
}

.list_search.active .hader_title {
    width: 37%;
    float: left;
}

.list_search.active .data-list {
    width: 45%;
    float: left;
}

.list_search.active .form-group {
    width: 18%;
    float: left;
    text-align: right;
    margin-bottom: 0;
}

.list_search.active .data-list {
    padding-top: 10px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding-left: 15px;
}

.list_search.active .n-table {
    display: none;
}

.list_search.active {
    border: 1px solid #eee;
    margin: 0px 10px;
    border-top: none;
}

.list_search.active .status-project {
    display: none;
}

.list_search.active a.btn-website {
    border: none;
    background: none;
    padding: 0;
    color: #488BF8 !important;
    text-align: center;
    margin: 5px 14px
}

.list_search.active h1 {
    margin-top: 7px;
    font-size: 18px;
}

.list_search.active .location {
    font-size: 12px;
    margin-bottom: 0;
}

.list_search.active .type {
    font-size: 12px;
    padding-bottom: 2px;
    margin-bottom: 0;
    color: #666;
    font-weight: 600
}

@media (max-width: 769px) {
    .main-list-search {
        position: static;
    }

    .list_search > .slide_search {
        width: 45%;
    }

    .list_search > .description_search {
        width: 55%;
    }
}

@media (max-width: 540px) {
    .list_search > .slide_search {
        width: 100%;
    }

    .list_search > .description_search {
        width: 100%;
        display: none;
    }
}

/*******************************checkbox****************************/
.checkbox {
    padding-left: 20px;
    margin: 0;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    font-weight: 700;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #006ce3;
    border-color: #006ce3;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.radio {
    padding-left: 20px;
    margin: 0px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

/***********map off mobile*************/
@media (max-width: 767px) {
    #map {
        top: 50px;
    }

    .nav-search-main .col2_nav {
        padding-top: 10px;
        padding-bottom: 10px;
        display: table !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nav-search-main .col2_nav li {
        width: 50% !important;
        float: left !important;
        padding: 0px !important;
        text-indent: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .nav-search-main .col3_nav {
        padding-top: 10px;
        padding-bottom: 10px;
        display: table !important;
    }

    .nav-search-main .col3_nav li {
        width: 33.333% !important;
        float: left !important;
        padding: 0px !important;
        text-indent: 5px;
    }


    .nav-search-main > li > a:hover, .nav-search-main > li > a:focus {
        background: #bcd9f5
    }

    .map-off .map_block_right .title {
        margin-top: 0px !important;
    }

    .map-off .map_block_right .list_poperty {
        width: auto;
        float: none;
    }

    .list_poperty .data-right {
        padding: 0 15px;
    }

    .list_poperty .data-right h2 {
        margin-top: 20px;
    }

    #map_on_off {
        bottom: 8px;
        z-index: 9999;
        top: inherit
    }

    .map_block_right .showResult {
        padding: 12px 15px 12px 15px;
    }

    .search_page_breadcrumbs {
        display: none;
    }

    .map-off .nav-search-main .propertytype {
        padding: 15px 0 25px 5px;
    }

    .room li label {
        padding-top: 5px !important;
    }

    .nav03 li:hover {
        background: none;
        color: inherit
    }

}


.mobile-only {
    display: none;
}

.table_detail tr td {
    padding: 2px !important;
}

.mobilefixed {
    margin-bottom: 25px;
}

.first_name_favorites {
    text-transform: uppercase;
}

.favorite-content .title-name {
    font-weight: bold;
}

.first_name_favorites {
    font-weight: bold;
}

.driversProfileEmptyState-title {
    color: #5d5d5d;
    font-size: 21px;
}

.header--6 {
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.favorite-empty .fa-heart-o {
    font-size: 65px;
}

.favorite-empty {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 30px;
}