{% load i18n %}

<select data-name="number_of_seats " class="auto-width search-filter" style="max-width: 200px">
    <option value="">{% trans 'Number of seats' %}</option>
    <option value="">---</option>
    <option data-name="number_of_seats" value="123">123</option>
    <option data-name="number_of_seats" value="22">22</option>
    <option data-name="number_of_seats" value="2323">2323</option>
    <option data-name="number_of_seats" value="A121">A121</option>
    <option data-name="number_of_seats" value="A123">A123</option>
    <option data-name="number_of_seats" value="A2W">A2W</option>
    <option data-name="number_of_seats" value="AB123">AB123</option>
    <option data-name="number_of_seats" value="AB1232">AB1232</option>
    <option data-name="number_of_seats" value="Ab2">Ab2</option>
    <option data-name="number_of_seats" value="sad">sad</option>
</select>

<select data-name="number_of_doors" class="auto-width search-filter" style="max-width: 200px">
    <option value="">Number of doors</option>
    <option value="">---</option>
    <option data-name="number_of_doors" value="9">9</option>
    <option data-name="number_of_doors" value="10">10</option>
    <option data-name="number_of_doors" value="11">11</option>
    <option data-name="number_of_doors" value="12">12</option>
    <option data-name="number_of_doors" value="13">13</option>
</select>