<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% autoescape off %}
    <table style="
    margin: 0 auto;
">
        <tbody>
        <tr>
            <td align="center" style="    width: 100%;">
                <div class="m_-6674139660299394614main-table"
                     style="width:440px;margin:0 auto;background:white;padding-top:45px">
                    <table class="m_-6674139660299394614main-table" width="420" border="0" cellspacing="0"
                           cellpadding="0"
                           style="margin:0;border-color:#231f20;border-style:solid;border-width:2px 2px 0 2px;border-bottom-color:white">
                        <tbody>
                        <tr>
                            <td style="width:416px;padding:30px 0 0">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="m_-6674139660299394614main-table" width="420" border="0" cellspacing="0"
                           cellpadding="0"
                           style="margin:0;border-color:#231f20;border-style:solid;border-width:0 2px 0 0;border-bottom-color:white">
                        <tbody>
                        <tr>
                            <td align="left" style="width:416px">
                                <a href="https://turo.com/" style="display:block" target="_blank">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="m_-6674139660299394614main-table" width="420" border="0" cellspacing="0"
                           cellpadding="0"
                           style="margin:0;border-color:#231f20;border-style:solid;border-width:0 2px 2px 2px;border-top-color:white">
                        <tbody>
                        <tr>
                            <td style="padding:28px">


                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                    <tr>
                                        <td align="center">
                                            <p>
        <span style="display:inline-block;padding-bottom:7px;font-family:Plantin,AvenirNextCondensed-Bold,HelveticaNeue-CondensedBold,'Roboto Condensed Bold',sans-serif;text-transform:uppercase;font-size:32px;color:#231f20;line-height:36px;font-weight:bold">
            Email Verification
        </span>
                                            </p>

                                            <p>Hi {{ user.first_name }}</p>

                                            <p>Please click the button below to verify <a
                                                    href="mailto:david.mkrtchyan002@gmail.com"
                                                    target="_blank">{{ email }}</a>
                                                with Turo and continue booking.</p>

                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                <tr>
                                                    <td align="center" width="100%">
                                                        <table border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" bgcolor="#5ed28b">
                                                                    <a href="{{ domain }}{% url 'verify-email' token=token %}"
                                                                       style="font-size:18px;font-family:BasisGrotesqueBold,BasisGrotesqueMedium,AvenirNext-Bold,HelveticaNeue-Bold,'Roboto Bold',sans-serif;font-weight:bold;color:white;text-decoration:none;padding:8px 20px;border:1px solid #5ed28b;display:inline-block"
                                                                       target="_blank">Verify
                                                                        email address</a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <p>Verifying your email address helps us keep your account safe.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                        </tr>
                        </tbody>
                    </table>
                    <table class="m_-6674139660299394614main-table" width="420" border="0" cellspacing="0"
                           cellpadding="0">
                        <tbody>
                        <tr>
                            <td align="center" style="padding-bottom:30px">
                                <br>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
{% endautoescape %}
</body>
</html>