<div id="primary" class="content-area">
    <main id="main" class="site-main">
        <section class="module park-hero">
            <div class="container">
                <div class="hero-content">
                    <h1>
                        {% if title %}
                            {{ title }}
                        {% endif %}
                    </h1>
                </div>

                <div id="tc-form-park-hero"></div>
                <script>
                    (function (d, elementId, params) {
                        var script = d.createElement('script');
                        script.src = 'https://www.travelcar.com/park/form-widget/js/index.js?' +
                            '&from-spot-id=' + params.fromSpotId +
                            '&from-spot-source=' + params.fromSpotSource +
                            '&currency=' + params.currency +
                            '&element-id=' + elementId +
                            '&language=' + params.language +
                            '&country=' + params.country +
                            '&layout=horizontal';
                        ;
                        (d.head || d.body).appendChild(script);

                    })(document, 'tc-form-park-hero', {
                        fromSpotId: 'AUS',
                        fromSpotSource: 'tc',
                        currency: 'USD',
                        country: 'US',
                        language: 'en'
                    });
                </script>


                <ul class="hero-list-links"></ul>
            </div>

        </section>
    </main><!-- #main -->
</div><!-- #primary -->
