{% load i18n %}
{% load static %}

<section class='module home-hero'>

    <div class="container">

        <div class="hero-content">
            <h1>TravelCar: Car Rental</h1>
        </div>

        <!-- Tabs -->
        <ul class="nav nav-pills nav-justified">
{#            <li#}
{##}
{#            >#}
{#                <a#}
{#                        data-toggle="pill"#}
{#                        href="#book-parking"#}
{##}
{#                >#}
{#                  <i class="nav-icon tc-car"></i>#}
{#                    <span>Parking</span>#}
{#                </a>#}
{#            </li>#}
            <li class="active">
                <a
                        data-toggle="pill"
                        href="#rent-a-car"

                >
                     <i class="nav-icon tc-parking"></i>
                    <span>Rental</span>
                </a>
            </li>
{#            <li>#}
{#                <a#}
{#                        data-toggle="pill"#}
{#                        href="#transfert"#}
{##}
{#                >#}
{#                    <i class="nav-icon fa fa-exchange" aria-hidden="true"></i>#}
{#                    <span>Transfer</span>#}
{#                </a>#}
{#            </li>#}
        </ul>

        <!-- Tab Containers -->
        <div class="tab-content">

            <!-- Park -->
            <div
                    id="book-parking"
                    class="tab-pane fade in active">

                <div id="tc-form-park-hero"></div>
                <script>
                    (function (d, elementId, params) {
                        var script = d.createElement('script');
                        script.src = '/static/js/index.js?' +
                            '&from-spot-id=' + params.fromSpotId +
                            '&from-spot-source=' + params.fromSpotSource +
                            '&currency=' + params.currency +
                            '&element-id=' + elementId +
                            '&language=' + params.language +
                            '&country=' + params.country +
                            '&layout=horizontal';

                        (d.head || d.body).appendChild(script);

                    })(document, 'tc-form-park-hero', {
                        fromSpotId: 'LAX',
                        fromSpotSource: 'tc',
                        currency: 'USD',
                        country: 'US',
                        language: 'en'
                    });
                </script>
            </div>

            <!-- Rent -->
            <div
                    id="rent-a-car" class="tab-pane fade"
                    1>
                <div id="tc-form-rent-hero"></div>
                <script>
                    (function (d, elementId, params) {
                        var script = d.createElement('script');
                        script.src = '/static/rent/index.js?' +
                            '&from-spot-id=' + params.fromSpotId +
                            '&from-spot-source=' + params.fromSpotSource +
                            '&currency=' + params.currency +
                            '&element-id=' + elementId +
                            '&language=' + params.language +
                            '&country=' + params.country +
                            '&layout=horizontal';

                        jQuery('ul.nav > li').on('click', function (e) {
                            (d.head || d.body).appendChild(script);
                        });

                    })(document, 'tc-form-rent-hero', {
                        fromSpotId: 'LAX',
                        fromSpotSource: 'tc',
                        currency: 'USD',
                        country: 'US',
                        language: 'en'
                    });
                </script>

            </div>

            <!-- Travel -->
            <div
                    id="transfert" class="tab-pane fade"
                    1>
                <div id="tc-form-transfert-hero">

                    <h3>Coming soon</h3>

                </div>
            </div>

        </div>

        <ul class="hero-list-links">
            <li><a href="parkings/atlanta-airport-parking/index.html" title="Atlanta Airport Parking">Atlanta Airport
                Parking</a></li>
            <li><a href="parkings/lax-airport-parking/index.html" title="LAX Airport Parking">LAX Airport Parking</a>
            </li>
            <li><a href="parkings/chicago-o-hare-airport-parking/index.html"
                   title="Chicago O&#8217;Hare International Airport Parking">Chicago O&#8217;Hare International Airport
                Parking</a></li>
            <li><a href="parkings/dallas-fort-worth-airport-parking/index.html"
                   title="Dallas Fort Worth Airport Parking">Dallas Fort Worth Airport Parking</a></li>
            <li><a href="parkings/denver-international-airport-parking/index.html"
                   title="Denver International Airport Parking">Denver International Airport Parking</a></li>
            <li><a href="parkings/jfk-airport-parking/index.html" title="JFK Airport Parking">JFK Airport Parking</a>
            </li>
        </ul>
    </div>

</section>
