
{% load i18n %}
{% load static %}

<footer class="content-info">

    <div class="social">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-left">

                    <h3>Mobile apps</h3>

                    <ul class="list-inline list-apps">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.travelcar.android.app"
                               target="_blank">
                                <img class="img-responsive"
                                     alt="Google Play Store"
                                     src="/static/uploads/2017/10/google-play-en-e1521198241504.png"/>
                            </a>
                        </li>
                        <li>
                            <a
                                    href="https://itunes.apple.com/us/app/travelcar/id1115140190"
                                    target="_blank">
                                <img class="img-responsive"
                                     alt="App Store"
                                     src="/static/uploads/2017/10/app-store-en-e1521198257110.png"/>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-sm-6 col-right">

                    <h3>Follow us</h3>

                    <ul class="list-inline list-social-networks">
                        <li><a href="https://www.facebook.com/TravelerCar"
                               target="_blank"
                               class="facebook large"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/TravelCar_"
                               target="_blank"
                               class="twitter large"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/travelcar"
                               target="_blank"
                               class="linkedin large"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><a href="https://plus.google.com/+Travelercar"
                               target="_blank"
                               class="google-plus large"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UC-kNpAx708KAJn-NsnQItwA"
                               target="_blank"
                               class="youtube large"><i
                                class="fa fa-youtube-play"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-left">
                    <img src="{% static '/images/inversed-logo.png' %}" alt="Logo TravelCar">
                </div>
                <div class="col-sm-6 col-right">
                    © 2019 TravelCar
                </div>
            </div>
        </div>
    </div>

    <div class="sitemap">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3>
                        Learn more </h3>
                    <ul class="list-unstyled">
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-167"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167"><a
                                title="Need help?" target="_blank" href="https://support.travelcar.com/hc/en-us">Need
                            help?</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-433"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-433"><a
                                title="Blog" target="_blank" href="blog/index.html">Blog</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-555"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-555"><a
                                title="Terms and conditions" target="_blank" href="terms-and-conditions/index.html">Terms
                            and conditions</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-715"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-715"><a
                                title="Insurance for car renters" target="_blank"
                                href="insurance-car-renters/index.html">Insurance for car renters</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-714"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-714"><a
                                title="Insurance for car owners" target="_blank" href="insurance-car-owners/index.html">Insurance
                            for car owners</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-535"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-535"><a
                                title="Contact" target="_blank" href="contact/index.html">Contact</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11902"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11902"><a
                                title="Become our partner!" target="_blank" href="https://join.travelcar.com/">Become
                            our partner!</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-201"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-201"><a
                                title="Press" target="_blank" href="press/index.html">Press</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-208"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208"><a
                                title="Team" target="_blank" href="team/index.html">Team</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-210"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210"><a
                                title="We&#039;re hiring !" target="_blank" href="http://jobs.travelcar.com/#!/en">We&#8217;re
                            hiring !</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11311"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11311"><a
                                title="Our Airports Parking" target="_blank" href="cheap-airport-parking/index.html">Our
                            Airports Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11310"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11310"><a
                                title="Our Train Stations Parking" target="_blank"
                                href="train-stations-parking/index.html">Our Train Stations Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11309"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11309"><a
                                title="Our Ports Parking" target="_blank" href="parking-port/index.html">Our Ports
                            Parking</a></li>
                    </ul>


                </div>

                <div class="col-sm-4">
                    <h3>
                        Cheap Airport Parking </h3>
                    <ul class="list-unstyled">
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11210"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11210"><a
                                title="Hartsfield-Jackson Atlanta International Airport Parking"
                                href="parkings/10420/index.html">Hartsfield-Jackson Atlanta International Airport
                            Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11211"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11211"><a
                                title="Los Angeles Airport Parking"
                                href="parkings/los-angeles-international-airport-parking/index.html">Los Angeles Airport
                            Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11212"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11212"><a
                                title="Chicago O&#039;Hare Airport Parking"
                                href="parkings/chicago-o-hare-airport-parking/index.html">Chicago O&#8217;Hare Airport
                            Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11213"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11213"><a
                                title="Dallas Fort Worth Airport Parking"
                                href="parkings/dallas-fort-worth-airport-parking/index.html">Dallas Fort Worth Airport
                            Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11214"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11214"><a
                                title="JFK Airport Parking" href="parkings/jfk-airport-parking/index.html">JFK Airport
                            Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11215"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11215"><a
                                title="Denver Airport Parking"
                                href="parkings/denver-international-airport-parking/index.html">Denver Airport
                            Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11216"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11216"><a
                                title="San Francisco International Airport Parking"
                                href="parkings/san-francisco-international-airport-parking/index.html">San Francisco
                            International Airport Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11217"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11217"><a
                                title="Las Vegas McCarran Airport Parking"
                                href="parkings/las-vegas-mccarran-international-airport-parking/index.html">Las Vegas
                            McCarran Airport Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11218"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11218"><a
                                title="Seattle-Tacoma Airport Parking"
                                href="parkings/seattle-tacoma-international-airport-parking/index.html">Seattle-Tacoma
                            Airport Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11219"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11219"><a
                                title="Charlotte Douglas Airport Parking"
                                href="parkings/charlotte-douglas-international-airport-parking/index.html">Charlotte
                            Douglas Airport Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11220"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11220"><a
                                title="Phoenix Sky harbor Airport Parking"
                                href="parkings/phoenix-sky-harbor-international-parking/index.html">Phoenix Sky harbor
                            Airport Parking</a></li>
                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                            id="menu-item-11221"
                            class="menu-item menu-item-type-post_type menu-item-object-parkings menu-item-11221"><a
                                title="Miami Airport Parking"
                                href="parkings/miami-international-airport-parking/index.html">Miami Airport Parking</a>
                        </li>
                    </ul>


                </div>

                <div class="col-sm-5">

                    <section class="widget mlp_widget-3 mlp_widget"><h3>CHANGE COUNTRY</h3>
                        <div class="mlp-language-box mlp_language_box">
                            <ul>
                                <li><a rel="alternate" href="fr-FR/indexb98f.html?noredirect=fr_FR">France</a></li>
                                <li><a rel="alternate" href="nb-NO/index771d.html?noredirect=nb_NO">Norsk bokmål</a>
                                </li>
                                <li><a rel="alternate" href="en-CA/index854c.html?noredirect=en_CA">Canada</a></li>
                                <li><a rel="alternate" href="fr-CA/indexb8a7.html?noredirect=fr_CA">Canada</a></li>
                                <li><a rel="alternate" href="pt-BR/index2721.html?noredirect=pt_BR">Brasil</a></li>
                                <li><a rel="alternate" href="ru-UA/index1356.html?noredirect=ru_UA">Украина</a></li>
                                <li><a rel="alternate" href="sv-SE/index4ce0.html?noredirect=sv_SE">Svenska</a></li>
                                <li><a rel="alternate" href="es-CO/indexc586.html?noredirect=es_CO">Colombia</a></li>
                                <li><a rel="alternate" href="uk-UA/indexfdfa.html?noredirect=uk_UA">Україна</a></li>
                                <li><a rel="alternate" href="ru-LV/index169a.html?noredirect=ru_LV">Латвия</a></li>
                                <li><a rel="alternate" href="en-AU/index050e.html?noredirect=en_AU">Australia</a></li>
                                <li><a rel="alternate" href="fr-MU/indexbfc4.html?noredirect=fr_MU">Maurice</a></li>
                                <li><a rel="alternate" href="en-IS/index4b86.html?noredirect=en_IS">Iceland</a></li>
                                <li><a rel="alternate" href="ru-LT/index2fc5.html?noredirect=ru_LT">Литва</a></li>
                                <li><a rel="alternate" href="fr-MA/index1444.html?noredirect=fr_MA">Maroc</a></li>
                                <li><a rel="alternate" href="ko-KR/index8057.html?noredirect=ko_KR">한국어</a></li>
                                <li><a rel="alternate" href="vi-VN/index379e.html?noredirect=vi_VN">Tiếng Việt</a></li>
                                <li><a rel="alternate" href="en-SI/index856c.html?noredirect=sl_SI">Slovenija</a></li>
                                <li><a rel="alternate" href="en-ME/indexb93c.html?noredirect=sr_RS">Crna Gora</a></li>
                                <li><a rel="alternate" href="en-BA/index203f.html?noredirect=en_BA">Bosna i
                                    Hercegovina</a></li>
                                <li><a rel="alternate" href="en-MK/indexc366.html?noredirect=mk_MK">македонија</a></li>
                                <li><a rel="alternate" href="en-SK/index6b5f.html?noredirect=sk_SL">Slovensko</a></li>
                                <li><a rel="alternate" href="en-AL/indexa83e.html?noredirect=sq_AL">Shqip</a></li>
                                <li><a rel="alternate" href="lt-LT/index775a.html?noredirect=lt_LT">lietuvių kalba</a>
                                </li>
                                <li><a rel="alternate" href="zh-TW/indexa942.html?noredirect=zh_TW_TW">中文</a></li>
                                <li><a rel="alternate" href="fi-FI/indexf9a2.html?noredirect=fi_FI">Suomi</a></li>
                                <li><a rel="alternate" href="pl-PL/index569b.html?noredirect=pl_PL">Polska</a></li>
                                <li><a rel="alternate" href="es-AR/index5108.html?noredirect=es_AR">Argentina</a></li>
                                <li><a rel="alternate" href="de-DE/index5d93.html?noredirect=de_DE">Deutschland</a></li>
                                <li><a rel="alternate" href="en-ZA/indexa31d.html?noredirect=en_ZA">South Africa</a>
                                </li>
                                <li><a rel="alternate" href="de-AT/index5267.html?noredirect=de_AT">Österreich</a></li>
                                <li><a rel="alternate" href="fr-BE/indexfb43.html?noredirect=fr_BE">Belgique</a></li>
                                <li><a rel="alternate" href="en-GB/index9401.html?noredirect=en_GB">United Kingdom</a>
                                </li>
                                <li><a rel="alternate" href="it-IT/indexb1de.html?noredirect=it_IT">Italia</a></li>
                                <li><a rel="alternate" href="en-IE/index7af6.html?noredirect=en_IE">Ireland</a></li>
                                <li><a rel="alternate" href="es-ES/index7e4b.html?noredirect=es_ES">España</a></li>
                                <li><a rel="alternate" href="fr-CH/index7ae7.html?noredirect=fr_CH">Suisse</a></li>
                                <li><a rel="alternate" href="de-CH/indexf455.html?noredirect=de_CH">Schweiz</a></li>
                                <li><a rel="alternate" href="it-CH/index6614.html?noredirect=it_CH">Svizzera</a></li>
                                <li><a rel="alternate" href="zh-CN/index0872.html?noredirect=zh_CN">中文</a></li>
                                <li><a rel="alternate" href="es-MX/indexcf41.html?noredirect=es_MX">México</a></li>
                                <li><a rel="alternate" href="nl-NL/indexba84.html?noredirect=nl_NL">Nederlands</a></li>
                                <li><a rel="alternate" href="en-MT/indexd3f3.html?noredirect=en_MT">Malta</a></li>
                                <li><a rel="alternate" href="ro-RO/indexadee.html?noredirect=ro_RO">România</a></li>
                                <li><a rel="alternate" href="el-GR/index68e2.html?noredirect=el_GR">Ελλάδα</a></li>
                                <li><a rel="alternate" href="hr-HR/index92bc.html?noredirect=hr_HR">Hrvatska</a></li>
                                <li><a rel="alternate" href="bg-BG/indexff26.html?noredirect=bg_BG">България</a></li>
                                <li><a rel="alternate" href="cs-CZ/indexd3ab.html?noredirect=cs_CZ">Česko</a></li>
                                <li><a rel="alternate" href="hu-HU/index4cdf.html?noredirect=hu_HU">Magyarország</a>
                                </li>
                                <li><a rel="alternate" href="tr-TR/index3be6.html?noredirect=tr_TR">Türkiye</a></li>
                                <li><a rel="alternate" href="el-CY/index79b2.html?noredirect=el_CY">Κύπρος</a></li>
                                <li><a rel="alternate" href="en-NZ/index77bf.html?noredirect=en_NZ">New Zealand</a></li>
                                <li><a rel="alternate" href="es-PE/index04e3.html?noredirect=es_PE">Perú</a></li>
                                <li><a rel="alternate" href="ru-RU/indexb4e6.html?noredirect=ru_RU">Россия</a></li>
                                <li><a rel="alternate" href="da-DK/indexb317.html?noredirect=da_DK">Dansk</a></li>
                            </ul>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>

</footer>
