{% load i18n %}
{% load static %}

<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapseable"
                        aria-expanded="false"
                >
                    <div class="menu-icon">
                        <i></i> <i></i> <i></i>
                    </div>
                </button>
                <a
                        class="navbar-brand"
                        href="{% url 'home' %}">

                    <img
                            src="/static/uploads/2018/03/LOGO-TRAVELCAR.png"
                            alt=""
                            title="LOGO TRAVELCAR"
                            class="img-responsive">

                </a>
            </div>

            <div
                    id="navbar-collapseable"
                    class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                        id="menu-item-15950"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15950 dropdown">
                        <a title="Airport Car Rentals" href="#" data-toggle="dropdown" class="dropdown-toggle"
                           aria-haspopup="true">Airport Car Rentals <span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15955"
                                class="menu-item menu-item-type-post_type menu-item-object-location-voiture menu-item-15955">
                                <a title="Car Rentals in Seattle-Tacoma International Airport"
                                   href="car-rental/affordable-car-rentals-in-seattle-tacoma-international-airport/index.html">Car
                                    Rentals in Seattle-Tacoma International Airport</a></li>
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15956"
                                class="menu-item menu-item-type-post_type menu-item-object-location-voiture menu-item-15956">
                                <a title="Car Rentals in Miami International Airport"
                                   href="car-rental/cheap-car-rentals-in-miami-international-airport/index.html">Car
                                    Rentals in Miami International Airport</a></li>
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15952"
                                class="menu-item menu-item-type-post_type menu-item-object-location-voiture menu-item-15952">
                                <a title="Car Rental Phoenix Sky Harbor International Airport"
                                   href="car-rental/cheap-car-rental-phoenix-sky-harbor-international-airport/index.html">Car
                                    Rental Phoenix Sky Harbor International Airport</a></li>
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15953"
                                class="menu-item menu-item-type-post_type menu-item-object-location-voiture menu-item-15953">
                                <a title="Car Rental In George Bush Intercontinental Airport"
                                   href="car-rental/cheap-car-rental-in-george-bush-intercontinental-airport/index.html">Car
                                    Rental In George Bush Intercontinental Airport</a></li>
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15954"
                                class="menu-item menu-item-type-post_type menu-item-object-location-voiture menu-item-15954">
                                <a title="Car Rentals In Newark Liberty International Airport"
                                   href="car-rental/cheap-car-rental-innewark-liberty-international-airport/index.html">Car
                                    Rentals In Newark Liberty International Airport</a></li>
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15951"
                                class="menu-item menu-item-type-post_type menu-item-object-location-voiture menu-item-15951">
                                <a title="Car Rentals in Minneapolis-Saint Paul International Airport"
                                   href="car-rental/cheap-car-rentals-in-minneapolis-saint-paul-international-airport/index.html">Car
                                    Rentals in Minneapolis-Saint Paul International Airport</a></li>
                            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                id="menu-item-15957"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15957"><a
                                    title="&gt; All Our Car Rentals" href="airport-car-rentals/index.html">> All Our Car
                                Rentals</a></li>
                        </ul>
                    </li>
                    <li>
                        {% include 'blog/language.html' %}
                    </li>
                    {% if user.is_authenticated %}

                        <li class="dropdown">
                            <a
                                    href="#"
                                    class="dropdown-toggle"
                                    id="dropdownMenu1"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                <span>
                    {% trans 'My account ' %}
                </span> &nbsp;
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul
                                    class="dropdown-menu"
                                    role="menu"
                                    aria-labelledby="dropdownMenu1">

                                <li itemscope="itemscope" title="Your Cars"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                                    <a href="{% url 'list-favorites' %}">{% trans 'Favorites' %}</a>
                                </li>

                                <li itemscope="itemscope" title="Your Cars"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                                    <a href="{% url 'list-cars' user.pk %}">{% trans 'Your Cars' %}</a>
                                </li>

                                <li itemscope="itemscope" title="Update Profile"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                                    <a href="{% url 'profile-view' user.pk %}">{% trans 'Account' %}</a>
                                </li>
                                {% load short_content %}
                                <li itemscope="itemscope" title="Logout"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                                    <a href="{% url 'logout' %}">{% trans 'Logout' %}({% cut_title user.last_name|capfirst 2 %}.{{ user.first_name|capfirst }})</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li itemscope="itemscope" title="Login"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                            <a href="{% url 'login' %}">{% trans 'Login' %}</a>
                        </li>

                        <li itemscope="itemscope" title="Register"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124">
                            <a href="{% url 'register' %}">{% trans 'Register' %}</a>

                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>