{% extends 'layouts/base.html' %}

{% load i18n %}
{% load static %}


{% block content %}

    {% include 'blog/blog-search.html' %}
    {% include 'blog/recent-cars.html' %}

    <section class="module columns theme-white">

        <div class="container-fluid">

            <h2 class="module-title">
                TravelCar's benefits to travelers.
            </h2>


            <div class="row">


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/tarif-eco-1.svg" class="style-svg svg-primary" width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Competitive prices</h3>

                        <p>
                        <p>checked everyday to give you the best rates</p>
                        </p>

                    </div>

                </div>


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/surveillance-1.svg" class="style-svg svg-primary" width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Secured parking lots</h3>

                        <p>
                        <p>under surveillance 24/7</p>
                        </p>

                    </div>

                </div>


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/navette02-1.svg" class="style-svg svg-primary" width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Free shuttle transfer</h3>

                        <p>
                        <p>on every parking lot for stress-free travel</p>
                        </p>

                    </div>

                </div>


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/service-client02-1.svg" class="style-svg svg-primary"
                             width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Our customer service</h3>

                        <p>
                        <p>at your service 24/7</p>
                        </p>

                    </div>

                </div>


            </div>


        </div>

    </section>
    <section class="module columns theme-light">

        <div class="container-fluid">

            <h2 class="module-title">
                Additional add-ons at select locations
            </h2>


            <div class="row">


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/voiturier-1.svg" class="style-svg svg-primary" width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Valet service</h3>

                        <p>
                        <p>a premium service at the best price</p>
                        </p>

                    </div>

                </div>


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/parking-couvert-1.svg" class="style-svg svg-primary"
                             width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Covered parking</h3>

                        <p>
                        <p>Your car is parked indoors, away from bad weather</p>
                        </p>

                    </div>

                </div>


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/lavage-1.svg" class="style-svg svg-primary" width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Car wash service</h3>

                        <p>
                        <p>Upon return, find your car cleaner than when you parked it</p>
                        </p>

                    </div>

                </div>


                <div class="col col-md-6 col-lg-3 text-center">


                    <div class="column-head">


                        <img src="/static/uploads/2019/01/bricolage-1.svg" class="style-svg svg-primary" width="50"
                             height="50"/>


                    </div>


                    <div class="column-content">
                        <h3 class="column-title text-primary">Car maintenance</h3>

                        <p>
                        <p>We check your tires, oil levels and every important detail</p>
                        </p>

                    </div>

                </div>


            </div>


        </div>

    </section>
    <section class="module numbers">

        <div class="numbers-content">
            <div class="container">

                <h2 class="module-title">TravelCar in numbers</h2>

                <div class="row">
                    <div class="col-sm-3">
                        <h3>
                            <span>60</span>
                            <small>Countries</small>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                            <span>2 000</span>
                            <small>Agencies</small>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                            <span>500 000</span>
                            <small>Parking spots</small>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                            <span>1 000 000</span>
                            <small>Frequent users</small>
                        </h3>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section class="module press">

        <div class="container">

            <h2 class="module-title">Our press coverage</h2>


            <ul class="list-inline text-center">
                <li>
                    <a href="press/index.html">
                        <img src="/static/uploads/2018/03/logo-business-insider-e1521208799106.png">
                    </a>
                </li>
                <li>
                    <a href="press/index.html">
                        <img src="/static/uploads/2018/03/logo-reuters-e1521208812624.png">
                    </a>
                </li>
                <li>
                    <a href="press/index.html">
                        <img src="/static/uploads/2018/03/logo-the-washington-post-1024x155-e1521208821792.png">
                    </a>
                </li>
                <li>
                    <a href="press/index.html">
                        <img src="/static/uploads/2018/03/logo-la-times-1024x149-e1521208830916.png">
                    </a>
                </li>
                <li>
                    <a href="press/index.html">
                        <img src="/static/uploads/2018/03/logo-cnbc-1024x160-e1521208843413.png">
                    </a>
                </li>
                <li>
                    <a href="press/index.html">
                        <img src="/static/uploads/2018/03/logo-yahoo-e1521208853793.png">
                    </a>
                </li>
            </ul>


        </div>

    </section>
    <section class='module testimonials'>

        <div class='container'>
            <h2 class="module-title">Customer reviews</h2>
            <div
                    class='trustpilot-widget'
                    data-locale="en-US"
                    data-template-id='54ad5defc6454f065c28af8b'
                    data-businessunit-id='52cdfd7b000064000577d69f'
                    data-style-height='220px'
                    data-style-width='100%'
                    data-theme='light'
                    data-stars='5'
                    data-schema-type="Organization"
                    data-tags="en">
                <a
                        href='https://en.trustpilot.com/review/www.travelcar.com'
                        target='_blank'>Trustpilot</a>
            </div>

            <script
                    type='text/javascript'
                    src='{% static '/js/tp.widget.sync.bootstrap.min.js' %}'></script>
        </div>
    </section>
{% endblock content %}
