{% load i18n %}
{% load static %}
<div id="language-list">
    <form method="post" action="{% url 'set_language' %}">
        {% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        <select id="lang-select" v-on:change='set_lang' class="selectpicker  select-language" data-live-search="true"
                data-width="fit"
                data-size="5"
                data-style="btn-lang-select">

            {% for language in languages %}
                {% if language.code != LANGUAGE_CODE %}
                    <option data-name="{{ language.code }}"
                            data-content="<i data-name='{{ language.code }}' class='flag flag-18 flag-18-{{ language.code }}'></i><span>{{ language.name_local }}</span>"
                            value="{{ language.code }}" selected>
                    </option>

                {% endif %}
            {% endfor %}

            {% for language in languages %}
                {% if language.code == LANGUAGE_CODE %}
                    <option data-name="{{ language.code }}"
                            data-content="<i data-name='{{ language.code }}' class='flag flag-18 flag-18-{{ language.code }}'></i><span>{{ language.name_local }}</span>"
                            value="{{ language.code }}" selected>
                    </option>
                {% endif %}
            {% endfor %}

        </select>
    </form>
</div>