{% load static %}
{% load i18n %}
{% load image %}
{% load favorite_tag %}

{% if usecars %}
    <div class="block-width-100">
        <div class="container">
            <!-- Recommended -->
            <div class="col-md-12 p-50-cont">
                <div class="title text-center">
                    <div class="mobilefixed">
                        <h2>{% trans 'Last rented on Sharoo' %}</h2>
                    </div>
                    <div class="owl-carousel owl-theme text-center">
                        <!-- project 1 -->
                        {% for car in usecars %}

                            {% if user.is_authenticated %}
                                {% get_favorite user.id car.id as car_favorite2 %}
                            {% endif %}

                            <div class="item">
                                <div class="favourite" data-login="{% if user.is_authenticated %}true{% endif %}" data-id="{{ car.id }}"><i {% if user.is_authenticated and car_favorite2 %} class="fa fa-heart" {% else %} class="fa fa-heart-o"  {% endif %}></i></div>
                                <a href="{% url 'car-view' car.id %}">
                                    <div class="pic"><img class="lazyOwl"
                                                          data-src="{% image_url car.image.path 'car' %}"
                                                          alt=""></div>
                                </a>
                                <div class="block-detail-property">
                                    <h1>
                                        <a href="{% url 'car-view' car.id %}">{{ car.brand.name }} {{ car.model.name }}</a>
                                    </h1>
                                    <div class="data">
                                    <span class="txt"><i
                                            class="fa fa-map-marker"></i> {{ car.parking_address }} </span>
                                        <span class="txt start">{% trans 'Rent' %} : <strong>{{ car.daily_price }}€  ({% trans 'every day' %})</strong></span>
                                        <i class="fa fa-angle-double-right"></i>
                                    </div>
                                    <ul>
                                        <li>
                                        <span class="title_li_list"><i
                                                class="fas fa-chair"></i> Seats</span>
                                            <strong>{{ car.number_of_seats }}</strong>
                                        </li>
                                        <li><span class="title_li_list"><i
                                                class="fas fa-door-open"></i> Doors </span><strong>{{ car.number_of_doors }}</strong>
                                        </li>
                                        <li><span class="title_li_list">
                                        <i class="fas fa-gas-pump"></i>  Fuel</span><strong>{{ car.fuel }}</strong></li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'js/main.js' %} "></script>
{% endif %}