{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load profile_header %}
{% block content %}

    {% header userData=user user=user save_account='True' profile='True' %}

    <div class="container content-section  content-account">

        <div class=" content-section  profile-container">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data" id="update-profile">
                        {% csrf_token %}
                        <div id="div_id_path" class="form-group">
                            <div class="">
                                <input type="file" name="path" accept="image/*"
                                       class="filepicker-basic filepicker clearablefileinput" multiple=""
                                       id="id_path">
                            </div>

                            <div class="image-tag">
                                {% trans 'Add a picture with your face. It’ll help others to recognize you on the meeting point.' %}
                            </div>
                        </div>

                        {% load short_content %}
                        <div class="name">
                            <h2>{% cut_title user.last_name|capfirst 2 %}.{{ user.first_name|capfirst }}</h2>
                        </div>

                        <div id="lives_data" class="form-group">
                            <label for="id_first_name"
                                   class="col-form-label ">
                                {% trans 'Lives' %}
                            </label>

                            <div class=""><input type="text" name="live" maxlength="30"
                                                 placeholder="Boston, MA / Paris, France"
                                                 value="{% if user.live %}{{ user.live }}{% endif %}"
                                                 class="textinput textInput form-control" id="live"></div>
                            <div class="date">
                                <span>{% trans 'Joined' %} {{ user.date_joined|date:"M Y" }}</span>
                            </div>

                        </div>


                        <fieldset class="form-group">
                            <div id="div_id_first_name" class="form-group"><label for="id_first_name"
                                                                                  class="col-form-label ">
                                {% trans 'First name' %}
                            </label>
                                <div class=""><input type="text" name="first_name" maxlength="30"
                                                     value="{% if user.first_name %}{{ user.first_name }}{% endif %}"
                                                     class="textinput textInput form-control" id="id_first_name"></div>
                            </div>


                            <div id="div_id_last_name" class="form-group"><label for="id_last_name"
                                                                                 class="col-form-label ">
                                {% trans 'Last name' %}
                            </label>
                                <div class=""><input type="text" name="last_name" maxlength="150"
                                                     value="{% if user.last_name %}{{ user.last_name }}{% endif %}"
                                                     class="textinput textInput form-control" id="id_last_name"></div>
                            </div>


                            <div id="div_id_last_name" class="form-group"><label for="id_last_name"
                                                                                 class="col-form-label ">
                                {% trans 'Languages' %}
                            </label>
                                <div class="">
                                    <input type="tel" name="languages" id="languages" maxlength="150"
                                           value="{% if user.languages %}{{ user.languages }}{% endif %}"
                                           class="textinput textInput form-control"></div>
                            </div>

                            <div id="div_id_last_name" class="form-group"><label for="id_last_name"
                                                                                 class="col-form-label ">
                                {% trans 'Works' %}
                            </label>
                                <div class="">
                                    <input type="tel" name="works" id="works" maxlength="150"
                                           value="{% if user.works %}{{ user.works }}{% endif %}"
                                           class="textinput textInput form-control"></div>
                            </div>

                            <div id="div_id_last_name" class="form-group"><label for="id_last_name"
                                                                                 class="col-form-label ">
                                {% trans 'School' %}
                            </label>
                                <div class="">
                                    <input type="tel" name="school" id="school" maxlength="150"
                                           value="{% if user.school %}{{ user.school }}{% endif %}"
                                           class="textinput textInput form-control"></div>
                            </div>

                            <div id="div_id_last_name" class="form-group"><label for="id_last_name"
                                                                                 class="col-form-label ">
                                {% trans 'ABOUT' %} {{ user.first_name|upper }}
                            </label>
                                <div class="">
                                    <textarea name="about" id="about"
                                              class="textinput textInput form-control"
                                              rows="">{% if user.about %}{{ user.about }}{% endif %}</textarea>
                                    <div class="user-about">
                                        {% trans 'Tell hosts and guests about yourself and why you’re a responsible, trustworthy  person. Share your favorite travel experiences, your hobbies, your dream car, or your driving experience. Feel free to include links to your LinkedIn, Twitter, or Facebook profiles so they get to know you even better.' %}
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <div class="form-group">
                            <button type="submit"
                                    class=" hover-pink profile-link btn-cta btn-rounded ng-binding">{% trans 'Update' %}</button>
                        </div>
                    </form>
                </div>

                <div class="col-md-6 group-account-right">
                    <div class="left-group-profile clearfix">
{#                        <div class="balance-parent clearfix">#}
{#                            <div class="balance clearfix">#}
{#                                <span> {% trans 'Balance' %}</span>: ${% if user.balance %} user.balance {% else %}#}
{#                                0 {% endif %}#}
{#                            </div>#}
{#                        </div>#}
                        <hr/>
                        <div class="verify-group">
                            <div class="verify-title">{% trans 'VERIFIED INFO' %}</div>
                            <div class="social-drive-group ">
                                <div class="social-share col-md-4">
                                    <i class="fa fa-facebook-f"></i>
                                    <a href="">{% trans 'Google account' %}</a>
                                </div>
                                <div class="social-share col-md-4">
                                    <i class="fa fa-google"></i>
                                    <a href="">{% trans 'Facebook account' %}</a>
                                </div>
                                <div class="approved-drive col-md-4">
                                    <a href="{% url 'approve-drive' user.id %}">{% trans 'Approved to drive' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <form method="post" enctype="multipart/form-data" id="update-billing">
                        {% csrf_token %}

                        <fieldset class="fieldset-group">

                            <div id="div_id_email" class="form-group">
                                <button type="submit"
                                        class="">{% trans 'Resend verification link' %}</button>

                                <label for="id_email" class="col-form-label  requiredField">
                                    {% trans 'Email' %}<span class="asteriskField">*</span>
                                </label>

                                <div class="">
                                    <input type="email" value="{{ user.email }}" name="email"
                                           class="emailinput form-control" required="" id="id_email">
                                </div>
                            </div>
                        </fieldset>
                    </form>


                    <div id="div_id_last_name" class="form-group">
                        <div class="verify-phone">
                            <button type="submit" class="">{% trans 'Verify phone number' %}</button>
                        </div>
                        <label for="id_last_name"
                               class="col-form-label ">
                            {% trans 'Phone Number' %}
                        </label>
                        <div class="">
                            <input type="tel" name="phone_number" id="phone2" maxlength="150" form="update-profile"
                                   value="{% if user.phone_number %}{{ user.phone_number }}{% endif %}"
                                   class="textinput textInput form-control"></div>
                    </div>

                    <hr/>
                    <div class="group clearfix row">
                        <div class="password-account col-md-4">
                            <label for="id_email" class="col-form-label  requiredField">
                                {% trans 'Password' %}<span class="asteriskField">*</span>
                            </label>
                            <div class="Password-change">
                                <a href="{% url 'password-change' %}" class="btn btn-default"> {% trans 'Update' %}</a>
                            </div>
                        </div>
                    </div>


                    <div class="group-notice">
                        <div class="mobile-notice">
                            <div class="text">
                                {% trans 'Mobile notifications' %}
                            </div>

                            <div class="pretty p-icon p-curve p-has-indeterminate">
                                <input type="checkbox" name="mobile_notice" form="update-profile"
                                       {% if user.mobile_notice %}checked{% endif %}/>
                                <div class="state">
                                    <i class="icon mdi mdi-check"></i>
                                    <label>{% trans 'Enable text message notifications' %}</label>
                                </div>
                                <div class="state p-is-indeterminate">
                                    <i class="icon mdi mdi-minus"></i>
                                    <label>{% trans 'Enable text message notifications' %}</label>
                                </div>
                            </div>

                        </div>

                        <div class="mobile-notice">
                            <div class="text">
                                {% trans 'Email notifications' %}
                            </div>

                            <div class="pretty p-icon p-curve p-has-indeterminate">
                                <input type="checkbox" name="email_notice" form="update-profile"
                                       {% if user.email_notice %}checked{% endif %}/>
                                <div class="state">
                                    <i class="icon mdi mdi-check"></i>
                                    <label>{% trans 'Promotions and announcements' %}</label>
                                </div>
                                <div class="state p-is-indeterminate">
                                    <i class="icon mdi mdi-minus"></i>
                                    <label>{% trans 'Promotions and announcements' %}</label>
                                </div>
                            </div>

                        </div>

                        <div class="mobile-notice">
                            <div class="text">
                                {% trans 'Transmission' %}
                            </div>


                            <div class="pretty p-icon p-curve p-pulse">
                                <input type="radio" name="transmission" form="update-profile"
                                       {% if not user.transmission %}checked{% endif %}>
                                <div class="state">
                                    <i class="icon mdi mdi-check"></i>
                                    <label> No, I am not an expert</label>
                                </div>
                            </div>


                            <div class="pretty p-icon p-curve p-pulse">
                                <input type="radio" name="transmission" form="update-profile"
                                       {% if user.transmission %}checked{% endif %}>
                                <div class="state">
                                    <i class="icon mdi mdi-check"></i>
                                    <label> Yes, I am an expert</label>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}
