{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load profile_header %}
{% block content %}
    {% load countries %}


        {% header userData=user user=user account='True' profile='True' %}

        <div class="container content-section content-account">
            {% get_countries as countries %}
            <form method="post" enctype="multipart/form-data" id="drive-view-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="CURRENT-ADDRESS">
                            {% trans 'LICENSE' %}
                        </div>

                        <div id="license_data" class="drive-license form-group">
                            <label for="license_number"
                                   class="col-form-label ">
                                {% trans 'License Number' %}
                            </label>

                            <div class="">
                                <input type="text" name="license_number"
                                       maxlength="30"
                                       value="{% if form.license_number.value %}{{ form.license_number.value }}{% endif %}"
                                       class="textinput textInput form-control" id="license_number">
                            </div>
                        </div>

                        <div class="drive-license form-group">
                            <label for="issuing_country"
                                   class="col-form-label ">
                                {% trans 'Issuing Country' %}
                            </label>

                            <div class="">
                                <select name="issuing_country" class="form-control">
                                    {% for country in countries %}
                                        <option
                                                {% if form.issuing_country.value and form.issuing_country.value == country.code %}
                                                    selected {% endif %}
                                                    value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select></div>
                        </div>

                        <div class="drive-license form-group">
                            <label for="date_of_issuance"
                                   class="col-form-label ">
                                {% trans 'Date of Issuance' %}
                            </label>
                            <span
                                    class="instraction-date">({% trans 'Month/Day/Year' %})</span>
                            <div class="">

                                <input type="date" name="date_of_issuance" maxlength="30"
                                       value="{% if form.date_of_issuance.value %}{{ form.date_of_issuance.value|date:"Y-m-d" }}{% endif %}"
                                       class="textinput textInput form-control" id="date_of_issuance"
                                       max="{{ date_now }}"></div>
                        </div>

                        <div class="drive-license form-group row">

                            <div class="col-md-4">
                                <label for="first_name"
                                       class="col-form-label ">
                                    {% trans 'First Name' %}
                                </label>

                                <div class=""><input type="text" name="first_name" maxlength="30"
                                                     value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{{ user.first_name }}{% endif %}"
                                                     class="textinput textInput form-control" id="first_name"></div>

                            </div>
                            <div class="col-md-4">
                                <label for="middle_name"
                                       class="col-form-label ">
                                    {% trans 'Middle Name' %}
                                </label>
                                <div class=""><input type="text" name="middle_name" maxlength="30"
                                                     value="{% if form.middle_name.value %}{{ form.middle_name.value }}{% endif %}"
                                                     class="textinput textInput form-control" id="middle_name"></div>
                            </div>
                            <div class="col-md-4">
                                <label for="last_name"
                                       class="col-form-label ">
                                    {% trans 'Last Name' %}
                                </label>
                                <div class=""><input type="text" name="last_name" maxlength="30"
                                                     value="{% if form.last_name.value %}{{ form.last_name.value }}{% else %}{{ user.last_name }}{% endif %}"
                                                     class="textinput textInput form-control" id="last_name"></div>
                            </div>
                        </div>


                        <div class="drive-license form-group">
                            <label for="date_of_birth"
                                   class="col-form-label ">
                                {% trans 'Date of Birth' %}
                            </label>
                            <span class="instraction-date">({% trans 'Month/Day/Year' %})</span>


                            <div class="">
                                <input type="date" name="date_of_birth" maxlength="30"
                                       value="{% if form.date_of_birth %}{{ form.date_of_birth.value|date:"Y-m-d" }}{% endif %}"
                                       class="textinput textInput form-control" id="date_of_birth" max="{{ date_now }}">
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit"
                                    class="btn btn-primary hover-pink btn-cta btn-rounded ng-binding">{% trans 'Update' %}</button>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <div class="CURRENT-ADDRESS">
                            {% trans 'CURRENT ADDRESS' %}
                        </div>
                        <div class="drive-license form-group">
                            <label for="current_country"
                                   class="col-form-label ">
                                {% trans 'Country' %}
                            </label>

                            <div class="">
                                <select name="current_country" class="form-control">
                                    {% for country in countries %}
                                        <option
                                                {% if form.current_country.value and form.current_country.value == country.code %}
                                                    selected {% endif %}
                                                    value="{{ country.code }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="drive-license form-group">
                            <label for="current_street_address"
                                   class="col-form-label ">
                                {% trans 'Street Address' %}
                            </label>

                            <div class=""><input type="text" name="current_street_address"
                                                 maxlength="30"
                                                 value="{% if form.current_street_address.value %}{{ form.current_street_address.value }}{% endif %}"
                                                 class="textinput textInput form-control" id="current_street_address">
                            </div>
                        </div>

                        <div class="drive-license form-group">
                            <label for="current_city"
                                   class="col-form-label ">
                                {% trans 'Current City' %}
                            </label>

                            <div class=""><input type="text" name="current_city" maxlength="30"
                                                 value="{% if form.current_city.value %}{{ form.current_city.value }}{% endif %}"
                                                 class="textinput textInput form-control" id="current_city"></div>
                        </div>

                        <div class="drive-license form-group">
                            <label for="current_state_province_reqion"
                                   class="col-form-label ">
                                {% trans 'State/Province/Reqion' %}
                            </label>

                            <div class=""><input type="text" name="current_state_province_reqion"
                                                 maxlength="30"
                                                 value="{% if form.current_state_province_reqion.value %}{{ form.current_state_province_reqion.value }}{% endif %}"

                                                 class="textinput textInput form-control"
                                                 id="current_state_province_reqion"></div>
                        </div>

                        <div class="drive-license form-group">
                            <label for="current_postal_code"
                                   class="col-form-label ">
                                {% trans 'Postal Code' %}
                            </label>

                            <div class=""><input type="text"
                                                 name="current_postal_code"
                                                 maxlength="30"
                                                 value="{% if form.current_postal_code.value %}{{ form.current_postal_code.value }}{% endif %}"
                                                 class="textinput textInput form-control" id="current_postal_code">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>


{% endblock content %}
