{% extends 'layouts/login.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <h1 class="ng-binding ng-scope">Sign in</h1>

    <form name="form"
          style="margin-bottom: 40px;" method="post"
          class="ng-pristine ng-scope ng-valid-email ng-invalid ng-invalid-required ng-valid-input">
        {% csrf_token %}

        <div class="form-group sexy-placeholder"
             ng-class="{'has-error':form.$submitted &amp;&amp; form.email.$invalid }"><input
                sexy-placeholder="" type="email" id="email" name="email"
                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                class="form-control ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-input ng-touched"
                required="" ng-model="auth.email" autofocus="" style="">
            <label for="email"
                   class="ng-binding">Email</label>
        </div>
        <div class="form-group sexy-placeholder"
             ng-class="{'has-error':form.$submitted &amp;&amp; form.password.$invalid }"
             style="margin-bottom: 25px;">
            <input sexy-placeholder="" type="password" id="password"
                   name="password"
                   class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                   required="" ng-model="auth.password">
            <label for="password" class="ng-binding">Password</label>
        </div>
        <div class="form-group">
            <ul class="list-inline">
                <li>
                    <button type="submit" class="btn btn-primary btn-cta btn-rounded ng-binding">
                        Submit
                    </button>
                </li>
                <li><a class="btn btn-link btn-sm" ui-sref="forgot-password"
                       href="{% url 'password_reset' %}">Forgot password?</a></li>
            </ul>
        </div>
    </form>
    <p style="font-size: 12.8px" class="ng-binding ng-scope"> Not yet registered on TravelCar? <a
            ui-sref="sign-up($stateParams)" class="ng-binding"
            href="/auth/register">Sign up here</a></p>

{% endblock content %}
