{% extends 'layouts/login.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block content %}



    <h1 class="ng-binding ng-scope">Change Your password</h1>
    <form style="margin-bottom: 40px;"
          class="" method="post">
        {% csrf_token %}

        <div class="form-group sexy-placeholder"
             ng-class="{'has-error': form.$submitted &amp;&amp; form.firstName.$invalid }">

            <input
                    sexy-placeholder="" type="password" id="id_old_password" name="old_password"
                    value="{% if form.old_password.value %}{{ form.old_password.value }}{% endif %}"
                    class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                    ng-model="auth.id_old_password" required="">

            <label for="firstName" class="ng-binding">Old
                Password</label>
        </div>

        <div class="form-group sexy-placeholder"
             ng-class="{'has-error': form.$submitted &amp;&amp; form.new_password.$invalid }">
            <input
                    sexy-placeholder="" type="password" id="new_password" name="new_password1"
                    value="{% if form.new_password1.value %}{{ form.new_password1.value }}{% endif %}"
                    class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                    ng-model="auth.new_password" required="">

            <label for="new_password" class="ng-binding">New password:</label>
        </div>

        <div class="form-group sexy-placeholder"
             ng-class="{'has-error': form.$submitted &amp;&amp; form.firstName.$invalid }">

            <input
                    sexy-placeholder="" type="password" id="new_password2" name="new_password2"
                    value="{% if form.new_password2.value %}{{ form.new_password2.value }}{% endif %}"
                    class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                    ng-model="auth.new_password2" required="">

            <label for="firstName" class="ng-binding">Password (again)</label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-cta btn-rounded ng-binding">Change
            </button>
        </div>
    </form>

{% endblock content %}
