{% extends 'layouts/login.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
    <h1 class="ng-binding ng-scope">{% trans 'Reset password' %}</h1>

    <div class="content-section" id="reset-password">
        <form name="form"
              style="margin-bottom: 40px;" method="post"
              class="ng-pristine ng-scope ng-valid-email ng-invalid ng-invalid-required ng-valid-input">
            {% csrf_token %}

            <div class="form-group sexy-placeholder"
                 ng-class="{'has-error':form.$submitted &amp;&amp; form.email.$invalid }">

                <input type="password" name="new_password1" class="textinput textInput form-control" required=""
                       id="id_new_password1">

                <label for="email"
                       class="ng-binding">New password*</label>
            </div>

            <div class="form-group sexy-placeholder"
                 ng-class="{'has-error':form.$submitted &amp;&amp; form.email.$invalid }">

                <input type="password" name="new_password2" class="textinput textInput form-control" required=""
                       id="id_new_password2">

                <label for="email"
                       class="ng-binding">New password confirmation*</label>
            </div>
            <div class="form-group">
                <ul class="list-inline">
                    <li>
                        <button type="submit" class="btn btn-primary btn-cta btn-rounded ng-binding">
                            Submit
                        </button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
{% endblock content %}




