{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% load profile_header %}
{% block content %}

    {% header userData=userData user=user edit_acctount='True' profile='True' %}

    <div class="container content-section  content-account">
        <div class="container">
            <div class="row">
                <div class="col-md-5  col--sm5 left-group-profile">
                    {% load short_content %}
                    <div class="name">
                        <h2>{% cut_title userData.last_name|capfirst 2 %}.{{ userData.first_name|capfirst }}</h2>
                    </div>
                    <div class="date">
                        <span>{% trans 'Joined' %} {{ userData.date_joined|date:"M Y" }}</span>
                    </div>

                    <div class="verify-group">
                        <div class="verify-title">{% trans 'VERIFIED INFO' %}</div>
                        <div class="float-group">
                            <table>
                                <tr>
                                    {% if userData.approved_to_drive %}
                                        <td class="odd">{% trans 'Approved to drive' %}</td>
                                        <td class="even"><i class="fa fa-check-circle"></i></td>
                                    {% else %}

                                        {% if userData == user %}
                                            <td class="odd">{% trans 'Approved to drive' %}</td>
                                            <td class="even">
                                                <a href="{% url 'approve-drive' user.id %}">
                                                    {% trans 'Verify ID' %}
                                                </a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if userData.email %}
                                        <td class="odd">{% trans 'Email address' %}</td>
                                        <td class="even"><i class="fa fa-check-circle"></i></td>
                                    {% else %}

                                        {% if userData == user %}
                                            <td class="odd">{% trans 'Verify Email' %}</td>
                                            <td class="even">
                                                <a href="{% url 'account' user.id %}">
                                                    {% trans 'Verify Email' %}
                                                </a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>

                                <tr>
                                    {% if userData.phone_number %}
                                        <td class="odd">{% trans 'Phone number' %}</td>
                                        <td class="even"><i class="fa fa-check-circle"></i></td>
                                    {% else %}

                                        {% if userData == user %}
                                            <td class="odd">{% trans 'Verify phone number' %}</td>
                                            <td class="even">
                                                <a href="{% url 'account' user.id %}">
                                                    {% trans 'Verify phone number' %}
                                                </a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if userData.facebook %}
                                        <td class="odd">{% trans 'Facebook' %}</td>
                                        <td class="even"><i class="fa fa-check-circle"></i></td>
                                    {% else %}

                                        {% if userData == user %}
                                            <td class="odd">{% trans 'Facebook' %}</td>
                                            <td class="even">
                                                <a href="{% url 'account' user.id %}">
                                                    {% trans 'Connect account' %}
                                                </a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            </table>
                        </div>
                    </div>
                    {% if userData == user %}
                        <div class="description-profile">
                            {% trans 'Build trust with other users on Sharoo by verifying your contact information.' %}
                        </div>
                    {% endif %}

                    {% if userData.languages %}
                        <div class="info-group">
                            <div class="works-label">
                                {% trans 'LANGUAGES' %}
                            </div>
                            <div class="info">
                                {{ userData.languages }}
                            </div>
                        </div>
                    {% endif %}

                    {% if userData.works %}
                        <div class="info-group">
                            <div class="works-label">
                                {% trans 'WORKS' %}
                            </div>
                            <div class="info">
                                {{ userData.works }}
                            </div>
                        </div>
                    {% endif %}


                    {% if userData.school %}
                        <div class="info-group">
                            <div class="works-label">
                                {% trans 'SCHOOL' %}
                            </div>
                            <div class="info">
                                {{ userData.school }}
                            </div>
                        </div>
                    {% endif %}

                </div>
                <div class="col col-md-6">
                    {% if userData.about %}
                        <div class="about-person">
                            <div class="title-person">
                                {% trans 'ABOUT' %} {% cut_title userData.last_name|capfirst 2 %}.{{ userData.first_name|capfirst }}
                            </div>
                        </div>
                        <div class="about-text">
                            {{ userData.about }}
                        </div>
                    {% endif %}

                    <div class="review">
                        <div class="review-section"><h2
                                class="header review-header header--7">
                            {% trans 'Reviews from hosts' %}
                        </h2>
                            <div class="media">
                                <div class="media-item"></div>
                                <div class="media-body review-body">
                                    {% load image %}
                                    <div class="img-review">
                                        <img class="rounded-circle review-img"
                                             src="{% image_url '' 'profile' 'small' %}">
                                    </div>

                                    <div class="content-review">
                                        <div class="starRating">
                                            <div class="starRating-rating starRating-rating--gray">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <p class="review-none">No reviews yet</p>
                                        <p class="review-message">david hasn’t taken their first trip on Sharoo
                                            yet.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
