{% extends 'layouts/login.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block content %}

                    <h1 class="ng-binding ng-scope">Enter your personal information</h1>
                    <form style="margin-bottom: 40px;"
                          class="" method="post">
                        {% csrf_token %}

                        <div class="form-group sexy-placeholder"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.firstName.$invalid }"><input
                                sexy-placeholder="" type="text" id="firstName" name="first_name"
                                value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
                                ng-model="auth.firstName" required="">

                            <label for="firstName" class="ng-binding">First
                                name</label></div>
                        <div class="form-group sexy-placeholder"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.lastName.$invalid }"><input
                                sexy-placeholder="" type="text" id="lastName" name="last_name"
                                value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched"
                                ng-model="auth.lastName" required="" style="">


                            <label for="lastName" class="ng-binding">Last
                                name</label></div>
                        <div class="form-group sexy-placeholder"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.email.$invalid }"><input
                                sexy-placeholder="" type="email" id="email" name="email"
                                value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required ng-valid-input"
                                ng-model="auth.email" required="">
                            <label for="email" class="ng-binding">Email</label>
                        </div>
                        <div class="form-group sexy-placeholder"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.phone.$invalid }">
                            <div class="input-group ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-valid-phone"
                                 ng-model="auth.phoneNumber" id="phone" name="phone" required="required">

                                <input type="tel" id="phone2" name="phone_number"
                                       value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}">

                            </div>
                        </div>
                        <div class="form-group sexy-placeholder"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.password.$invalid }"><input
                                password-policy="" sexy-placeholder="" type="password" id="password" name="password1"
                                class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-invalid-size ng-invalid-number ng-valid-lower-case-letter ng-invalid-upper-case-letter"
                                ng-model="auth.password" required="">
                            <label for="password"
                                   class="ng-binding">Password</label>
                        </div>
                        <div class="form-group sexy-placeholder"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.password.$invalid }"><input
                                password-policy="" sexy-placeholder="" type="password" id="password" name="password2"
                                class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-invalid-size ng-invalid-number ng-valid-lower-case-letter ng-invalid-upper-case-letter"
                                ng-model="auth.password" required="">
                            <label for="password"
                                   class="ng-binding">Repeat Password</label>
                        </div>
                        <div class="form-group form-group-sm"
                             ng-class="{'has-error': form.$submitted &amp;&amp; form.terms.$invalid }">
                            <div class="checkbox">
                                <input type="checkbox" id="terms" name="terms" ng-model="terms" checked="checked"
                                       required=""
                                       class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required">
                                <label for="terms" style="font-size: 14px;" class="ng-binding">I accept terms and
                                    conditions of use</label></div>
                        </div>

                        <div class="phone_valid">
                            <input type="hidden" id="validate_phone" name="validate_phone">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-cta btn-rounded ng-binding">Register
                            </button>
                        </div>
                    </form>

{% endblock content %}
