{% load static %}
<link href="{% static 'js/alertifyjs/css/alertify.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'build/css/intlTelInput.css' %}">
<link rel="stylesheet" href="{% static 'build/css/demo.css' %}">
<link rel="stylesheet" href="{% static 'css/frontent.css' %}">