{% load static %}
{% load alertify %}


<script type="text/javascript" src="{% static 'js/alertifyjs/alertify.min.js' %}"></script>

<script src="{% static 'js/frontend.js' %}"></script>

<script src="{% static 'js/price-minus-plus.js' %}"></script>

<script src="{% static 'js/google-map.js' %}"></script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5Q2wRX_t81J-96pVJyld2wdfwZrA5d44&libraries=places&callback=initAutocomplete"
        async defer></script>


{% alertify_content form %}
