{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<link href="{% static 'node_modules/bootstrap-fileinput/css/fileinput.css' %}" media="all" rel="stylesheet"
      type="text/css"/>

<link href="{% static 'node_modules/bootstrap-fileinput/themes/explorer-fas/theme.css' %}" media="all" rel="stylesheet"
      type="text/css"/>
<script src="{% static 'node_modules/bootstrap-fileinput/js/plugins/piexif.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/plugins/sortable.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/fileinput.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/locales/fr.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/js/locales/es.js' %}" type="text/javascript"></script>
<script src="{% static 'node_modules/bootstrap-fileinput/themes/fas/theme.js' %}" type="text/javascript"></script>


<script src="{% static 'js/fileinput.js' %}" type="text/javascript"></script>
