{% load static %}
<script src="{% static 'build/js/intlTelInput.js' %}"></script>
<script>

    var input = document.querySelector("#phone2"),
        validatePhone = document.querySelector("#validate_phone");

    if (input) {

        var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

        // initialise plugin
        var iti = window.intlTelInput(input, {
            allowExtensions: true,
            nationalMode: false,
            preventInvalidNumbers: true,
            autoHideDialCode: false,
            preferredCountries: ["ru", "us"],
            {#separateDialCode: true,#}
            {#allowDropdown: true,#}
            {#dropdownContainer: document.body,#}
            utilsScript: "{% static 'build/js/utils.js' %}",
        });

        var reset = function () {
            input.classList.remove("error");
            /*errorMsg.innerHTML = "";
            errorMsg.classList.add("hide");
            validMsg.classList.add("hide");*/
        };

        // on blur: validate
        input.addEventListener('blur', function () {
            reset();
            if (input.value.trim()) {
                if (iti.isValidNumber()) {
                    input.classList.remove("error");
                    validatePhone.value = true;
                } else {
                    input.classList.add("error");
                    validatePhone.value = false;
                }
            }
        });

        input.addEventListener('change', reset);
        input.addEventListener('keyup', reset);
        if (document.getElementById("phone2").value !== "") {
            validatePhone.value = true;
        }
    }
    /*errorMsg = document.querySelector("#error-msg"),
        validMsg = document.querySelector("#valid-msg"),*/

</script>
