{% load static %}
{% load i18n %}

<div class="background-profile drivers-background"></div>
<div class="container content-section profile-container-group">
    <div class="group">
        <div class="image">
            {% load image %}
            <div class="">
                <img class="rounded-circle account-img"
                     src="{% image_url kwargs.userData.profile.path 'profile' 'small' %}">
            </div>
        </div>
        <div class="profile">
            {% if kwargs.edit_acctount  and kwargs.user == kwargs.userData %}
                <a href="{% url 'account' kwargs.user.pk %}" class="profile-link">{% trans 'Edit Account' %}</a>
            {% endif %}

            {% if kwargs.account and kwargs.user == kwargs.userData %}
                <a href="{% url 'account' kwargs.user.pk %}" class="profile-link">{% trans 'Account' %}</a>
            {% endif %}

            {% if kwargs.save_account and kwargs.user == kwargs.userData %}
                <button type="submit" form="update-profile" class="profile-link">{% trans 'Save Account' %}</button>
            {% endif %}

            {% if kwargs.profile and kwargs.userData %}
                <a href="{% url 'profile-view' kwargs.userData.pk %}" class="cancel">{% trans 'Profile' %}</a>
            {% endif %}

            {% if kwargs.userData %}
                <a class=" btn-info car-view"
                   href="{% url 'car-wizards-view' kwargs.userData.pk %}">
                    {% trans 'All Cars' %}
                </a>
            {% endif %}

        </div>
    </div>
</div>